<% @title='Login' %>
<div class='grid'>
  <div class='col-1-6  bottom-spacer'>
    &nbsp;
  </div>
  <div class='col-4-6  bottom-spacer'>
  <fieldset id='login' class='shell-1-12'>
    <%= form_tag sessions_path do %>
      <div class='grid'>
        <div class='col-1-4  vertical-line-spacer faded'>
          <%= label_tag :email %>
        </div>
        <div class='col-3-4  vertical-line-spacer  no-r-pad'>
          <%= text_field_tag :email, params[:email], autofocus: true %>
        </div>

        <div class='col-1-4  bottom-spacer  faded'>
          <%= label_tag :password %>
        </div>
        <div class='col-3-4  bottom-spacer  no-r-pad'>
          <%= password_field_tag :password %>
        </div>

        <div class='col-1-4  bottom-spacer'>
          &nbsp;
        </div>
        <div class='col-3-4  vertical-line-spacer  no-r-pad'>
          <%= submit_tag "Log In", class: 'primary plain-button' %>
        </div>
      </div>
    <% end %>
  </fieldset>
  </div>
