<div class='h1print'>
  <%= template.invoice_name %>
</div>
<div class='res-longlease'>
  <br>
  <%= template.heading1 %>
</div>
<div class='col-1-3 inv-bold'>
  VAT Reg No <%= template.vat %>
</div>
<div class='col-1-3'>
 &nbsp;
</div>
<div class='col-1-3'>
  <%= template.address.road_no %>
  <%= template.address.road %><br>
  <%= template.address.town %><br>
  <%= template.address.county %><br>
  <%= template.address.postcode %><br>
  Tel: <%= template.phone %><br>
</div>
