<div class='print-only'>
  <div class='h1print'>
    <%= render file: 'invoice_texts/name.txt' %></div>
  <div class='h2print'>
    <br>Residential Lettings & Property Management
  </div>

  <div class='col-1-3 inv-bold'>
    VAT Reg No <%= render file: 'invoice_texts/vat.txt' %>
  </div>
  <div class='col-1-3'>
   &nbsp;
  </div>
  <div class='col-1-3'>
    <%= render file: 'invoice_texts/add1.txt' %><br>
    <%= render file: 'invoice_texts/add2.txt' %><br>
    <%= render file: 'invoice_texts/add3.txt' %><br>
    <%= render file: 'invoice_texts/postcode.txt' %><br>
    Tel: <%= render file: 'invoice_texts/phone.txt' %><br>
  </div>
</div>
