<div class='print-only margwide'>
  <% @sheet = Sheet.find(1) %>
  <%= render 'invoice_page1/print_invoice_heading',sheet: @sheet %>
  <%= render partial: 'invoice_page1/print_ref_date', locals: {property_object: property_object, date_object: date_object} %>
  <%= render 'invoice_page1/print_agent', object: property_object %>
  <%= render 'invoice_page1/print_property_address', object: property_object %>
  <%= render 'invoice_page1/print_accounts', items: AccountDecorator.new(property_object.account).abbrev_items %>

  <%= render partial: 'invoice_page1/print_section48',locals: {client: property_object.client, sheet: @sheet }%>
  <%= render 'invoice_page1/print_property_address', object: property_object %>
  <%= render partial: 'invoice_page1/print_ref_date_short', locals: {property_object: property_object, date_object: date_object} %>
  <%= render 'invoice_page1/print_from', object: property_object %>
  <%= render 'invoice_page1/print_short_accounts', items: AccountDecorator.new(property_object.account).abbrev_items %>
</div>
