<div class='h1print'>
  <%= sheet.invoice_name %>
</div>
<div class='res-longlease'>
  <br>
  <%= sheet.heading1 %>
</div>
<div class='col-1-3 inv-bold'>
  VAT Reg No <%= sheet.vat %>
</div>
<div class='col-1-3'>
 &nbsp;
</div>
<div class='col-1-3'>
  <%= sheet.address.road_no %>
  <%= sheet.address.road %><br>
  <%= sheet.address.town %><br>
  <%= sheet.address.county %><br>
  <%= sheet.address.postcode %><br>
  Tel: <%= sheet.phone %><br>
</div>
