<% dotted_line = "----------" %>
<% total = 0 %>

<div class='col-3-12'>
  Date
</div>
<div class='col-5-12'>
  Description
</div>
<div class='col-2-12'>
  Amount Due
</div>
<div class='col-2-12'>
  Balance Owing
</div>

<% items.each do |item| %>
 <% if item.due != 0 %>
    <% if item.charge_type != 'Balance carried forward' && item.running_balance != 0 %>

      <div class='col-3-12'>
      <%= item.date %>
      </div>
      <div class='col-5-12'>

      <% if item.charge_type == 'Balance carried forward' %>
       Arrears
      <% else %>
        <%= item.charge_type %>
        <%= item.account.charges[0].charge_structure.charged_in_name %>
        <%= item.account.charges[0].charge_structure.due_ons[0].month %>
      <% end %>

      </div>
      <div class='col-2-12 toright'>
        <%= item.due %>
      </div>
      <div class='col-2-12 toright'>
        <%= number_with_precision(total = total + item.running_balance,precision: 2) %>
      </div>

    <% end %>
  <% end %>
<% end %>

<div class='col-3-12'>
  &nbsp;
</div>
<div class='col-5-12'>
   &nbsp;
</div>
<div class='col-2-12 toright'>
  &nbsp;
</div>
<div class='col-2-12 toright'>
  <%= dotted_line %>
</div>

<div class='col-3-12'>
  &nbsp;
</div>
<div class='col-5-12'>
   Total now Owing
</div>
<div class='col-2-12 toright'>
&nbsp;
</div>
<div class='col-2-12 toright'>
  <%= number_with_precision(total,precision: 2) %>
</div>
