<% dotted_line = "----------" %>
<% total = 0 %>

<% items.each do |item| %>
   <% if item.due != 0 %>
      <% if item.charge_type != 'Balance carried forward' && item.balance != 0 %>

       <div class='col-3-12'>
        <%= item.date %>
      </div>
      <div class='col-5-12'>

        <% if item.charge_type == 'Balance carried forward' %>
         Arrears
        <% else %>
          <%= item.charge_type %>
          <%= item.account.charges[0].due_in %>
          <%= item.account.charges[0].due_ons[0].month %>
        <% end %>

      </div>
      <div class='col-1-3 toright'>
        <%= item.due %>
        <% number_with_precision(total = total + item.balance,precision: 2) %>
      </div>

    <% end %>
   <% end %>
  <% end %>

<div class='col-3-12'>
  &nbsp;
</div>
<div class='col-5-12'>
   &nbsp;
</div>
<div class='col-1-3 toright'>
  <%= dotted_line %>
</div>
<div class='col-3-12'>
&nbsp;
</div>
<div class='col-5-12'>
 Total now Owing
</div>
<div class='col-1-3 toright'>
<%= number_with_precision(total,precision: 2) %>
</div>
