<%= f.fields_for :notices do |f| %>
  <div class="grid">
<hr>      <div class='col-1-6 vertical-spacer grid-row'>
        <%= f.label :instruction %>
      </div>
      <div class='col-3-4 vertical-spacer'>
        <%= f.text_field :instruction %>
      </div>
      <div class='col-1-4 vertical-spacer'>
        <%= f.label :clause, "Item and Example" %>
      </div>
      <div class='col-1-4 vertical-spacer'>
        <%= f.text_field :clause %>
      </div>
      <div class='col-1-4 vertical-spacer'>
        <%= f.text_field :proxy %>
      </div>
    </div>
<% end %>
