<%= form_for invoice_text do |f| %>
  <%= render 'shared/errors', object: invoice_text %>

  <div id='invoice_text' class='Shell  u-padding-1-12'>

    <div class='col-23-24  grid-row  grid-label'>
      <h2><%= invoice_text.description %></h2>
    </div>
    <div class='col-1-24  no-r-pad'>
      <%= view_link invoice_text %>
      <div class='Bubble-point-right'><%= render 'bubbles/pt_2_view' %></div>
    </div>

    <% if invoice_text.page1? %>
      <%= render 'name_phone', f: f, parent: 'invoice_text', invoice_text: invoice_text %>
      <%= render 'addresses/form', f: f, parent: 'invoice_text', address: AddressDecorator.new(invoice_text.address) %>
      <%= render 'text_fields', f: f, parent: 'invoice_text', invoice_text: invoice_text %>
    <% else %>
      <%= render 'text_fields_heading', f: f, invoice_text: invoice_text %>
      <%= render 'guides/form', f: f %>
      <%= render 'text_fields', f: f, invoice_text: invoice_text %>
    <% end %>

    <div class='col-6-24  top-1-line-spacer'>&nbsp;</div>
    <div class='col-18-24  top-1-line-spacer'>
      <%= render 'forms/buttons', f: f, path: invoice_texts_path %>
    </div>
  </div>
<% end %>
