<div class='grid'>

  <div class='col-6-24  grid-row  bottom-spacer  grid-label'>
    <%= f.label :invoice_name, 'Company Name', class: 'required' %>
  </div>
  <div class='col-18-24  bottom-spacer'>
    <%= f.text_field :invoice_name %>
  </div>

  <div class='col-6-24  grid-row  bottom-spacer  grid-label'>
    <%= f.label :heading1, 'Main Heading', class: 'required' %>
  </div>
  <div class='col-18-24  bottom-spacer'>
    <%= f.text_field :heading1 %>
  </div>

  <div class='col-6-24  grid-row  bottom-spacer  grid-label'>
    <%= f.label :phone, 'Telephone', class: 'required' %>
  </div>
  <div class='col-18-24  bottom-spacer'>
    <%= f.text_field :phone %>
  </div>

  <div class='col-6-24  grid-row  bottom-spacer  grid-label'>
    <%= f.label :vat, 'VAT', class: 'required' %>
  </div>
  <div class='col-18-24  bottom-spacer'>
    <%= f.text_field :vat %>
  </div>

   <div class='col-6-24  grid-row  bottom-spacer  grid-label'>
    <%= f.label :heading2, 'Subheading', class: 'required' %>
  </div>
  <div class='col-18-24  bottom-spacer'>
    <%= f.text_field :heading2 %>
  </div>

</div>
