<div class="grid">

  <div class='col-6-24  grid-row  bottom-spacer  faded  ll-pad'>
    <%= f.label :invoice_name, 'Invoice Name' %>
  </div>
  <div class='col-18-24  bottom-spacer'>
    <%= f.text_field :invoice_name %>
  </div>

  <div class='col-6-24  grid-row  bottom-spacer faded  ll-pad'>
    <%= f.label :phone, 'Telephone' %>
  </div>
  <div class='col-18-24  bottom-spacer'>
    <%= f.text_field :phone %>
  </div>

  <div class='col-6-24  grid-row  bottom-spacer  faded  ll-pad'>
    <%= f.label :vat, 'VAT' %>
  </div>
  <div class='col-18-24  bottom-spacer'>
    <%= f.text_field :vat %>
  </div>
</div>
