<%= render 'heading_page1', invoice_text_page1: invoice_text_page1 %>

<div class='col-9-24  grid-row  inv-bold-headings  bottom-line-spacer'>
  <%= invoice_text_page1.heading2 %>
</div>
<div class='col-8-24  inv-bold-headings  bottom-line-spacer'>Property Ref:</div>
<div class='col-7-24  inv-bold-headings  bottom-line-spacer'>Date:</div>

<div class='grid-row  inv-advice  vertical-line-spacer'>
  We <%= invoice_text_page1.invoice_name %> ON BEHALF OF YOUR LANDLORD

  CLIENT NAME CLIENT ADDRESS

  <div><%= simple_format(invoice_text_page1.advice1) %></div>
  <%= invoice_text_page1.address.text %>
  <div class = 'grid-row  inv-advice-bold  vertical-line-spacer'>
    Remittance Advice
  </div>
  <%= simple_format(invoice_text_page1.advice2) %>
  <span class='sissors bottom-line-spacer'>&#9985;<%= "-" * 74 %></span>
</div>
