<% @title='Invoice Texts' %>

<div class='grid  Shell  u-padding-1-12'>

  <div class='col-4-24  grid-row  bottom-spacer  r-align'></div>
  <div class='col-17-24'>
    &nbsp;
    <div  id='help-me', data-skip='2',class='Bubble-down'>
      <%= render 'bubbles/pt_down_view' %>
    </div>
    <%= render 'bubbles/pay_box', line1: '*', line2: '*' %>
  </div>
  <div class='col-1-24'>
    &nbsp;
     <div class='Bubble-anchor'>
      <%= render 'bubbles/pt_down_edit', line1:'Edit Button', line2: 'Edits this page details' %>
    </div>
  </div>

  <% if @invoice_texts.present? %>
    <% @invoice_texts.each do |invoice_text| %>
      <div title='View' class='table-row' data-link='<%= invoice_text_path(invoice_text) %>'>

        <div class='col-4-24  grid-row  bottom-spacer  inherit-row  r-align'>
          <%= invoice_text.id %>
        </div>
        <div class='col-17-24  bottom-spacer  inherit-row'>
          <%= invoice_text.description %>
          <%= testing_link path: invoice_text_path(invoice_text) %>
        </div>
        <div class='col-1-24  bottom-spacer'><%= edit_link invoice_text, size: 'lg' %></div>
        <div class='col-2-24'>&nbsp;</div>
      </div>
    <% end %>
  <% end %> <!-- @invoice_texts.present? -->
</div>
