<% @title='Invoice Texts' %>
<%= render 'bubbles/search_account' %>

<div class='grid  Shell  u-padding-1-12'>

  <div class='col-6-24  grid-row'>&nbsp;</div>

  <div  id='help-me',  data-skip='0',  data-pay='1',  data-itext='1',   class='col-15-24  Bubble-anchor'>
    <%= render 'bubbles/help_2_view_inv_txt', line1: 'Invoice Text Details', line2: 'Chose a page for its details' %>
    &nbsp;
  </div>
  <div class='col-1-24  Bubble-anchor   r-align'>
    <%= render 'bubbles/help_4_edit', line1:'Edit Button', line2: 'Edits this page details' %>
    &nbsp;
  </div>

  <% if @invoice_texts.present? %>
    <% @invoice_texts.each do |invoice_text| %>
      <div title='View' class='table-row' data-link='<%= invoice_text_path(invoice_text) %>'>

        <div class='col-4-24  grid-row  bottom-spacer  inherit-row  r-align'>
          <%= invoice_text.id %>
        </div>
        <div class='col-17-24  bottom-spacer  inherit-row'>
          <%= invoice_text.description %>
          <%= testing_link path: invoice_text_path(invoice_text) %>
        </div>
        <div class='col-1-24  bottom-spacer'><%= edit_link invoice_text, size: 'lg' %></div>
        <div class='col-2-24'>&nbsp;</div>
      </div>
    <% end %>
  <% end %> <!-- @invoice_texts.present? -->
</div>
