<% @title='Invoice Texts' %>
<%= render 'bubbles/search_account' %>

<div class='grid  Shell  u-padding-1-12'>


  <div  id='help-me',  data-summit='4',  class='col-3-24  grid-row  Bubble-search'>
    <%= render 'bubbles/help_main',  pic: 'fa fa-eye  fa-lg', line1: 'Invoice Text Index', line2: 'The two pages of the invoice text hold the static framework for the invoices.', line3: 'The first page contains the heading and remittance advice. The second page is the notice to long leaseholders, the page used for ground rents.', line4: 'These pages can be  viewed and edited only. ', line5: 'Using the next button in this box will point you to the different buttons on this page and their usage.'%>
    &nbsp;
  </div>

  <div class='col-18-24  Bubble-anchor'>
    <%= render 'bubbles/help_2',  pic: 'fa fa-file-o  fa-lg',  line1: 'Invoice Text Details',  line2: 'Chose a page for its details' %>
    &nbsp;
  </div>

  <div class='col-1-24  Bubble-anchor'>
    <%= render 'bubbles/help_3',  pic: 'fa fa-edit  fa-lg',  line1:'Edit Button',  line2: 'Edits this page details' %>
    &nbsp;
  </div>

  <% if @invoice_texts.present? %>
    <% @invoice_texts.each do |invoice_text| %>
      <div title='View' class='table-row' data-link='<%= invoice_text_path(invoice_text) %>'>

        <div class='col-4-24  grid-row  bottom-spacer  inherit-row  r-align'>
          <%= invoice_text.id %>
        </div>
        <div class='col-17-24  bottom-spacer  inherit-row'>
          <%= invoice_text.description %>
          <%= testing_link path: invoice_text_path(invoice_text) %>
        </div>
        <div class='col-1-24  bottom-spacer'><%= edit_link invoice_text, size: 'lg' %></div>
        <div class='col-2-24'>&nbsp;</div>
      </div>
    <% end %>
  <% end %> <!-- @invoice_texts.present? -->
</div>
