<!-- for each of the properties what payments were made for year and month period -->
<% (accounts = client_payment.quarter_day_accounts(charge_months: batch_months.range)).each do |account| %>
<% property = account.property %>
  <div title='View' class='table-row' data-link='<%= property_path(property) %>'>

    <div class='col-3-24  grid-row  bottom-spacer  inherit-row  r-align'>
       <%= property.human_ref %>
    </div>
    <div class='col-2-24  bottom-spacer  inherit-row  r-align'>
      <%= format_empty_string_as_dash property.address.first_no %>
    </div>
    <div class='col-7-24  bottom-spacer  inherit-row'>
      <%= format_empty_string_as_dash property.address.first_text %>
    </div>
    <div class='col-5-24  bottom-spacer  inherit-row  nowrap'>
      <%= property.address.town %>
    </div>
    <div class='col-3-24  bottom-spacer  inherit-row  r-align'>
      <!-- charge_period.first_period  (6 months date_range) -->
      <%= to_decimal client_payment.account_period_total(account: account, year: year, month: batch_months.now) %>
    </div>
  </div>
<% end %>

<% if accounts.empty? %>
  <%= render 'information/grid', information: "The Client has no #{batch_months.to_s} properties." %>
<% end %>
