<% accounts.each do |account| %>
<% property = account.property %>
  <div title='View' class='table-row' data-link='<%= property_path(property) %>'>

    <div class='col-3-24  grid-row  bottom-spacer  inherit-row  r-align'>
       <%= property.human_ref %>
    </div>
    <div class='col-2-24  bottom-spacer  inherit-row  r-align'>
      <%= format_empty_string_as_dash property.address.first_no %>
    </div>
    <div class='col-7-24  bottom-spacer  inherit-row'>
      <%= format_empty_string_as_dash property.address.first_text %>
    </div>
    <div class='col-5-24  bottom-spacer  inherit-row  nowrap'>
      <%= property.address.town %>
    </div>
    <div class='col-3-24  bottom-spacer  inherit-row  r-align'>
      <%= number_with_precision(account.payments.date_range(range: client_payment.half_year_from(month: range_1)).sum(:amount) * -1, precision: 2) %>
    </div>
    <div class='col-3-24  bottom-spacer  inherit-row  r-align'>
      <%= number_with_precision(account.payments.date_range(range: client_payment.half_year_from(month: range_2)).sum(:amount) * -1, precision: 2) %>
    </div>
  </div>
<% end %>

<% if accounts.empty? %>
  <%= render 'information/grid', information: "The Client has no #{Date::ABBR_MONTHNAMES[range_1]}/#{Date::ABBR_MONTHNAMES[range_2]} properties." %>
<% end %>

<div class='col-15-24  grid-row  grid-footer-text  vertical-spacer'>
   &nbsp;
</div>
<div class='col-2-24  grid-footer-text  vertical-spacer'>
   Total
</div>
<div class='col-3-24  grid-footer-number  vertical-spacer  r-align'>
  <%= number_with_precision(client_payment.half_year_total(month: range_1), precision: 2) %>
</div>
<div class='col-3-24  grid-footer-number  vertical-spacer  r-align'>
  <%= number_with_precision(client_payment.half_year_total(month: range_2), precision: 2) %>
</div>
