<div class='col-1-6  grid-row'>
  &nbsp;
</div>
<div class='col-2-6  faded  c-align'>
  Mar/Sep
</div>
<div class='col-2-6  faded  c-align'>
  Jun/Dec
</div>


<div class='col-1-12  grid-row  grid-header  bottom-spacer'>
  Year
</div>
<div class='col-2-12  grid-header  bottom-spacer  r-align'>
  Mar
</div>
<div class='col-2-12  grid-header  bottom-spacer  r-align'>
  Sep
</div>
<div class='col-2-12  grid-header  bottom-spacer  r-align'>
  Jun
</div>
<div class='col-2-12  grid-header  bottom-spacer  r-align  no-r-pad'>
  Dec
</div>

<% client_payment.years.each do |year| %>
  <div class='col-1-12  grid-row  bottom-spacer'>
    <%= year %>
  </div>
  <div class='col-2-12  bottom-spacer  r-align'>
    <%= to_decimal client_payment.period_total(year: year, month: 3) %>
  </div>
  <div class='col-2-12  bottom-spacer  r-align'>
    <%= to_decimal client_payment.period_total(year: year, month: 9) %>
  </div>
  <div class='col-2-12   bottom-spacer  r-align'>
    <%= to_decimal client_payment.period_total(year: year, month: 6) %>
  </div>
  <div class='col-2-12  bottom-spacer  r-align  no-r-pad'>
    <%= to_decimal client_payment.period_total(year: year, month: 12) %>
  </div>
<% end %>
<div class='col-9-12  r-align  grid-footer-number  no-r-pad'>
  &nbsp;
</div>


