<% @title='Client Payments' %>

<div class='grid  shell'>

  <div class='col-21-24  grid-row  vertical-spacer'>  <!-- 1st column -->

    <div class='col-4-24  grid-row  faded  bottom-line-spacer'><h4>Client<h4></div>
    <div class='col-2-24  bottom-line-spacer'><h4><%= @client_payment.client.human_ref %></h4></div>
    <div class='col-18-24  bottom-line-spacer'>
      <h4><%= @client_payment.client.full_name %></h4>
    </div>

    <%= form_tag client_payment_path, class: 'no-print', id: 'client_payment', method: 'get' do %>

      <div class='col-4-24  grid-row  bottom-double-line-spacer  faded'>Payments in</div>
      <div class='col-20-24  bottom-double-line-spacer'>
        <%= select_tag 'years', options_for_select(@client_payment.years, selected: params[:years]), onchange: "$('#client_payment').submit();" %>
      </div>
    <% end %>
  </div> <!-- end of 1st column -->

  <div class='col-1-1  grid-row'>
    <div class='tabs'>
      <ul class='tab-links  no-print'>
         <li class='active'><a href="#mar-sep">March/September</a></li>
         <li><a href="#jun-dec">June/December</a></li>
      </ul>

      <div class='grid  shellq'>

        <div id="mar-sep" class="tab  active">
          <h4>Ground Rents Collected March/September <%= params[:years] %></h4>
          <%= render 'accounts_heading', mar: true, sep: true %>
          <%= render 'payments_made', accounts: @client_payment.mar_sep,
                                      client_payment: @client_payment,
                                      range_1: ClientPayment::MAR,
                                      range_2: ClientPayment::SEP %>
          <% if @client_payment.mar_sep.empty? %>
            <%= render 'information/grid', information: 'The Client has no Mar/Sep properties.' %>
          <% end %>
        </div> <!-- close #mar-sep -->

        <div id="jun-dec"  class="tab">
          <h4>Ground Rents Collected June/December <%= params[:years] %></h4>
          <%= render 'accounts_heading', jun: true, dec: true %>
          <%= render 'payments_made', accounts: @client_payment.jun_dec,
                                      client_payment: @client_payment,
                                      range_1: ClientPayment::JUN,
                                      range_2: ClientPayment::DEC %>
          <% if @client_payment.jun_dec.empty? %>
            <%= render 'information/grid', information: 'The Client has no Jun/Dec properties.' %>
          <% end %>
        </div> <!-- close #jun-dec -->
      </div> <!-- grid  shell tab-content  -->
    </div> <!-- close tabs -->

  </div> <!-- close grid-row  for tabs -->
</div> <!-- close grid  shell-->
