<% @title='Client Accounts' %>

<div class='grid  shell'>

  <div class='col-21-24  grid-row  vertical-spacer'>  <!-- 1st column -->

    <div class='col-1-4  grid-row  faded  bottom-line-spacer'>
      Client ID and Name
    </div>
    <div class='col-1-4  bottom-line-spacer'><%= @client_payment.client.human_ref %></div>
    <div class='col-2-4  bottom-line-spacer'>
      <%= @client_payment.client.full_name %>
    </div>

    <%= form_tag client_payment_path, id: 'client_payment', method: 'get' do %>
      <div class='col-5-24  grid-row  bottom-line-spacer'>Payments made in:</div>
      <div class='col-19-24  bottom-line-spacer'>
        <%= select_tag 'years', options_for_select(@client_payment.years, selected: params[:years]), onchange: "$('#client_payment').submit();" %>
      </div>
    <% end %>
  </div> <!-- end of 1st column -->

  <div class='col-1-1  grid-row'>
    <div class='tabs'>
      <ul class='tab-links'>
         <li class='active'><a href="#mar-sep">March/September</a></li>
         <li><a href="#jun-dec">June/December</a></li>
      </ul>

      <div class='grid  shell  tab-content'>

        <div id="mar-sep" class="tab  active">
          <h3>March/September Ground Rents <%= params[:years] %></h3>
          <%= render 'accounts_heading', mar: true, sep: true %>
          <%= render 'payments_made', accounts: @client_payment.mar_sep,
                                      range_1: @client_payment.mar_range,
                                      range_2: @client_payment.sep_range %>
          <% if @client_payment.mar_sep.empty? %>
            <%= render 'information/grid', information: 'The Client has no Mar/Sep properties.' %>
          <% end %>
        </div> <!-- close #mar-sep -->

        <div id="jun-dec"  class="tab">
          <h3>June/December Ground Rents</h3>
          <%= render 'accounts_heading', jun: true, dec: true %>
          <%= render 'payments_made', accounts: @client_payment.jun_dec,
                                      range_1: @client_payment.jun_range,
                                      range_2: @client_payment.dec_range %>
          <% if @client_payment.jun_dec.empty? %>
            <%= render 'information/grid', information: 'The Client has no Jun/Dec properties.' %>
          <% end %>
        </div> <!-- close #jun-dec -->
      </div> <!-- grid shell tab-content  -->
    </div> <!-- close tabs -->

  </div> <!-- close grid-row  for tabs -->
</div> <!-- close grid  shell-->
