<% debts.each do |debt| %>
  <%= debt_gen_form.fields_for :debts, debt do |debt_form| %>
  <tr>
    <td>
      <%= debt_form.label debt.account.property.human_id %>
      <%= debt_form.hidden_field :account_id %>
    </td>
    <td>
      <%= debt_form.label debt.charge.charge_type %>
      <%= debt_form.hidden_field :charge_id %>
    </td>
    <td>
      <%= debt_form.date_field :on_date %>
    </td>
    <td>
      <%= debt_form.text_field :amount %>
    </td>
  </tr>
  <% end %>
<% end %>