<%= form_tag new_debt_generator_path, method: 'get' do %>

<h3>Which properties to invoice?</h3>
<div class="field text half">
  <%= text_field_tag :search, params[:search], data: {autocomplete_source: search_properties_path}, autofocus:true  %>
  <%= submit_tag "Search", name: nil, class: 'search' %>
</div>

<h4>Search for new charges within the next 8 weeks <%= link_to ' or choose dates' %></h4>

<div class='field text half'>
  <%= hidden_field_tag :start_date, start_date(debt_generator) %>
  <%= hidden_field_tag :end_date, end_date(debt_generator) %>
</div>
<% end %>

