<h2>New Invoice</h2>

<%= render 'search'  %>
<%= form_for @debt_generator do |debt_gen_form| %>
  <%= render 'shared/errors', object: @debt_generator %>
  <%= debt_gen_form.hidden_field :search_string %>
  <%= debt_gen_form.hidden_field :start_date  %>
  <%= debt_gen_form.hidden_field :end_date %>
  <fieldset id='debt_generator' class='shell'>
  <br/>
  <h3>Property Charges to be invoiced.</h3>
  <table>
    <thead>
      <tr>
        <th>
          Id
        </th>
        <th>
          Charge
        </th>
        <th>
          Date
        </th>
        <th>
          Amount
        </th>
      </tr>
    </thead>
    <tbody>

     <%= render 'debts', debt_gen_form: debt_gen_form, debts: @debt_generator.debts %>

    </tbody>
</table>
<div>
  <%= debt_gen_form.submit %><span class = 'simple' ><%= link_to 'Cancel', debt_generators_path %></span>
</div>
<% end %>


