<% invoice_decorator = InvoiceDecorator.new(invoice) %>
<%= render 'templates/heading_page1', template: invoice.templates.first %>

<div class='grid-row col-1-12'>
  &nbsp;
</div>
<div class='col-4-12 inv-advice-bold vertical-spacer'>
  <%= invoice.templates.first.heading2 %>
</div>
<div class='col-4-12 inv-advice-bold vertical-spacer'>
  Property Ref: <%= invoice.property_ref %>
</div>
<div class='col-3-12 inv-advice-bold vertical-spacer'>
  Date <%= l invoice.invoice_date %>
</div>

<div class='grid-row col-3-24'>
  &nbsp;
</div>
<div class='col-21-24 vertical-spacer'>
  <%= simple_format(invoice.billing_address) %>
</div>
<div class='grid-row col-1-12'>
  &nbsp;
</div>
<div class='inv-advice-bold'>
  Property Address: <%= invoice.property_address %>
</div>

<%= render partial:'products/products',locals: { invoice: invoice } %>

<div class='grid-row col-24-24'>
  &nbsp;
</div>
<%= render partial: 'templates/print_section48',locals: {client: invoice.client_address, template: invoice.templates.first }%>
<div class='grid-row col-1-12'>
  &nbsp;
</div>
<div class='inv-advice-bold'>
  Property Address: <%= invoice.property_address %>
</div>
<div class='grid-row col-1-12'>
  &nbsp;
</div>
<div class='inv-advice-bold col-1-2'>
  Ref: <%= invoice.property_ref %>
 </div>
<div class='col-5-12 inv-advice-bold'>
  Due Date <%= l invoice.invoice_date %>
</div>

<%= render partial:'products/products_narrow',locals: { invoice: invoice } %>
