<% invoice_dec = InvoiceDecorator.new(invoice) %>
<div class='printbody'>
  <%= render 'invoice_texts/heading_page1', invoice_text_page1: invoice_dec.invoice_texts.first %>

  <div class='col-2-24  grid-row'>&nbsp;</div>
  <div class='col-7-24  inv-bold-headings'>
    <%= invoice_dec.invoice_texts.first.heading2 %>
  </div>
  <div class='col-8-24  inv-bold-headings'>
    Property Ref: <%= invoice_dec.property_ref %>
  </div>
  <div class='col-5-24  inv-bold-headings'>
    Date: <%= l invoice.invoice_date %>
  </div>
  <div class='col-2-24'>&nbsp;</div>

  <div class='col-3-24  grid-row'>&nbsp;</div>
  <div class='col-21-24  bottom-spacer'>
    <%= simple_format(invoice_dec.billing_address) %>
  </div>

  <div class='col-2-24  grid-row  bottom-spacer'>&nbsp;</div>
  <div class='col-22-24  inv-bold-headings'>
    Property Address: <%= invoice_dec.property_address %>
  </div>

  <%= render partial:'products/products',locals: { invoice: invoice } %>

  <div class='col-2-24  grid-row'>&nbsp;</div>
  <div class='col-20-24  inv-advice'>
    We <%= invoice_dec.invoice_texts.first.invoice_name.upcase %> ON BEHALF OF YOUR LANDLORD
    <div class='vertical-spacer'><%= invoice_dec.client_address %></div>
    <%= invoice_dec.invoice_texts.first.advice1 %>
    <%= invoice_dec.invoice_texts.first.address.text %>

    <div class = 'grid-row  inv-advice-bold  vertical-spacer'>
      Remittance Advice
    </div>
    <%= invoice_dec.invoice_texts.first.advice2 %>
    <div class='sissors  vertical-spacer'>&#9985;<%= "-" * 73 %></div>
  </div>
  <div class='col-2-24'>&nbsp;</div>

  <div class='col-2-24  grid-row  bottom-spacer'>&nbsp;</div>
  <div class='col-20-24  inv-bold-headings'>
    Property Address: <%= invoice_dec.property_address %>
  </div>
  <div class='col-2-24'>&nbsp;</div>

  <div class='col-2-24  grid-row  bottom-spacer'>&nbsp;</div>
  <div class='col-10-24  inv-bold-headings'>
    Ref: <%= invoice_dec.property_ref %>
  </div>
  <div class='col-10-24  inv-bold-headings'>
    Due Date <%= invoice_dec.earliest_date_due %>
  </div>
  <div class='col-2-24'>&nbsp;</div>

  <div class='col-2-24  grid-row  bottom-line-spacer'>&nbsp;</div>
  <div class='col-22-24  bottom-line-spacer'>
    From: <%= invoice_dec.billing_address %>
  </div>

  <%= render partial:'products/products_narrow',locals: { invoice: invoice } %>
</div>
