<% action = false if local_assigns[:action].nil? %>
<% invoice_decorator = InvoiceDecorator.new(invoice) %>
<% if action %>
  <div title='View single invoice' class='table-row' data-link='<%= invoice_path(invoice) %>'>
<% end %>

  <div class='col-2-24  grid-row  inherit-row  bottom-spacer  r-align'>
    <%= invoice_decorator.property_ref %>
  </div>
  <div class='col-6-24  inherit-row  bottom-spacer'>
    <%= invoice_decorator.billing_agent %>
  </div>
  <div class='col-7-24  inherit-row  bottom-spacer'>
    <%= invoice_decorator.billing_first_address_line %>
  </div>
  <div class='col-7-24  inherit-row  bottom-spacer'>
    <%= invoice_decorator.products_display %>
  </div>
<% if action %>
</div>
<% end %>
<div class='col-2-24  bottom-spacer  no-r-pad'>
  <% if action %>
    <%= link_to fa_icon('print lg'), print_invoice_path(invoice), title: 'Print' %>
  <% else %>
    &nbsp;
  <% end %>
</div>