<% invoice_dec = InvoiceDecorator.new(invoice) %>
<div class='printbody'>
  <%= render 'templates/heading_page1', template: invoice_dec.templates.first %>

  <div class='col-2-24 grid-row'>&nbsp;</div>
  <div class='col-7-24 inv-advice-bold'>
    <%= invoice_dec.templates.first.heading2 %>
  </div>
  <div class='col-8-24 inv-advice-bold'>
    Property Ref: <%= invoice_dec.property_ref %>
  </div>
  <div class='col-5-24 inv-advice-bold'>
    Date: <%= l invoice.invoice_date %>
  </div>
  <div class='col-2-24'>&nbsp;</div>

  <div class='col-3-24 grid-row'>&nbsp;</div>
  <div class='col-21-24 bottom-spacer'>
    <%= simple_format(invoice_dec.billing_address) %>
  </div>

  <div class='col-2-24 grid-row'>&nbsp;</div>
  <div class='col-22-24 inv-advice-bold'>
    Property Address: <%= invoice_dec.property_address %>
  </div>

  <div class='col-24-24 grid-row'>&nbsp;</div>

  <%= render partial:'products/products',locals: { invoice: invoice } %>

  <div class='col-24-24 grid-row'>&nbsp;</div>

  <div class='col-2-24 grid-row'>&nbsp;</div>
  <div class='col-20-24 inv-advice'>
    We <%= invoice_dec.templates.first.invoice_name.upcase %> ON BEHALF OF YOUR LANDLORD
    <br>
    <%= invoice_dec.client_address %>
    <br>
    <%= invoice_dec.templates.first.advice1 %>
    <%= invoice_dec.templates.first.address.text %>
    <p>
      <%= invoice_dec.templates.first.advice2 %>
    </p>
    <span class='sissors'>&#9985;<%= "-" * 65 %></span>
    <br>
  </div>
  <div class='col-2-24'>&nbsp;</div>

  <div class='col-2-24 grid-row'>&nbsp;</div>
  <div class='col-20-24 inv-advice-bold'>
    Property Address: <%= invoice_dec.property_address %>
  </div>
  <div class='col-2-24'>&nbsp;</div>

  <div class='col-24-24 grid-row'>&nbsp;</div>

  <div class='col-2-24 grid-row'>&nbsp;</div>
  <div class='col-10-24 inv-advice-bold'>
    Ref: <%= invoice_dec.property_ref %>
  </div>
  <div class='col-10-24 inv-advice-bold'>
    Due Date <%= invoice_dec.earliest_date_due %>
  </div>
  <div class='col-2-24'>&nbsp;</div>

  <%= render partial:'products/products_narrow',locals: { invoice: invoice } %>
  </div>

</div>
<div class='page-break grid-row col-24-24'>&nbsp;</div>
