<div class='col-1-1  grid-row  faded'>
  <h3>Deliver</h3>
</div>
<%= render 'invoices/header', action: action %>
<% run.deliver.each do |invoice| %>
  <%= render 'invoices/invoice', invoice: invoice, action: action %>
<% end %>
<%= render 'information/lacking', objects: run.deliver, message: 'No invoices will be delivered.' %>

<div class='col-1-1  grid-row  top-1-line-spacer  faded'>
  <h3>Retain</h3>
</div>
<%= render 'invoices/header', action: false, payment: :automatic %>
<% run.retain.each do |invoice| %>
  <%= render 'invoices/invoice', invoice: invoice %>
<% end %>
<%= render 'information/lacking', objects: run.retain, message: 'No invoices will be retained.' %>

<div class='col-1-1  grid-row  top-1-line-spacer  faded'>
  <h3>Ignore</h3>
</div>
<%= render 'invoices/header', action: false %>
<% run.forget.each do |invoice| %>
  <%= render 'invoices/invoice', invoice: invoice %>
<% end %>
<%= render 'information/lacking', objects: run.forget, message: 'No invoices will be ignored.' %>