<% @title='Invoicing' %>
<% dotted_line = "-------------" %>

<div class='grid shell'>

  <% @template = @invoice.templates.first %>

  <% invoice_decorator = InvoiceDecorator.new(@invoice) %>
  <%= render 'templates/heading_page1', template: @template %>

  <div class='grid-row col-1-12'>
     &nbsp;
  </div>
  <div class='col-4-12 inv-advice-bold vertical-spacer'>
    <%= @template.heading2 %>
  </div>
  <div class='col-4-12 inv-advice-bold vertical-spacer'>
    Property Ref:
  <%= @invoice.property_ref %>
  </div>
  <div class='col-3-12 inv-advice-bold vertical-spacer'>
    Date
    <%= l @invoice.invoice_date %>
  </div>

  <div class='grid-row col-3-24'>
     &nbsp;
  </div>
  <div class='col-21-24 vertical-spacer'>
    <%= @invoice.billing_address %>
  </div>

  <div class='grid-row col-1-12'>
     &nbsp;
  </div>
  <div class='inv-advice-bold'>
    Property Address:
    <%= @invoice.property_address %>
  </div>

  <%= render partial:'invoices/print_accounts',locals: { arrears: @invoice.arrears, items: @invoice.products} %>
  <p>
     &nbsp;
  </p>
  <%= render partial: 'templates/print_section48',locals: {client: @invoice.client, template: @template }%>

  <div>
    <div class='grid-row col-1-12'>
       &nbsp;
    </div>
    <div class='inv-advice-bold'>
      Property Address:
      <%= @invoice.property_address %>
     </div>
  </div>
  <div class='grid-row col-1-12'>
    &nbsp;
  </div>
  <div class='inv-advice-bold col-1-2'>
    Ref:
    <%= @invoice.property_ref %>
   </div>
  <div class='col-5-12 inv-advice-bold'>
    Due Date
    <%= l @invoice.invoice_date %>
  </div>

  <%= render partial:'invoices/print_short_accounts',locals: { arrears: @invoice.arrears, items: @invoice.products} %>

</div>
