<% @title='Arrears' %>

<% accounts = @records %>

<div class='grid  Shell  u-padding-1-25'>

  <%= form_tag arrears_path, method: 'get' do %>

    <div class='col-4-12  grid-row bottom-spacer'><h3>Accounts with arrears of at least:</h3></div>
    <div class='col-3-12  focus  cell  bottom-spacer  c-align  Panel'>
      <%= text_field_tag :arrears_search, params[:arrears_search], autofocus: true, class: 'width-9-12' %>
      <button type='submit' class='width-2-12  Button  ButtonIcon-action' id='payment-search' title='Arrears Search'>
        <%= fa_icon 'search lg' %>
      </button>
    </div>
    <div class='col-3-12  bottom-spacer'>&nbsp;</div>
  <% end %>

  <div class='col-2-24  grid-row  bottom-spacer  grid-header  r-align'>
    Property ID
  </div>
  <div class='col-5-24  bottom-spacer  grid-header'>Occupier</div>
  <div class='col-1-24  bottom-spacer  grid-header  r-align'>No</div>
  <div class='col-6-24  bottom-spacer  grid-header'>Address</div>
  <div class='col-5-24  bottom-spacer  grid-header'>Town</div>
  <div class='col-2-24  bottom-spacer  grid-header'>Client ID</div>
  <div class='col-3-24  bottom-spacer  grid-header  r-align'>
    Arrears (£)
  </div>

 <% accounts.each do |account|
      property = PropertyDecorator.new account.property %>

    <div title='View' class='table-row' data-link='<%= property_path(property.id) %>'>

      <div class='col-2-24  grid-row  bottom-spacer  inherit-row  r-align'>
        <%= property.human_ref %>
      </div>
      <div class='col-5-24  bottom-spacer  inherit-row'>
        <%= format_empty_string_as_dash property.occupiers %>
      </div>
      <div class='col-1-24  bottom-spacer  inherit-row  r-align'>
        <%= format_empty_string_as_dash property.address.first_no %>
      </div>
      <div class='col-6-24  bottom-spacer  inherit-row'>
        <%= format_empty_string_as_dash property.address.first_text %>
        <%= testing_link path: property_path(property) %>
      </div>
      <div class='col-5-24  bottom-spacer  inherit-row  nowrap'>
        <%= property.address.town %>
      </div>
      <div class='col-2-24  bottom-spacer  inherit-row'>
        <%= property.client_ref %>
      </div>
      <div class='col-3-24  bottom-spacer  inherit-row  r-align'>
        <%= to_decimal account.amount %>
      </div>
    </div>
  <% end %>
</div>
