<div class='h1print grid-row'>
  <%= template.invoice_name %>
</div>
<div class='res-longlease grid-row'>
  <br>
  <%= template.heading1 %>
</div>

<div class='col-2-24 grid-row'>&nbsp;</div>
<div class='col-15-24 inv-advice-bold'>
  VAT Reg No <%= template.vat %>
</div>
<div class='col-3-12 inv-advice-bold'>
  <%= simple_format(template.address.text, {}, wrapper_tag: 'div') %>
  Tel: <%= template.phone %>
</div>
