<div class=' grid-row  c-align  h1print'>
  <%= template.invoice_name %>
</div>

<div class='grid-row  c-align  h1print  bottom-spacer'>
  <%= template.heading1 %>
</div>

<div class='col-2-24  grid-row'>&nbsp;</div>
<div class='col-15-24  inv-bold-headings'>
  VAT Reg No <%= template.vat %>
</div>
<div class='col-3-12  inv-bold-headings'>
  <%= simple_format(template.address.text, {}, wrapper_tag: 'div') %>
  Tel: <%= template.phone %>
</div>
