<div class='h1print grid-row'>
  <%= template.invoice_name %>
</div>
<div class='res-longlease grid-row'>
  <br>
  <%= template.heading1 %>
</div>

<div class='grid-row col-1-12'>
 &nbsp;
</div>
<div class='col-8-12 inv-advice-bold'>
  VAT Reg No <%= template.vat %>
</div><div class=' inv-advice-bold col-3-12'>
  <%= simple_format(template.address.text, {}, wrapper_tag: 'div') %>
  Tel: <%= template.phone %><br>
</div>