<div class='h1print'>
  <%= template.invoice_name %>
</div>
<div class='res-longlease'>
  <br>
  <%= template.heading1 %>
</div>

<div class='grid-row col-1-12'>
 &nbsp;
</div>
<div class='col-8-12 inv-advice-bold'>
  VAT Reg No <%= template.vat %>
</div><div class=' inv-advice-bold col-3-12'>
  <%= template.address.road_no %>
  <%= template.address.road %><br>
  <%= template.address.town %><br>
  <%= template.address.county %><br>
  <%= template.address.postcode %><br>
  Tel: <%= template.phone %><br>
</div>
