<div class='c-align'>
  <%= @template.invoice_name %>
  <%= render 'invoice_page1/print_invoice_heading', template: @template %>
</div>

<p>
  <div class='col-1-3 grid-row'>
    <%= @template.heading2 %>
  </div>
  <div class='col-1-3'>
   Property Ref:
  </div>
  <div class='col-1-3'>
    Date:
</div>
</p>

<div class='grid-row'>
  <p>
    We <%= @template.invoice_name %> ON BEHALF OF YOUR LANDLORDS
    <br>
    CLIENT NAME CLIENT ADDRESS
    <%= @template.advice1 %>
  </p>
  <p>
    <%= simple_format(@template.advice2) %>
  </p>
</div>
