<%= render 'heading_p2_address', template: @template %>

<%= render 'heading_page2', template: @template %>

 <!-- render '/guides/guides_for_template', template: @template  -->

<%= render @template.guides %>

<div class='widemargin'>
  CLIENT'S ADDRESS
  <br>
  <%= simple_format(@template.advice1) %>
  <p>
  <%= simple_format(@template.advice2) %>
  </p>
</div>
