<% dotted_line = "-------------" %>
<p>
  &nbsp;
</p>
<div class='col-1-12 grid-row'>
  &nbsp;
</div>
<div class='inv-advice col-11-12'>
  We <%= template.invoice_name.upcase %> ON BEHALF OF YOUR LANDLORD
  <br>
  <%= client %>
  <br>
  <%= template.advice1 %>
  <%= template.address.road_no %>
  <%= template.address.road %>
  <%= template.address.town %>
  <%= template.address.county %>
  <%= template.address.postcode %>
  <p>
    <%= template.advice2 %>
  </p>
  <span class='sissors'>&#9985;<%= "#{dotted_line}#{dotted_line}#{dotted_line}#{dotted_line}" %></span>
  <br>
</div>
