<div class="grid">

  <div class='col-6-24  grid-row  bottom-spacer'>
    <%= f.label :heading1, '1st Heading' %>
  </div>
  <div class='col-18-24  bottom-spacer'>
    <%= f.text_field :heading1 %>
  </div>

  <div class='col-6-24  grid-row  bottom-spacer'>
    <%= f.label :heading2, '2nd Heading' %>
  </div>
  <div class='col-18-24  bottom-spacer'>
    <%= f.text_field :heading2 %>
  </div>

  <div class='col-6-24  grid-row  bottom-spacer'>
    <%= f.label :advice1, '1st Text Block' %>
  </div>
  <div class='col-18-24  bottom-spacer'>
    <%= f.text_area :advice1, size: "30x8" %>
  </div>

  <div class='col-6-24 grid-row  bottom-spacer'>
    <%= f.label :advice2, '2nd Text Block' %>
  </div>
  <div class='col-18-24  bottom-spacer'>
    <%= f.text_area :advice2, size: "30x8" %>
  </div>

</div>
