<% @title='Invoice Texts' %>

<div class='grid shell'>
  <div class='col-8-24  grid-row  bottom-spacer  grid-header  r-align'>
    Page number
  </div>
  <div class='col-6-24 grid-header'>Contains</div>
  <div class='col-9-24  grid-header  no-print'>Action</div>

  <% if @templates.present? %>
    <% @templates.each do |template| %>
      <div title='View' class='table-row' data-link='<%= template_path(template) %>'>
        <div class='col-8-24  grid-row  bottom-spacer  inherit-row r-align'>
          <%= template.id %>
        </div>
        <div class='col-6-24 bottom-spacer  inherit-row '>
          <%= template.description %>
          <%= testing_link path: template_path(template) %>
        </div>
        <nav class='col-1-24  bottom-spacer'><%= edit_link template %></nav>
        <div class='col-8-24  bottom-spacer  no-print'>&nbsp;</div>
      </div>
    <% end %>
  <% end %> <!-- @templates.present? -->
</div>
