<% @title='Invoice Texts' %>

<div class='grid shell'>
  <div class='col-8-24 vertical-spacer grid-header r-align'>
    Page number
  </div>
  <div class='col-10-24 grid-header'>
    Contains
  </div>
  <div class='col-6-24 grid-header'>
    Actions
  </div>

  <% if @templates.present? %>

    <% @templates.each do |template| %>

      <div title='View' class='table-row' data-link='<%= template_path(template) %>'>
        <div class='col-8-24 grid-row vertical-spacer inherit-row r-align'>
          <%= template.id %>
        </div>
        <div class='col-10-24 vertical-spacer inherit-row'>
         <%= template.description %>
        </div>
        <nav class='col-3-24 vertical-spacer'>
          <%= link_to fa_icon('edit lg'), edit_template_path(template), title: 'Edit' %>
        </nav>
        <nav class='col-3-24 vertical-spacer'>
          <%= link_to fa_icon('file lg'), template_path(template), title: 'View' %>
        </nav>
      </div>
    <% end %>
  <% end %>
</div>
