<% @title='Invoice Texts' %>

<div class='grid shell'>
  <div class='col-4-12 vertical-spacer grid-header r-align'>
    Page number
  </div>
  <div class='col-5-12 grid-header'>
    Contains
  </div>
  <div class='col-3-12 grid-header'>
    Actions
  </div>

  <% if @templates.present? %>

    <% @templates.each do |template| %>

      <div class='table-row' data-link='<%= template_path(template) %>'>
        <div class=' grid-row col-4-12 vertical-spacer inherit-row r-align'>
          <%= template.id %>
        </div>
        <div class='col-5-12 vertical-spacer inherit-row'>
         <%= template.description %>
        </div>
        <div>
          <nav class='col-3-12 vertical-spacer'>
            <%= link_to fa_icon('edit lg'), edit_template_path(template), title: 'Edit', class: 'r-pad' %>
            <%= link_to fa_icon('file lg'), template_path(template), title: 'View', class: 'r-pad' %>
          </nav>
        </div>

      </div>
    <% end %>
  <% end %>
</div>
