<div class='js-group-toggle'>
  <%= render 'entities/header' %>
  <%= f.fields_for :entities do |builder| %>
    <div id='<%= entity_field_id(entitieable, builder.index) %>' class='js-enclosed-toggle <%= "#{hide_extra_new_records record: builder.object, index: builder.index} " %>' >
      <div class='col-6-24  grid-row  bottom-spacer  spec-entity-count'>
        <%= builder.text_field :title, class: 'js-clear  width-1-1' %>
      </div>

      <div class='col-4-24  bottom-spacer'>
        <%= builder.text_field :initials, class: 'js-clear  width-1-1' %>
      </div>
      <div class='col-11-24  bottom-spacer'>
        <%= builder.text_field :name, class: 'js-clear  width-1-1' %>
      </div>
      <div class='col-3-24  bottom-spacer  no-r-pad'>
        <%= builder.hidden_field :_destroy %>
        <% if first_record? index: builder.index %>
          <%= delete_link title: 'Delete Person', disabled: true %>
        <% else %>
          <%= delete_link title: 'Delete Person', js_css: hide_or_destroy(record: builder.object), method: nil, data: false %>
        <% end %>
      </div>
    </div> <!-- js-enclosed-toggle -->
  <% end %>

  <div class='col-3-24  grid-row  bottom-spacer'>
    <%= add_link js_css: 'js-reveal-link', title: 'Add Person' %>
  </div>
</div> <!-- js-group-toggle -->
