<% @title='Client Accounts' %>

<div class='grid  shell'>
  <div class='col-1-24  grid-row  vertical-spacer'>&nbsp;</div>  <!-- 1st column -->

  <div class='col-20-24  vertical-spacer'>  <!-- 2nd column -->

    <div class='col-1-4  grid-row  faded  bottom-line-spacer'>
      Client ID and Name
    </div>
    <div class='col-1-4  bottom-line-spacer'><%= @client.human_ref %></div>
    <div class='col-2-4  bottom-line-spacer'>
      <%= @client.full_name %>
    </div>

    <%= form_tag client_path(@client), class: 'grid-row', method: 'get' do %>
      <div class='col-5-24  bottom-line-spacer'>Payments made between:</div>
      <div class='col-19-24  bottom-line-spacer'>
        <%= date_field_tag :start_date, params[:start_date], autofocus: true, class: 'width-9-24' %> and
        <%= date_field_tag :end_date, params[:end_date], autofocus: true, class: 'width-9-24' %>
        <button type='submit' class='width-4-24  no-print' id='credit_search' title='Credit Search'>
          <%= fa_icon('search lg') %>
        </button>
      </div>
    <% end %>

    <div class='col-1-1  grid-row  vertical-spacer  faded'>
      Ground Rents Collected
    </div>

    <div class='col-3-24  grid-row  bottom-spacer  grid-header  r-align'>
      ID
    </div>
    <div class='col-3-24  grid-header  bottom-spacer  r-align'>No</div>
    <div class='col-8-24  grid-header  bottom-spacer'>Address</div>
    <div class='col-7-24  grid-header  bottom-spacer'>Town</div>
    <div class='col-3-24  grid-header  bottom-spacer  r-align'>Amount</div>

    <% @client.properties.each do |property| %>
      <div title='View' class='table-row' data-link='<%= property_path(property) %>'>
        <div class='col-3-24  grid-row  bottom-spacer  inherit-row  r-align'>
           <%= property.human_ref %>
        </div>
        <div class='col-3-24  bottom-spacer  inherit-row  r-align'>
          <%= format_empty_string_as_dash property.address.first_no %>
        </div>
        <div class='col-8-24  bottom-spacer  inherit-row'>
          <%= format_empty_string_as_dash property.address.first_text %>
        </div>
        <div class='col-7-24  bottom-spacer  inherit-row  nowrap'>
          <%= property.address.town %>
        </div>
        <div class='col-3-24  bottom-spacer  r-align'>
          <%= property.account.credits.credited(range: params[:start_date]..params[:end_date] ).income %>
        </div>
      </div>
    <% end %>

    <% if @client.properties.empty? %>
      <%= render 'information/grid', information: 'The Client has no properties.' %>
    <% end %>
  </div>
 </div>
