<div id='help-0'  class='hide  bubble-intro'>
  <h3 class='help-heading'>
    <i class='<%= pic %> fa-lg  help-icon'></i>
    <%= line1 %>
  </h3>

  <div class='text-in-box'>
    <p><%= line2 %></p>
    <p><%= line3 %></p>
    <p><%= line4 %></p>
    <p><%= line5 %></p>
    <%= render 'bubbles/box' %>
  </div>
</div>
