<%= error_messages_for :model %>

<% form_for @model do |f| -%>

<% end -%><%= form_for sheet do |f| %>

  <fieldset id='sheet' class='shell'>

    <div class="grid">

      <div class='col-1-4 vertical-spacer'>
      <%= f.label :inv_name, 'Invoice Name' %>
      </div>
      <div class='col-3-4 vertical-spacer'>
      <%= f.text_field :inv_name %>
      </div>

      <%= render 'shared/address', f: f, parent: 'sheet', address: AddressDecorator.new(sheet.address) %>
    </div>

  </fieldset>

  <div class='no-print'>
    <%= f.submit %> or <%= link_to 'Cancel', sheets_path, class: 'warn' %>
  </div>
<% end %>
