<%= form_for sheet do |f| %>

  <div id='sheet' class='shell'>
    <%= render 'shared/errors', object: sheet %>
  <div class='col-1-2'>
    <h2><%= sheet.description %></h2>
  </div>
  <div class='col-1-2 no-r-pad'>
    <%= view_link(sheet) %>
  </div>

    <% if sheet.id == 1 %>
      <%= render 'name_phone', f: f, parent: 'sheet', sheet: sheet %>
      <%= render 'text_fields', f: f, parent: 'sheet', sheet: sheet %>
   `  <%= render 'addresses/form', f: f, parent: 'sheet', address: AddressDecorator.new(sheet.address) %>
    <% else %>
      <%= render 'text_fields', f: f, sheet: sheet %>
      <%= render 'notices/form', f: f %>
    <% end %>
    <div class='col-1-4 no-print'>
      &nbsp;
    </div>
      <div class='col-3-4 no-r-pad no-print'>
        <%= f.button submit: '', class: 'primary submit-button', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Updating Invoice Text..."} %> or <%= link_to 'Cancel', sheets_path, class: 'warn' %>
    </div>
  </div>
<% end %>
