<div class='c-align'>
  <%= Sheet.find(1).invoice_name %>
  <br>
  <%= render 'addresses/view_on_one_line', addressee: Sheet.find(1) %>
  <br>
  Tel: <%= Sheet.find(1).phone %>
  <br>
  VAT Reg No: <%= Sheet.find(1).vat %>
  <br>
   <%= @sheet.heading1 %>
  <br>
   <%= @sheet.heading2 %>
</div>
<br>
<% Sheet.find(2).notices.order(:id).each do  |note| %>
    <%= render '/sheets/instructions', count:note %>
<% end %>
<div class='widemargin'>
  CLIENT'S ADDRESS
  <br>
  <%= simple_format(@sheet.advice1) %>
  <p>
  <%= simple_format(@sheet.advice2) %>
  </p>
</div>
