<div class='c-align'>
  <%= @sheet.invoice_name %>
  <br>
  <%= render 'shared/show_1_line_address', addressee: @sheet %>
  <br>
  Tel: <%= @sheet.phone %>
  <br>
  VAT Reg No: <%= @sheet.vat %>
  <br>
</div>

<% Sheet.find(2).notices.order(:id).each do  |note| %>
    <%= render '/sheets/instructions', count:note %>
<% end %>
