<div class='c-align'>
  <%= @sheet.invoice_name %>
  <br>
  <%= @sheet.heading1 %>
 </div>

<div class='col-1-3'>
  VAT Reg No: <%= @sheet.vat %>
</div>
<div class='col-1-3'>
  &nbsp;
</div>
<div class='col-1-3'>
  <%= render 'shared/address_lines', lines: @sheet.address.address_lines %>
  Tel: <%= @sheet.phone %>
</div>
