<% @title='Sheets' %>

<div class='grid shell'>

  <div class='col-1-6 vertical-spacer'>
  </div>
  <div class='col-1-4 vertical-spacer grid-header '>
    Sheet Details
  </div>
  <div class='col-1-6 vertical-spacer grid-header'>
    &nbsp;
  </div>
  <div class='col-1-4 vertical-spacer grid-header'>
     Actions
  </div>
  <div class='col-1-6 vertical-spacer no-r-pad'>
  </div>

  <div class='col-1-6 vertical-spacer grid-row r-align'>
  </div>
  <div class='col-1-4 vertical-spacer'>
   Heading
   <br>
   Invoice Page
   <br>
   Notice of Ground Rent
  </div>
   <div class='col-1-6 vertical-spacer'>
  </div>
  <div>
    <nav class='col-1-4 vertical-spacer'>
      <%= link_to 'Edit', edit_sheet_path("1") %> |
      <%= link_to 'View', sheet_path("1") %>
      <br>
      <%= link_to 'Edit'%> |
      <%= link_to 'View' %>
      <br>
      <%= link_to 'Edit'%> |
      <%= link_to 'View' %>
    </nav>
  </div>
  <div class='col-1-6 vertical-spacer no-r-pad'>
 </div>
</div>
