<% @title='View Sheet' %>
<div class='shell'>

  <div class='grid'>

    <div class='col-1-6 vertical-spacer faded'>
    Name
    </div>
    <div class='col-5-6 vertical-spacer'>
     <%= @sheet.adams_name %>
    </div>

    <div class='col-1-6 vertical-spacer faded'>
    Street
    </div>
    <div class='col-5-6 vertical-spacer'>
     <%= @sheet.street %>
    </div>

    <div class='col-1-6 vertical-spacer faded'>
     District
    </div>
    <div class='col-5-6 vertical-spacer'>
     <%= @sheet.district %>
    </div>
    <div class='col-1-6 vertical-spacer faded'>
     County
    </div>
    <div class='col-5-6 vertical-spacer'>
     <%= @sheet.county %>
    </div>
    <div class='col-1-6 vertical-spacer faded'>
    Postcode
    </div>
    <div class='col-5-6 vertical-spacer'>
     <%= @sheet.postcode %>
    </div>

  </div>
</div>
