<!-- Payments grouped by date -->
<div class='grid-label'>
  <h2>Payments by Date</h2>
</div>

 <div class='col-2-24  grid-row  r-align'> &nbsp;</div>
    <div  id='help-me',  data-skip='0',  data-pay='0',  data-itext='0', class='no-print'>
      <%= render 'bubbles/help_2_view', line1: 'Payment Details', line2: 'Click on a date row for details of payments made on that date' %>
  </div>

<div class='col-10-24  grid-row  vertical-spacer  grid-header'>
  Booked At
</div>
<div class='col-4-24  vertical-spacer  grid-header'>Count</div>
<div class='col-10-24  vertical-spacer  grid-header  r-align'>Amount</div>

<% payments_by_dates.each do |payments_on_date| %>
  <div title='View' class='table-row  <%= payment_date date: payments_on_date[0] %> ' data-link='<%= payments_path(date: payments_on_date[0]) %>'>
    <div class='col-10-24  grid-row  bottom-spacer  inherit-row'>
      <%= format_short_date payments_on_date[0] %>
    </div>
    <div class='col-4-24  bottom-spacer inherit-row  r-align'>
      <%= payments_on_date[1] %>
    </div>
    <div class='col-10-24  bottom-spacer inherit-row  r-align'>
      <%= to_decimal(payments_on_date[2]) %>
    </div>
  </div>
<% end %>
