<%= form_for @user do |f| %>
  <fieldset id='user' class='shell'>
    <h3>User
    </h3>
    <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
       <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
   <div>
    <% end %>
   <div class='field text' >
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class='field text' >
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class='field text' >
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.check_box :admin %>
    <%= f.label :admin %>
  </div>
  </fieldset>
  <div>
    <%= f.submit %><span class = 'simple' ><%= link_to 'Cancel', users_path %></span>
  </div>
<% end %>
