<%= form_for user do |f| %>
  <%= render 'shared/errors', object: user %>

  <fieldset id='user' class='shell'>
     <h3>User</h3>
     <div class='field text' >
       <%= f.label :email %>
       <%= f.text_field :email %>
    </div>
    <div class='field text' >
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class='field text' >
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="grid">
      <div class='col-1-6'>
        <%= f.label :admin, 'Admin Status' %>
      </div>
      <div class='col-1-12'>
        <%= f.check_box :admin %>
      </div>
    </div>
  </fieldset>
  <div>
    <%= f.submit %><span class='simple_button'><%= link_to 'Cancel', users_path %></span>
  </div>
<% end %>
