<%= form_for user do |f| %>
  <%= render 'shared/errors', object: user %>

  <fieldset id='user' class='grid  shell-1-12'>
    <div class='col-22-24  vertical-spacer spacer-column'>

      <div class='col-8-24  grid-row  bottom-spacer  faded'>
        <%= f.label :nickname %>
      </div>
      <div class='col-16-24  bottom-spacer'><%= f.text_field :nickname %></div>

      <div class='col-8-24  grid-row  bottom-spacer  faded'>
        <%= f.label :email %>
      </div>
      <div class='col-16-24  bottom-spacer'><%= f.text_field :email %></div>

      <div class='col-8-24  grid-row  bottom-spacer  faded'>
        <%= f.label :password %>
      </div>
      <div class='col-16-24  bottom-spacer'>
        <%= f.password_field :password %>
      </div>

      <div class='col-8-24  grid-row  bottom-spacer  faded'>
          <%= f.label :password_confirmation %>
      </div>
      <div class='col-16-24  bottom-spacer'>
        <%= f.password_field :password_confirmation %>
      </div>

      <div class='col-8-24  grid-row  bottom-spacer  faded'>
        <%= f.label :admin, 'Admin Status' %>
      </div>
      <div class='col-16-24  bottom-spacer'><%= f.check_box :admin %></div>

      <div class='col-8-24  grid-row  top-line-spacer  no-print'>&nbsp;</div>
      <div class='col-16-24  top-line-spacer  no-print'>
        <%= render 'forms/buttons', f: f, path: users_path %>
      </div>

    </div>
    <div class='col-2-24  spacer-column'>
      <%= view_link user, size: '2x' %>
    </div>
  </fieldset>
<% end %>
