<% @title='Users' %>

<div class='grid shell'>
  <div class='col-2-24  grid-row  bottom-spacer  grid-header'>&nbsp;</div>
  <div class='col-4-24  bottom-spacer  grid-header'>Nickname</div>
  <div class='col-10-24 bottom-spacer  grid-header'>email</div>
  <div class='col-2-24  bottom-spacer  grid-header  r-align'>Admin</div>
  <div class='col-4-24  bottom-spacer  grid-header  no-print'>Actions</div>
  <div class='col-2-24  bottom-spacer  grid-header'>&nbsp;</div>

  <% @users.each do |user| %>
    <div title='View' class='table-row' data-link='<%= user_path(user) %>'>
      <div class='col-2-24  grid-row  bottom-spacer  inherit-row'>&nbsp;</div>
      <div class='col-4-24  bottom-spacer  inherit-row'>
       <%= user.nickname %>
      </div>
      <div class='col-10-24 bottom-spacer  inherit-row'><%= user.email %></div>
      <div class='col-2-24  bottom-spacer  inherit-row  r-align'>
        <% if user.admin %>
          Yes
        <% else %>
          No
        <% end %>
        <%= link_to '.', user_path(user), class: 'view-testing-link' %>
      </div>
    </div>
    <div class='col-2-24  bottom-spacer  no-print'><%= edit_link user %></div>
    <div class='col-2-24  bottom-spacer  no-print'>
      <%= delete_link user %>
    </div>
    <div class='col-2-24  bottom-spacer'>&nbsp;</div>
  <% end %>
</div>
