<% @title='Users' %>

<div class='grid shell'>

  <div class='col-1-6 vertical-spacer grid-header r-align'>
    ID
  </div>
  <div class='col-1-3 vertical-spacer grid-header'>
   email
  </div>
  <div class='col-1-6 vertical-spacer grid-header r-align'>
   Admin
  </div>
  <div class='col-1-3 vertical-spacer grid-header no-r-pad'>
    Actions
  </div>

  <% @users.each do |user| %>

    <div class='col-1-6 vertical-spacer r-align'>
      <%= link_to user.id, edit_user_path(user) %>
    </div>
    <div class='col-1-3 vertical-spacer'>
     <%= user.email %>
    </div>
    <div class='col-1-6 vertical-spacer r-align'>
      <% if user.admin %>
        Yes
      <% else %>
        No
      <% end %>
    </div>
    <div class='col-1-3 vertical-spacer no-r-pad'>
      <%= link_to 'Edit', edit_user_path(user) %> |
      <%= link_to 'View', user_path(user) %> |
      <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>

</div>
