<% @title='Users' %>
<%= render 'bubbles/search_account' %>

<div class='grid  Shell  u-padding-1-12'>

  <div  id='help-me',  data-summit='5',  class='col-4-24  grid-row  Bubble-search'>
    <%= render 'bubbles/help_main',  pic: 'fa fa-eye  fa-lg', line1: 'User Details', line2: 'This is the user index.', line3: 'Clicking on a user name will lead you to visit the user details. The edit button allows editing of user details.', line4: 'The print button allows printing of this list. At no time is there a print made of passwords.', line5: 'Using the next button in this box will point you to the different buttons on this page and their usage.'%>
    &nbsp;
  </div>
  <div class='col-14-24  Bubble-pt-right'>
    <%= render 'bubbles/help_2_down',  pic: 'fa fa-file-o  fa-lg', line1: 'View User Details', line2: "Click on a user row for that user's details"%>
    &nbsp;
  </div>

  <div class='col-2-24  Bubble-anchor'>
    <%= render 'bubbles/help_3',  pic: 'fa fa-edit  fa-lg',  line1: 'Edit Button',  line2: "Edit user's details, prevents access"%>
    &nbsp;
  </div>
  <div class='col-1-24  Bubble-anchor'>
    <%= render 'bubbles/help_4',  pic: 'fa fa-trash-o  fa-lg',  line1: 'Delete Button',  line2: 'Deletes this user, prevents access' %>
    &nbsp;
  </div>

  <div class='col-4-24  grid-row  bottom-spacer  grid-header'>Nickname</div>
  <div class='col-11-24 bottom-spacer  grid-header'>Email</div>
  <div class='col-3-24  bottom-spacer  grid-header'>Role</div>
  <div class='col-6-24  bottom-spacer  grid-header  no-print'>Actions</div>

  <% @users.each do |user| %>
    <div title='View' class='table-row' data-link='<%= user_path(user) %>'>

      <div class='col-4-24  grid-row  bottom-spacer  inherit-row'>
        <%= user.nickname %>
      </div>
      <div class='col-11-24  bottom-spacer  inherit-row'><%= user.email %></div>
      <div class='col-3-24  bottom-spacer  inherit-row'>
        <%= user.role %>
        <%= testing_link path: user_path(user) %>
      </div>
    </div>
    <div class='col-1-24  bottom-spacer'><%= edit_link user, size: 'lg' %></div>
    <div class='col-1-24  bottom-spacer'>&nbsp;</div>
    <div class='col-1-24  bottom-spacer'><%= delete_link path: user %></div>
    <div class='col-3-24  bottom-spacer'>&nbsp;</div>
  <% end %>

</div>
