<% @title='Users' %>

<div class='grid shell'>

  <div class='col-1-12 vertical-spacer grid-header'>
    &nbsp;
  </div>
  <div class='col-2-12 vertical-spacer grid-header '>
    Nickname
  </div>
  <div class='col-5-12 vertical-spacer grid-header'>
   email
  </div>
  <div class='col-1-12 vertical-spacer grid-header r-align'>
   Admin
  </div>
  <div class='col-2-12 vertical-spacer grid-header no-print r-align'>
    Actions
  </div>
  <div class='col-1-12 vertical-spacer grid-header'>
    &nbsp;
  </div>

  <% @users.each do |user| %>
    <div class='table-row' data-link='<%= user_path(user) %>'>
      <div class='col-1-12 vertical-spacer grid-row inherit-row'>
        &nbsp;
      </div>
      <div class='col-2-12 vertical-spacer inherit-row'>
       <%= user.nickname %>
      </div>
      <div class='col-5-12 vertical-spacer inherit-row'>
       <%= user.email %>
      </div>
      <div class='col-1-12 vertical-spacer r-align inherit-row'>
        <% if user.admin %>
          Yes
        <% else %>
          No
        <% end %>
        <%= link_to '.', user_path(user), class: 'view-testing-link' %>
      </div>
    </div>
    <div class='col-2-12 vertical-spacer no-print r-align'>
      <%= link_to fa_icon('edit lg'), edit_user_path(user), title: 'Edit', class: 'r-pad' %>
      <%= link_to fa_icon('trash-o lg'), user, method: :delete, data: { confirm: 'Are you sure?' }, title: 'Delete', class: 'l-pad' %>
    </div>
    <div class='col-1-12 vertical-spacer inherit-row'>
       &nbsp;
    </div>
  <% end %>
</div>
