<% @title='View User' %>

<div class='grid shell-1-6'>

  <div class='col-18-24  grid-row  bottom-spacer'>     <!-- 1st column -->

    <div class='col-1-6  grid-row  bottom-line-spacer  faded'>User ID</div>
    <div class='col-4-6  bottom-line-spacer'><%= @user.id %></div>

    <div class='col-1-6  grid-row  bottom-line-spacer  faded'>Nickname</div>
    <div class='col-4-6  bottom-line-spacer'><%= @user.nickname %></div>

    <div class='col-1-6  grid-row  bottom-line-spacer  faded'>email</div>
    <div class='col-4-6  bottom-line-spacer'><%= @user.email %></div>

    <div class='col-1-6  grid-row  bottom-line-spacer  faded'>Admin</div>
    <div class='col-4-6  bottom-line-spacer'><%= @user.admin %></div>
  </div>

  <div class='col-6-24  bottom-spacer'>     <!-- 2nd column -->
    <%= edit_link @user, size: '2x' %>
  </div>
</div> <!-- grid shell -->
