<% @title='Blue Invoicing' %>
<%= render 'bubbles/search_account' %>

<div class='grid  Shell  u-padding-1-25'>

  <div  id='help-me',  data-summit='6',  class='col-4-24  grid-row  Bubble-search'>
    <%= render 'bubbles/help_main',  content: 'run',  line1: 'Blue Invoicing',  line2: 'These are the first invoices to be sent out. They are not sent out to those accounts which pay automatically into the bank.',  line3: 'They can be printed, turned into red invoices or deleted',  line4: 'Red invoices are sent out to all unpaid accounts.'%>
    &nbsp;
  </div>
  <div class='col-13-24  Bubble-anchor'>
    <%= render 'bubbles/help_2',  pic: 'fa fa-file-o  fa-lg' , line1: 'View  Run Details',  line2: "Click on a run row for that run's details" %>
    &nbsp;
  </div>
  <div class='col-2-24  Bubble-blue '>
    <%= render 'bubbles/help_3',  pic: 'fa fa-print  fa-lg', line1:'Print Button',  line2: 'Prints complete run of invoices' %>
    &nbsp;
  </div>
  <div class='col-2-24  Bubble-blue'>
    <%= render 'bubbles/help_4',  pic: 'fa fa-print  fa-lg',  line1:'2nd Invoice Button', line2: 'Creates blue run of invoices' %>
    &nbsp;
  </div>
  <div class='col-2-24  Bubble-blue '>
    <%= render 'bubbles/help_5',  pic: 'fa fa-trash-o  fa-lg', line1: 'Delete Button', line2: 'Deletes all invoices in this run' %>
    &nbsp;
  </div>

 <%= render 'invoicings/invoicing_header' %>
 <% @invoicings.each do |invoicing| %>
   <% invoicing_dec = InvoicingIndexDecorator.new invoicing %>
   <div title='View run list' class='table-row' data-link='<%= invoicing_path(invoicing) %>'>

     <div class='col-5-24  grid-row  bottom-spacer  inherit-row'>
       <%= invoicing_dec.property_range %>
     </div>
     <div class='col-5-24  bottom-spacer  inherit-row'>
       <%= invoicing_dec.created_at %>
     </div>
     <div class='col-7-24  bottom-spacer  inherit-row'>
       <%= invoicing_dec.period_between %>
     </div>
     <div class='col-1-24  bottom-spacer'><%= print_link path: print_run_path(invoicing), title: 'Print Last Invoice', disabled: !invoicing.deliverable? %></div>
     <div class='col-1-24  bottom-spacer'>&nbsp;</div>
     <div class='col-1-24  bottom-spacer'>
       <%= add_link path: [:edit, invoicing], title: 'Send New Invoice (Create Red Invoice)', css: 'Button  ButtonIcon-action' %>
     </div>
     <div class='col-1-24  bottom-spacer'>&nbsp;</div>
     <div class='col-1-24  bottom-spacer'><%= delete_link path: blue_invoicing_path(invoicing) %></div>
   </div>
 <% end %>
 <%= render 'information/lacking', objects: @invoicings, message: 'No invoicings waiting for a red invoice.' %>
</div>
