<%= f.fields_for :agent do |b| %>
<fieldset id='agent' class='shell js-toggle-selection'>
  <h2>Agent</h2>
  <div class='grid'>
    <div class='col-1-12'>
      <%= b.check_box :use_profile, class: 'js-checkbox-toggle' %>
    </div>
    <div class='col-1-8'>
      <%= b.label :use_profile, 'Use Agent' %>
    </div>
  </div>

  <div class='overlay-parent'>

    <div class='js-togglable js-unchecked'>
      <div class='shell overlay'>
        <%= t('instruction.properties.agent') %>
      </div>
      <%= render'no_agent' %>
    </div>

    <div class='js-togglable js-checked revealable'>
      <%= render 'shared/entities', f: b, entitieable: agent %>
      <%= render 'shared/address', f: b, parent: 'property_agent', address: AddressDecorator.new(agent.address) %>
    </div>
  </div>
</fieldset>
<% end %>