<%= f.fields_for :agent do |b| %>
<div id='agent' class='js-toggle-selection'>
  <div class='grid'>
    <div class='col-1-12'>
      <%= b.check_box :authorized, class: 'js-checkbox-toggle' %>
    </div>
    <div class='col-11-12'>
      <h3><%= b.label :authorized, 'Agent' %></h3>
    </div>
  </div>

  <div class='overlay-parent'>

    <div class='js-togglable js-check-hidden'>
      <div class='shell overlay'>
        <%= t('instruction.properties.agent') %>
      </div>
      <%= render'no_agent' %>
    </div>

    <div class='js-togglable js-check-visible js-revealable'>
      <%= render 'shared/entities2', f: b, entitieable: agent %>
      <%= render 'shared/address2', f: b, parent: 'property_agent', address: AddressDecorator.new(agent.address) %>
    </div>
  </div>
</div>
<% end %>
