<%= f.fields_for :billing_profile do |b| %>
<fieldset id='billing_profile' class='shell js-toggle-selection'>
  <h3>BILLING ADDRESS</h3>
  <div class='grid'>
    <div class='col-1-12'>
      <%= b.check_box :use_profile, class: 'js-checkbox-toggle' %>
    </div>
    <div class='col-1-8'>
      <%= b.label :use_profile, 'Use Agent' %>
    </div>
  </div>

  <div class='overlay-parent'>
    <h3>Agent</h3>

    <div class='js-togglable js-unchecked'>
      <div class='shell overlay'>
        <%= t('instruction.properties.billing') %>
      </div>
      <%= render'billing_no_agent' %>
    </div>

    <div class='js-togglable js-checked revealable'>
      <%= render 'shared/entities', f: b, entitieable: billing_profile %>
      <%= render 'shared/address', f: b, parent: 'property_billing_profile' %>
    </div>
  </div>
</fieldset>
<% end %>