<%= f.fields_for :billing_profile do |b| %>
<fieldset id='billing_profile' class='shell' style='position: relative;'>
  <div class='toggle-selection'>

    <div>
      <h3>BILLING ADDRESS</h3>
      <fieldset>
        <%= b.check_box :use_profile, class: 'checkbox-toggle' %>
        <%= b.label :use_profile, 'Use Agent' %>
      </fieldset>
    </div>

    <div class='blank_slate_parent'>
      <div id='blank_slate' class='togglable blank_slate_overlay'>
        <%= t('info.billing_slate') %>
      </div>

      <h3>Agent</h3>

      <div class='togglable'>
         <%= render'billing_no_agent' %>
      </div>

      <div class='togglable revealable' id = "agent_entity">
        <%= render 'shared/entities', f: b, entitieable: billing_profile %>
      </div>
      <div class='togglable revealable' id = "agent_address">
        <%= render 'shared/address', f: b, parent: 'property_billing_profile' %>
      </div>
    </div>
  </div>
</fieldset>
<% end %>