<fieldset id='billing_profile' class='shell'>

  <h3>BILLING ADDRESS</h3>
  <fieldset>
    <%= f.check_box :use_profile %>
    <%= f.label :use_profile %>
 </fieldset>
<%= f.fields_for :address do |builder| %>
  <%= render partial: 'shared/address', locals: { f: builder, parent: 'property_billing_profile' } %>
<% end %>

<% @property.billing_profile.entities.each do |entity| %>
  <%= f.fields_for :entities, entity do |builder| %>
    <%= render partial: 'shared/entity', locals: { f: builder, parent: 'property_billing_profile' } %>
  <% end %>
<% end %>

</fieldset>