<fieldset id='billing_profile' class='shell'>
  <div class='selection'>

    <div>
      <h3>BILLING ADDRESS</h3>
      <fieldset>
        <%= f.check_box :use_profile, class: 'checkbox-toggle' %>
        <%= f.label :use_profile %>
      </fieldset>
    </div>

    <div id='blank_slate' class='togglable blank_slate_overlay'>
         Billing is to the above property address. If the bill should go to an agent click the 'Use profile' checkbox and fill in the billing address.
     </div>

   <div class='togglable'>
    <h3>Agent</h3>

      <%= render partial: 'billing_no_agent' %>
    </div>

    <div class='togglable revealable' id = "agent_entity">
      <%= render partial: 'shared/entities', locals: { f: f, entitieable: @property.billing_profile } %>
    </div>
    <div class='togglable revealable' id = "agent_address">
      <%= f.fields_for :address do |builder| %>
        <%= render partial: 'shared/address', locals: { f: builder, parent: 'property_billing_profile' } %>
      <% end %>
    </div>
  </div>
</fieldset>
