<fieldset id='billing_profile' class='shell'>

  <h3>BILLING ADDRESS</h3>
  <fieldset>
    <%= f.check_box :use_profile %>
    <%= f.label :use_agent %>
 </fieldset>
<p />

<%= f.fields_for :address do |builder| %>
  <%= render partial: 'shared/address', locals: { f: builder, parent: 'property_billing_profile' } %>
<% end %>

<%= render partial: 'shared/entities', locals: { f: f, entitieable: @property.billing_profile } %>
</fieldset>