<div class='grid'>
  <div class='col-1-1 vertical-spacer'>
    <%= f.hidden_field :_destroy %>
    <%= link_to 'X', '#', class:'hover-link link-button js-remove-fields', data: {confirm:'Are you sure?'} %>
    <h2>Charge <%= f.options[:child_index]  + 1 %></h2>
  </div>
  <div class='col-1-4 vertical-spacer'>
    <%= f.label :charge_type %>
  </div>
  <div class='col-3-4 vertical-spacer  no-r-pad'>
    <%= f.text_field :charge_type, data: { autocomplete_source: Charge.uniq.pluck(:charge_type).sort } %>
  </div>
  <div class='col-1-4 vertical-spacer'>
    <%= f.label :due_in %>
  </div>
  <div class='col-3-4 vertical-spacer  no-r-pad'>
    <%= f.text_field :due_in, data: { autocomplete_source: Charge.uniq.pluck(:due_in).sort } %>
  </div>
  <div class='col-1-4 vertical-spacer'>
    <%= f.label :amount %>
  </div>
  <div class='col-3-4 vertical-spacer  no-r-pad'>
    <%= f.text_field :amount %>
    <%= f.hidden_field :start_date %>
    <%= f.hidden_field :end_date %>
  </div>
</div>
<%= render 'due_ons', f: f, due_ons: DueOnsDecorator.new(charge.due_ons) %>
