<div id='property_charge_<%= index %>' class='js-selection <%= hide_new_record_unless_first charge, index %>'  >
  <div class='grid js-dynamic-group'>
    <div class='col-6-24 vertical-spacer  no-r-pad spec-charge-count'>
      <%= f.text_field :charge_type, data: { autocomplete_source: Charge.uniq.pluck(:charge_type).sort } %>
    </div>
    <div class='col-4-24 vertical-spacer  no-r-pad'>
      <%= select_tag "charge_cycle_#{index}", options_for_select( ChargeCycle.all.map {|charge_cycle| [charge_cycle.name, charge_cycle.id ] }, charge.charge_cycle_id ), { prompt: 'Please select',  class: 'js-dynamic-filter' } %>
    </div>
    <div class='col-4-24 vertical-spacer  no-r-pad'>
      <%= f.grouped_collection_select :charge_structure_id, ChargeCycle.all, :charge_structures, :name, :id, :charged_in_name, { include_blank: true }, { class: 'js-dynamic-result' } %>
    </div>
    <div class='col-3-24 vertical-spacer  no-r-pad'>
      <%= f.text_field :amount %>
      <%= f.hidden_field :start_date %>
      <%= f.hidden_field :end_date %>
    </div>
    <div class='col-7-24 vertical-spacer'>
      <%= f.check_box :dormant, class: 'js-checkbox-toggle' %>
    </div>
  </div>
</div>
