<div class='reveal-parent'>
  <% charges.each.with_index do |charge,index| %>
    <%= f.fields_for :charges, charge do |builder| %>
      <fieldset id='property_charge_<%= index %>' class='shell selection <%= hide_new_record_unless_first charge, index %>'  >
        <%= render partial: 'charge', locals: { f: builder, charge: charge  } %>
      </fieldset>
    <% end %>
  <% end %>
  <p>
  <%= link_to 'Add Charge', '#', class: 'reveal-link' %>
  </p>
</div>