<div id='property_charge_<%= index %>' class='js-selection <%= hide_new_record_unless_first charge, index %>'  >
  <div class='grid'>
    <div class='col-6-24 vertical-spacer  no-r-pad spec-charge-count'>
      <%= f.text_field :charge_type, data: { autocomplete_source: Charge.uniq.pluck(:charge_type).sort } %>
    </div>
    <div class='col-4-24 vertical-spacer  no-r-pad'>
      <%= f.select :due_in, ChargeCycle.all.map {|charge_cycle| [charge_cycle.name, charge_cycle.id ] } %>
    </div>
    <div class='col-4-24 vertical-spacer  no-r-pad'>
      <%= f.grouped_collection_select :due_in, ChargeCycle.all, :charge_structures, :name, :id, :due, include_blank: true %>
    </div>
    <div class='col-3-24 vertical-spacer  no-r-pad'>
      <%= f.text_field :amount %>
      <%= f.hidden_field :start_date %>
      <%= f.hidden_field :end_date %>
    </div>
    <div class='col-7-24 vertical-spacer'>
      <%= f.check_box :dormant, class: 'js-checkbox-toggle' %>
    </div>
  </div>
</div>
