<div id='property_charge_<%= index %>' class='js-selection <%= hide_new_record_unless_first charge, index %>'  >
  <div class='grid js-dynamic-group'>
    <div class='col-6-24 vertical-spacer  no-r-pad spec-charge-count'>
      <%= f.text_field :charge_type, data: { autocomplete_source: Charge.uniq.pluck(:charge_type).sort } %>
    </div>
    <div class='col-5-24 vertical-spacer'>
      <%= select_tag "charge_cycle_#{index}", options_for_select( ChargeCycleDecorator.all, charge.charge_cycle_id ), { prompt: 'Please select',  class: 'js-dynamic-filter' } %>
    </div>
    <div class='col-3-24 vertical-spacer'>
      <%= f.grouped_collection_select :charged_in, ChargeCycle.all, :charged_in, :name, :id, :name, { include_blank: true }, { class: 'js-dynamic-result' } %>
    </div>
    <div class='col-3-24 vertical-spacer r-align'>
      <%= f.text_field :amount, class: 'r-align' %>
      <%= f.hidden_field :start_date %>
      <%= f.hidden_field :end_date %>
    </div>
    <div class='col-7-24 vertical-spacer'>
      <%= f.check_box :dormant, class: 'js-checkbox-toggle' %>
    </div>
  </div>
</div>
