<fieldset id='<%= parent %>_due_on_<%= index %>'>
  <h3>Due On</h3>
  <div class='field text require'>
    <%= f.label :day %>
    <%= f.text_field :day %>
  </div>
  <div class='field text require'>
    <%= f.label :month %>
    <%= f.text_field :month %>
  </div>
</fieldset>