<div class='js-toggle-selection js-clear'>
  <div class='js-togglable <%= due_ons.hidden_side? DueOn::ON_DATE %>'>
    <% due_ons.by_date.each do |due_on| %>
      <%= f.fields_for :due_ons, due_on do |builder| %>
        <%= render 'due_on', f: builder, due_on: due_on, parent: due_ons.id(f.options[:child_index])  %>
      <% end %>
    <% end %>
    <a href='#' class='js-toggle '> or per month</a>
  </div>
  <div class='js-togglable <%= due_ons.hidden_side? DueOn::PER_MONTH %>'>
      <%= f.fields_for :due_ons, due_ons.per_month do |builder| %>
        <%= render 'due_on_per_month', f: builder, due_on: due_ons.per_month, parent: due_ons.id(f.options[:child_index])  %>
      <% end %>
      <a href='#' class='js-toggle '> or on date</a>
  </div>
</div>