<%= form_for property do |f| %>
  <%= render 'shared/errors', object: property %>
  <fieldset id='property' class='shell'>
    <h3>Property Edit</h3>
    <div class='field text require half'>
      <%= f.label :human_ref,'Property ID' %>
      <%= f.text_field :human_ref, autofocus: true %>
    </div>

    <div class='field text require'>
      <%= f.label :client_ref, 'Client Ref' %>

      <%= text_field_tag nil, "#{property.client.try(:human_ref)} #{property.client.try(:entities).try(:full_name)}", :id => 'property_client_ref',
        data: { autocomplete_source: Client.order(:human_ref).map { |t| { :label => "#{t.human_ref} #{t.entities.full_name}", :value => t.id } } } %>
      <%= f.hidden_field :client_id, id: 'client_id' %>
    </div>

    <%= render 'occupier', f: f, entitieable: property %>
    <%= render 'shared/address', f: f, parent: 'property' %>

  </fieldset>

  <%= render 'billing_profile', f: f, billing_profile: property.billing_profile %>
  <%= f.fields_for :account do |a| %>
    <%= render 'charges', f: a, charges: property.account.charges %>
  <% end %>
  <div>
    <%= f.submit %><span class='simple' ><%= link_to 'Cancel', properties_path %></span>
  </div>
<% end %>
