<%= form_for @property do |f| %>
  <%= render 'shared/errors', object: @property %>
  <fieldset id='contact_property' class='shell'>

    <fieldset id='property'>
      <div class='field text required half'>
        <h3>Property</h3>
        <%= f.label :Property_ID %>
        <%= f.text_field :human_id %>
      </div>
    </fieldset>

    <%= f.fields_for :address do |builder| %>
      <%= render partial: 'shared/address', locals: { f: builder, parent: 'property' } %>
    <% end %>

    <%= render partial: 'shared/entities', locals: { f: f, entitieable: @property } %>
   <a href="#" class="add" id ="property_entity_add">Add Person</a>
  </fieldset>

  <div style='position: relative;'>
    <div id='blank_slate' class='blank_slate_overlay'>
      Billing is to the above property address. If the bill should go to an agent click the 'Use agent' checkbox and fill in the billing address.
    </div>
    <%= f.fields_for :billing_profile do |builder| %>
      <%= render partial: 'billing_profile', locals: { f: builder } %>
    <% end %>
     <a href="#" class="add" id ="billing_entity_add">Add Person</a>
  </div>
  </fieldset>

  <%= render partial: 'charges', locals: { f: f, charges: @property.charges } %>

  <a href="#" class="add" id = "addCharge" onclick="addFieldDisplay('property_charge_1','property_charge_2','property_charge_3','addCharge')">Add Charge</a>
 <p />
 <a href ="#" id = "removeBut" ><%= image_tag "close.png" %></a>

  <div>
    <p>
      <%= f.submit %>
    </p>
  </div>
<% end %>
