<%= form_for @property do |f| %>
  <%= render 'shared/errors', object: @property %>
  <fieldset id='contact_property'>

    <fieldset id='property'>
      <div class='field text required'>
        <h3>Property</h3>
        <%= f.label :Property_ID %>
        <%= f.text_field :human_id %>
      </div>
    </fieldset>

    <%= f.fields_for :address do |builder| %>
      <%= render partial: 'shared/address', locals: { f: builder, parent: 'property' } %>
    <% end %>

    <% @property.entities.each do |entity| %>
      <%= f.fields_for :entities, entity do |builder| %>
        <%= render partial: 'shared/entity', locals: { f: builder, parent: 'property' } %>
      <% end %>
    <% end %>


 <a href="#" id = "changeDisplay" onClick="changeElementDisplay('property_entity_1')">Add Person</a>

  </fieldset>

  <div style='position: relative;'>
    <div id='blank_slate' class='blank_slate_overlay' style='position: absolute; top: 200px; left: 10%; width:85%; padding: 60px 22px; background: rgba(109,109,109,0.6);font-size:1.6em; font-weight: bold; text-align: center;'>
      Billing is to the above property address. If you wish to send the bill to this billing address click the 'Use profile' checkbox.
    </div>
    <%= f.fields_for :billing_profile do |builder| %>
      <%= render partial: 'billing_profile', locals: { f: builder } %>
    <% end %>
  </div>

  <% @property.charges.each.with_index do |charge,index| %>
    <%= f.fields_for :charges, charge do |builder| %>
      <%= render partial: 'charge', locals: { f: builder, charge: charge, parent: 'property', index: index } %>
    <% end %>
  <% end %>

  <div>
    <p>
      <%= f.submit %>
    </p>
  </div>
<% end %>
