<%= form_for @property do |f| %>
  <%= render 'shared/errors', object: @property %>
  <fieldset id='contact_property' class='shell'>

    <fieldset id='property'>
      <div class='field text required half'>
        <h3>Property</h3>
        <%= f.label :Property_ID %>
        <%= f.text_field :human_id %>
      </div>
    </fieldset>

    <%= f.fields_for :address do |builder| %>
      <%= render partial: 'shared/address', locals: { f: builder, parent: 'property' } %>
    <% end %>

    <%= render partial: 'shared/entities', locals: { f: f, entitieable: @property } %>
  </fieldset>

  <div style='position: relative;'>
    <div id='blank_slate' class='blank_slate_overlay'>
      Billing is to the above property address. If the bill should go to an agent click the 'Use profile' checkbox and fill in the billing address.
    </div>
    <%= f.fields_for :billing_profile do |builder| %>
      <%= render partial: 'billing_profile', locals: { f: builder } %>
    <% end %>
  </div>
  </fieldset>

  <%= render partial: 'charges', locals: { f: f, charges: @property.charges } %>

 <p />

  <div>
    <p>
      <%= f.submit %>
    </p>
  </div>
<% end %>

