<%= form_for property do |f| %>
  <%= render 'shared/errors', object: property %>

  <fieldset id='property' class='shell'>
    <div class='grid'>
      <div class='col-1-2 vertical-spacer'>
        <h3>Property</h3>
      </div>
      <div class='col-1-2 vertical-spacer no-r-pad'>
        <%= view_link(property) %>
      </div>

      <div class='col-1-4 vertical-spacer grid-row  faded'>
        <%= f.label :human_ref,'Property ID', class: 'required' %>
      </div>
      <div class='col-3-4 vertical-spacer no-r-pad'>
        <%= f.text_field :human_ref, autofocus: true %>
      </div>

      <div class='col-1-4 vertical-spacer faded'>
        <%= f.label :client_ref, 'Client Id', class: 'required' %>
      </div>
      <div class='col-3-4 vertical-spacer no-r-pad'>
        <%= text_field_tag nil, "#{property.client.try(:human_ref)} #{property.client.try(:entities).try(:full_name)}", :id => 'property_client_ref',
          data: { autocomplete_source: Client.order(:human_ref).map { |t| { :label => "#{t.human_ref} #{t.entities.full_name}", :value => t.id } } } %>
        <%= f.hidden_field :client_id, id: 'client_id' %>
      </div>
      <div class='col-1-1 vertical-spacer faded'>
        &nbsp;
      </div>

      <div class='col-11-24 vertical-spacer no-r-pad faded'>
        <h3>Occupier</h3>
        <%= render 'shared/entities2', f: f, entitieable: property %>
        <%= render 'shared/address2', f: f, parent: 'property', address: AddressDecorator.new(property.address) %>
      </div>
      <div class='col-2-24 vertical-spacer faded'>
        &nbsp;
      </div>
      <div class='col-11-24 vertical-spacer no-r-pad faded'>
        <%= render 'agent', f: f, agent: property.agent %>
      </div>
    </div>
    <div class='grid'>
      <%= f.fields_for :account do |a| %>
        <%= render 'charges', f: a, charges: property.account.charges %>
      <% end %>
    </div>
  </fieldset>

  <div class='no-print'>
    <%= f.submit value="Create/Update Account"%> or <%= link_to 'Cancel', properties_path, class: 'warn' %>
  </div>
<% end %>
