<%= form_for property do |f| %>
  <%= render 'shared/errors', object: property %>

  <div id='property' class='shell'>
    <div class='grid'>
      <div class='col-7-8 faded vertical-spacer '>
        <h3>Property</h3>
          <div class='col-1-4 vertical-spacer grid-row  faded'>
            <%= f.label :human_ref,'Property ID', class: 'required' %>
          </div>
          <div class='col-3-4 vertical-spacer no-r-pad'>
            <%= f.text_field :human_ref, autofocus: true %>
          </div>
          <div class='col-1-4  faded'>
            <%= f.label :client_ref, 'Client ID', class: 'required' %>
          </div>
          <div class='col-3-4 no-r-pad'>
            <%= text_field_tag nil, "#{property.client.try(:human_ref)} #{property.client.try(:entities).try(:full_name)}", :id => 'property_client_ref', data: { autocomplete_source: Client.order(:human_ref).map { |t| { :label => "#{t.human_ref} #{t.entities.full_name}", :value => t.id } } } %>
            <%= f.hidden_field :client_id, id: 'client_id' %>
          </div>
      </div>
      <div class='col-1-8 vertical-spacer no-r-pad'>
        <%= view_link(property) %>
      </div>
      <hr>

      <div class='col-12-24'>
        <h3>Occupier</h3>
        <%= render 'entities/form', f: f, entitieable: property %>
        <%= render 'addresses/form', f: f, parent: 'property', address: AddressDecorator.new(property.address) %>
      </div>
      <div class='col-12-24 no-r-pad'>
        <%= render 'agents/form', f: f, agent: property.agent %>
      </div>
    </div>
    <hr>
    <div class='grid'>
      <%= f.fields_for :account do |account_fields| %>
        <%= render 'charges/form', builder: account_fields, charges: property.account.charges %>
      <% end %>
    </div>
    <hr>
    <div class='no-print'>
      <div class='col-2-24'>
        &nbsp;
      </div>
      <div class='col-20-24 c-align'>
        <%= f.button submit: '', class: "primary submit-button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Updating Account..."} %> or <%= link_to 'Cancel', properties_path, class: 'warn' %>
      </div>
      <div class='col-2-24'>
        &nbsp;
      </div>
    </div>
  </div>

<% end %>
