<%= form_for @property do |f| %>
  <%= render 'shared/errors', object: @property %>
  <fieldset id='property' class='shell'>

    <h3>Property</h3>

    <div class='field text require half'>
      <%= f.label :human_id,'Property ID' %>
      <%= f.text_field :human_id, autofocus: true %>
    </div>

    <div class='field text require half'>
      <%= f.label :client_id, 'Client ID' %>
      <%= f.text_field :client_id %>
    </div>

    <%= render partial: 'occupier', locals: { f: f, entitieable: @property } %>
    <%= render partial: 'shared/address', locals: { f: f, parent: 'property' } %>

  </fieldset>

  <%= render partial: 'billing_profile', locals: { f: f } %>
  <%= render partial: 'charges', locals: { f: f, charges: @property.charges } %>
  <div>
    <%= f.submit %><span class = 'simple' ><%= link_to 'Cancel', properties_path %></span>
  </div>
<% end %>
