<%= form_for @property do |f| %>
  <%= render 'shared/errors', object: @property %>
    <fieldset id='property' class='shell'>
      <div class='field text required half'>
        <h3>Property</h3>
        <%= f.label :human_id, 'Property ID' %>
        <%= f.text_field :human_id %>
      </div>

    <%= render partial: 'occupier', locals: { f: f, entitieable: @property } %>

    <%= f.fields_for :address do |builder| %>
      <%= render partial: 'shared/address', locals: { f: builder, parent: 'property' } %>
    <% end %>

  </fieldset>

  <div style='position: relative;'>

    <%= f.fields_for :billing_profile do |builder| %>
      <%= render partial: 'billing_profile', locals: { f: builder } %>
    <% end %>
  </div>

  <%= render partial: 'charges', locals: { f: f, charges: @property.charges } %>

  <div>
    <p>
      <%= f.submit %>
    </p>
  </div>
<% end %>
