<div class='grid shell'>
  <% if @properties.present? %>
    <div class='col-2-24 vertical-spacer grid-header r-align'>
      ID
    </div>
    <div class='col-1-24 vertical-spacer grid-header r-align'>
       Cl
    </div>
    <div class='col-3-24 vertical-spacer grid-header'>
      Name
    </div>
    <div class='col-2-24 vertical-spacer grid-header r-align'>
      No
    </div>
    <div class='col-3-24 vertical-spacer grid-header'>
     House
    </div>
    <div class='col-2-24 vertical-spacer grid-header r-align'>
      No
    </div>
    <div class='col-3-24 vertical-spacer grid-header'>
     Road
    </div>
    <div class='col-3-24 vertical-spacer grid-header'>
    Town
    </div>
    <div class='col-action vertical-spacer grid-header no-print no-r-pad'>
      Actions
    </div>

   <% properties.each do |prop|
        property = PropertyDecorator.new prop %>

      <div class='col-2-24 vertical-spacer r-align grid-row'>
        <%= link_to property.human_ref, edit_property_path(property.id) %>
      </div>
      <div class='col-1-24 vertical-spacer r-align'>
         <%=property.client_ref %>
      </div>
      <div class='col-3-24 vertical-spacer'>
        <%= format_empty_string_as_dash property.entities.first.name %>
      </div>
      <div class='col-2-24 vertical-spacer r-align'>
       <%= format_empty_string_as_dash property.address.flat_no %>
      </div>
      <div class='col-3-24 vertical-spacer'>
       <%= format_empty_string_as_dash property.address.house_name %>
      </div>
      <div class='col-2-24 vertical-spacer r-align'>
        <%= property.address.road_no %>
      </div>
      <div class='col-3-24 vertical-spacer'>
       <%= link_to property.address.road, edit_property_path(property) %>
      </div>
      <div class='col-3-24 vertical-spacer'>
      <%= property.address.town %>
      </div>
      <nav class='col-action vertical-spacer no-r-pad'>
        <% if show_actions %>
          <%= link_to 'Edit', edit_property_path(property.id) %> |
        <%= link_to 'View', property_path(property.id) %> |
        <%= link_to 'Delete', property, method: :delete, data: { confirm: "Are you sure you want to delete?" } %>
        <% end %>
      </nav>
    <% end %>
  <% else %>
    No Accounts Found. Try Again.
  <% end %>
</div>
