<table>
    <thead>
      <tr>
      <% if show_checkbox %>
        <th>
        </th>
      <% end %>
      <th class='alnright'>
          ID
      </th>
      <th class='alnright'>
          Cl
        </th>
         <th>
          Name
        </th>
        <th class='alnright'>
          No
        </th>
        <th>
          House
        </th>
        <th class='alnright'>
          No
        </th>
        <th>
          Road
        </th>
        <% if show_actions %>
          <th>
            Town
          </th>
          <th>
            <div class = "screen_only" >
              Actions
            </div>
         </th>
        <% end %>
      </tr>
    </thead>
  <tbody>
    <% if @properties.present? %>
      <% properties.each do |prop|
        property = PropertyDecorator.new prop %>
        <tr>
        <% if show_checkbox %>
          <td>
            <%= check_box_tag 'property_ids[]', property.id %>
          </td>
        <% end %>
        <td class='alnright'>
          <%= link_to property.human_ref, edit_property_path(property.id) %>
        </td>
        <td class='alnright'>
          <%=property.client_ref %>
        </td>
        <td>
          <%= format_empty_string_as_dash property.entities.first.name %>
        </td>
        <td class='alnright'>
          <%= format_empty_string_as_dash property.address.flat_no %>
        </td>
        <td>
          <%= format_empty_string_as_dash property.address.house_name %>
        </td>
        <td class='alnright'>
          <%= property.address.road_no %>
        </td>
        <td>
          <%= link_to property.address.road, edit_property_path(property) %>
        </td>
        <td>
          <%= property.address.town %>
        </td>
        <% if show_actions %>
        <td>
          <nav class = "screen_only" >
            <%= link_to 'Edit', edit_property_path(property.id) %> |
            <%= link_to 'View', property_path(property.id) %> |
            <%= link_to 'Delete', property, method: :delete, data: { confirm: "Are you sure you want to delete?" } %>
           </nav>
        </td>
        <% end %>
      <% end %>
     <% else %>
      <tr>
        <td colspan="9", class =  'atcenter'>
          No Properties Found. Try Again.
        </td>
      </tr>
    <% end %>
  </tbody>
</table>