<div class='col-6-24  grid-row  bottom-spacer grid-label'>
  Property Id
</div>
<div class='col-1-24  bottom-spacer r-align'>  <%= property.human_ref %></div>

<div class='col-6-24  grid-row  bottom-spacer  grid-label'>Client Id</div>
<div class='col-1-24  bottom-spacer r-align'>  <%= property.client_ref %></div>
<div class='col-1-24  bottom-spacer'>          &nbsp;</div>
<div class='col-10-24 bottom-spacer'>
  <%= link_to property.client.full_names, property.client, title: property.client.full_names %>
</div>

<div class='col-1-4  grid-row  bottom-spacer  grid-header'>Association</div>
<div class='col-3-8  bottom-spacer  grid-header'>Occupier</div>
<div class='col-3-8  bottom-spacer  grid-header'>Agent</div>

<div class='col-2-8  grid-row  bottom-spacer  grid-label'>Name</div>
<div class='col-3-8  bottom-spacer'><%= property.occupiers %></div>
<div class='col-3-8  bottom-spacer'><%= property.agent_name %></div>

<div class='col-2-8  grid-row  bottom-spacer  grid-label'>Address</div>
<div class='col-3-8  bottom-spacer'>
  <%= simple_format(property.address.text, {}, wrapper_tag: 'div') %>
</div>
<div class='col-3-8 bottom-spacer'>
  <%= simple_format(property.agent_address_lines, {}, wrapper_tag: 'div') %>
</div>