<% @title='Accounts' %>
<% properties = @records %>

<div class='grid shell'>
  <div class='col-2-24 vertical-spacer grid-header r-align'>
    ID
  </div>
  <div class='col-1-24 vertical-spacer grid-header r-align'>
     Cl
  </div>
  <div class='col-5-24 vertical-spacer grid-header'>
    Name
  </div>
  <div class='col-2-24 vertical-spacer grid-header r-align'>
    No
  </div>
  <div class='col-3-24 vertical-spacer grid-header'>
   House
  </div>
  <div class='col-2-24 vertical-spacer grid-header r-align'>
    No
  </div>
  <div class='col-4-24 vertical-spacer grid-header'>
   Road
  </div>
  <div class='col-3-24 vertical-spacer grid-header'>
  Town
  </div>
  <div class='col-2-24 vertical-spacer grid-header no-print no-r-pad r-align'>
    Actions
  </div>

 <% properties.each do |prop|
      property = PropertyDecorator.new prop %>

    <div class='table-row' data-link='<%= property_path(property.id) %>'>
      <div class='col-2-24 vertical-spacer r-align grid-row inherit-row'>
        <%= property.human_ref %>
      </div>
      <div class='col-1-24 vertical-spacer r-align inherit-row'>
         <%=property.client_ref %>
      </div>
      <div class='col-5-24 vertical-spacer inherit-row'>
        <%= format_empty_string_as_dash property.occupier %>
      </div>
      <div class='col-2-24 vertical-spacer r-align inherit-row'>
       <%= format_empty_string_as_dash property.address.flat_no %>
      </div>
      <div class='col-2-24 vertical-spacer inherit-row'>
       <%= format_empty_string_as_dash property.address.house_name %>
       <%= link_to '.', property_path(property.id), class: 'view-testing-link' %>
      </div>
      <div class='col-2-24 vertical-spacer r-align inherit-row'>
        <%= property.address.road_no %>
      </div>
      <div class='col-4-24 vertical-spacer inherit-row'>
       <%= property.address.road %>
      </div>
      <div class='col-3-24 vertical-spacer tablerow inherit-row nowrap'>
      <%= property.address.town %>
      </div>
    </div>
    <div class='col-3-24 vertical-spacer no-print r-align'>
      <%= link_to fa_icon('gbp'), new_payment_path(id: property.account.id), title: 'Add New Payment', class: 'simple-button r-pad' %>&nbsp;
      <%= link_to fa_icon('edit lg'), edit_property_path(property.id), title: 'Edit', class: 'r-pad' %>
      <%= link_to fa_icon('trash-o lg'), property, method: :delete, data: { confirm: "Are you sure you want to delete?" }, title: 'Delete', class: 'l-pad' %>
    </div>
  <% end %>
</div>

<%= paginate properties %>
