<% @title='Accounts' %>
<% properties = @records %>

<div class='grid  Shell  u-padding-1-100'>

  <div class='col-2-24  grid-row  r-align'> &nbsp;</div>
  <div class='col-17-24'>
    &nbsp;
    <div  id='help-me', data-skip='0',class='Bubble-down'>
      <%= render 'bubbles/pt_down_view' %>
    </div>
  </div>
  <div class='col-1-24'>
    &nbsp;
    <div class='Bubble-down'>
      <%= render 'bubbles/pt_down', line1:'Pay Button', line2: 'Makes a new payment' %>
    </div>
  </div>
  <div class='col-1-24'>
    &nbsp;
    <div class='Bubble-down'>
      <%= render 'bubbles/pt_down_edit', line1:'Edit Button', line2: 'Edits this account' %>
    </div>
  </div>
  <div class='col-1-24'>&nbsp;
    <div class='Bubble-down'>
      <%= render 'bubbles/pt_down_delete', line2: 'Deletes this property details and its account' %>
    </div>
  </div>

  <div class='col-2-24  grid-row  bottom-spacer  grid-header r-align'>
    Property ID
  </div>
  <div class='col-6-24  bottom-spacer  grid-header'>Occupier</div>
  <div class='col-1-24  bottom-spacer  grid-header  r-align'>No</div>
  <div class='col-5-24  bottom-spacer  grid-header'>Address</div>
  <div class='col-4-24  bottom-spacer  grid-header'>Town</div>
  <div class='col-2-24  bottom-spacer  grid-header  r-align'>Client ID</div>
  <div class='col-3-24  bottom-spacer  grid-header  no-print  no-r-pad'>
    Actions
  </div>

 <% properties.each do |prop|
      property = PropertyDecorator.new prop %>

    <div title='View' class='table-row' data-link='<%= property_path(property.id) %>'>
      <div class='col-2-24  grid-row  bottom-spacer  inherit-row  r-align'>
        <%= property.human_ref %>
      </div>
      <div class='col-6-24  bottom-spacer  inherit-row'>
        <%= format_empty_string_as_dash property.occupiers %>
      </div>
      <div class='col-1-24  bottom-spacer  inherit-row  r-align'>
        <%= format_empty_string_as_dash property.address.first_no %>
      </div>
      <div class='col-5-24  bottom-spacer  inherit-row'>
        <%= format_empty_string_as_dash property.address.first_text %>
        <%= testing_link path: property_path(prop) %>
      </div>
      <div class='col-4-24  bottom-spacer  inherit-row  nowrap'>
        <%= property.address.town %>
      </div>
      <div class='col-2-24  bottom-spacer  inherit-row  r-align'>
        <%=property.client_ref %>
      </div>
    </div>
    <div class='col-1-24  bottom-spacer'>
      <%= payment_link path: new_payment_path(id: property.account.id) %>
    </div>
    <div class='col-1-24  bottom-spacer'>
      <%= edit_link property, size: 'lg' %>
    </div>
    <div class='col-1-24  bottom-spacer'>
      <%= delete_link path: property %>
    </div>
  <% end %>
</div>

<%= paginate properties %>
