Listing  <%= @properties.count %> count
<table>
  <thead>
    <tr>
      <th>
        Property ID
      </th>
      <th>
        No
      </th>
      <th>
        Road
      </th>
      <th>
        Town
      </th>
      <th>
        Postcode
      </th>
    </tr>
  </thead>
  <tbody>
    <% @properties.each do |property| %>
    <tr>
      <td>
        <%= link_to property.human_property_reference, property %>
      </td>
      <td>
        <%= property.address.road_no %>
      </td>
      <td>
        <%= property.address.road %>
      </td>
      <td>
        <%= property.address.town %>
      </td>
      <td>
        <%= property.address.postcode %>
      </td>
      <td>
        <%= link_to 'Edit', edit_property_path(property) %> |
        <%= link_to 'Delete', property, method: :delete, data: { confirm: 'Are you sure?' } %>
      </t>
    </tr>
    <% end %>
  </tbody>

<%= link_to 'Add New Property', new_property_path %>


