<% @title='Accounts' %>
<% properties = @records %>
<%= render 'bubbles/search_account' %>

<div class='grid  Shell  u-padding-1-100'>

  <div class='col-2-24  grid-row  r-align'> &nbsp;</div>

  <div  id='help-me',  data-summit='6',  class='col-18-24  no-print'>
    <%= render 'bubbles/help_2',  pic: 'fa fa-file-o  fa-lg', line1: 'View Account Details', line2: "Click on an account row for that account's details"%>
    &nbsp;
  </div>
  <div class='col-4-24  bottom-spacer'>
    <%= print_link text:'Full Property List', path: property_lists_path, title: 'Property List', css: 'Button ButtonSecondary' %>
    <div class='col-1-4  Bubble-anchor'>
      <%= render 'bubbles/help_3',  pic: 'fa fa-gbp  fa-lg',  line1: 'Payment Button',  line2: 'Use to make a new payment'%>
      &nbsp;
    </div>
    <div class='col-1-4  Bubble-anchor'>
        <%= render 'bubbles/help_4',  pic: 'fa fa-edit  fa-lg',  line1: 'Edit Button',  line2: "Edits an account's details" %>
     &nbsp;
    </div>
    <div class='col-1-4  Bubble-anchor'>
      <%= render 'bubbles/help_5',  pic: 'fa fa-trash-o  fa-lg',  line1: 'Delete Button', line2: 'Deletes this property details and its account' %>
      &nbsp;
    </div>
  </div>

  <div class='col-2-24  grid-row  bottom-spacer  grid-header r-align'>
    Property ID
  </div>
  <div class='col-6-24  bottom-spacer  grid-header'>Occupier</div>
  <div class='col-1-24  bottom-spacer  grid-header  r-align'>No</div>
  <div class='col-5-24  bottom-spacer  grid-header'>Address</div>
  <div class='col-4-24  bottom-spacer  grid-header'>Town</div>
  <div class='col-2-24  bottom-spacer  grid-header  r-align'>Client ID</div>
  <div class='col-3-24  bottom-spacer  grid-header  no-print  no-r-pad'>
    Actions
  </div>

 <% properties.each do |prop|
      property = PropertyDecorator.new prop %>

    <div title='View' class='table-row' data-link='<%= property_path(property.id) %>'>
      <div class='col-2-24  grid-row  bottom-spacer  inherit-row  r-align'>
        <%= property.human_ref %>
      </div>
      <div class='col-6-24  bottom-spacer  inherit-row'>
        <%= format_empty_string_as_dash property.occupiers %>
      </div>
      <div class='col-1-24  bottom-spacer  inherit-row  r-align'>
        <%= format_empty_string_as_dash property.address.first_no %>
      </div>
      <div class='col-5-24  bottom-spacer  inherit-row'>
        <%= format_empty_string_as_dash property.address.first_text %>
        <%= testing_link path: property_path(prop) %>
      </div>
      <div class='col-4-24  bottom-spacer  inherit-row  nowrap'>
        <%= property.address.town %>
      </div>
      <div class='col-2-24  bottom-spacer  inherit-row  r-align'>
        <%= property.client_ref %>
      </div>
    </div>
    <div class='col-1-24  bottom-spacer'>
      <%= payment_link path: new_payment_path(id: property.account.id) %>
    </div>
    <div class='col-1-24  bottom-spacer'>
      <%= edit_link property, size: 'lg' %>
    </div>
    <div class='col-1-24  bottom-spacer'>
      <%= delete_link path: property %>
    </div>
  <% end %>
</div>

<%= paginate properties %>
