<% @title='Accounts' %>
<% properties = @records %>

<div class='grid shell'>

  <div class='col-2-24  grid-row  bottom-spacer  grid-header r-align'>
    Property ID
  </div>
  <div class='col-2-24  bottom-spacer  grid-header  r-align'>Client ID</div>
  <div class='col-5-24  bottom-spacer  grid-header'>Occupier</div>
  <div class='col-1-24  bottom-spacer  grid-header  r-align'>No</div>
  <div class='col-5-24  bottom-spacer  grid-header'>Address</div>
  <div class='col-4-24  bottom-spacer  grid-header'>Town</div>
  <div class='col-5-24  bottom-spacer  grid-header  no-print  no-r-pad'>
    Actions
  </div>

 <% properties.each do |prop|
      property = PropertyDecorator.new prop %>

    <div title='View' class='table-row' data-link='<%= property_path(property.id) %>'>
      <div class='col-2-24  grid-row  bottom-spacer  inherit-row  r-align'>
        <%= property.human_ref %>
      </div>
      <div class='col-2-24  bottom-spacer  inherit-row  r-align'>
        <%=property.client_ref %>
      </div>
      <div class='col-5-24  bottom-spacer  inherit-row'>
        <%= format_empty_string_as_dash property.occupiers %>
      </div>
      <div class='col-1-24  bottom-spacer  inherit-row  r-align'>
        <%= format_empty_string_as_dash property.address.first_no %>
      </div>
      <div class='col-5-24  bottom-spacer  inherit-row'>
        <%= format_empty_string_as_dash property.address.first_text %>
        <%= testing_link path: property_path(property) %>
      </div>
      <div class='col-4-24  bottom-spacer  inherit-row  nowrap'>
        <%= property.address.town %>
      </div>
    </div>
    <div class='col-1-24  bottom-spacer  no-print'>
      <%= payment_link path: new_payment_path(id: property.account.id) %>
    </div>
    <div class='col-1-24  bottom-spacer  no-print'>
      <%= edit_link property %>
    </div>
    <div class='col-1-24  bottom-spacer  no-print'>&nbsp;</div>
    <div class='col-1-24  bottom-spacer  no-print'>
      <%= delete_link path: property %>
    </div>
    <div class='col-1-24  bottom-spacer  no-print'>&nbsp;</div>
  <% end %>
</div>

<%= paginate properties %>
