
<h2>Properties</h2>
<%= link_to 'Add New Property', new_property_path %>
<table>
  <thead>
    <tr>
      <th class='alnright'>
        ID
      </th>
      <th class='alnright'>
        No
      </th>
      <th>
        House
      </th>
      <th class='alnright'>
        No
      </th>
      <th>
        Road
      </th>
      <th>
        Town
      </th>
      <th>
        Actions
      </th>
    </tr>
  </thead>
  <tbody>
    <% @properties.each do |property| %>
    <tr>
      <td class='alnright'>
        <%= link_to property.human_property_id, property %>
      </td>
      <td class='alnright'>
        <%= format_empty_string_as_dash property.address.flat_no %>
      </td>
      <td>
        <%= format_empty_string_as_dash property.address.house_name %>
      </td>
      <td class='alnright'>
        <%= property.address.road_no %>
      </td>
      <td>
        <%= property.address.road %>
      </td>
      <td>
        <%= property.address.town %>
      </td>
      <td>
        <%= link_to 'Edit', edit_property_path(property) %> |
        <%= link_to 'Delete', property, method: :delete, data: { confirm: 'Are you sure?' } %>
      </t>
    </tr>
    <% end %>
  </tbody>
</table>