
<h3>Property</h3>
<%= @property.human_property_id %>
<br/>
<%= render 'show_address', object: @property %>
<br/>
<% @property.entities.each do |entity| %>
  <%= render 'show_entity', object: entity %>
<% end %>

<h3>Billing Address</h3>

<% if @property.separate_billing_address? %>
  <br/>
  <%= render 'show_address', object: @property.bill_to %>
  <% if @property.bill_to.entities.any? %>
    <% @property.bill_to.entities.each do |entity| %>
    <%= render 'show_entity', object: entity %>
    <% end %>
  <% else %>
    No Entities
  <% end %>
<% else %>
 Billing to home address
<% end %>

