<% @title='View Account' %>

<div class='grid  shell  js-toggle-selection'>
  <div class='js-togglable'>

    <div class='col-3-4  grid-row'>
      <h3 class='small-bottom'>Property &hellip;</h3>
    </div>
    <div class='col-1-4  no-r-pad'>
      <%= toggle_link direction: :down, size: '2x' %>
      <%= edit_link @property, size: '2x' %>
    </div>

    <%= render 'properties/property_abridged', property: @property %>
  </div>

  <div class='js-togglable  js-revealable'>

    <div class='col-3-4  grid-row'>
      <h3 class='small-bottom'>Property</h3>
    </div>
    <div class='col-1-4  bottom-spacer  no-r-pad'>
      <%= toggle_link direction: :up, size: '2x'  %>
      <%= edit_link @property, size: '2x' %>
    </div>
    <%= render 'properties/property', property: @property %>
  </div>
</div>

<div id='charge' class='grid  shell'>
  <%= render 'charges/charges', charges: @property.account.charges %>
</div>

<div class='grid  shell  js-toggle-selection'>
  <div class='js-togglable'>

    <div class='col-3-4  grid-row'>
      <h3 class='small-bottom'>Accounts &hellip;</h3>
    </div>
    <div class='col-1-4  no-r-pad'>
      <%= toggle_link direction: :down, size: '2x'  %>
    </div>

    <%= render 'account_items/header' %>
    <%= render partial: 'account_items/account_item', collection: AccountDecorator.new(@property.account).abbrev_items %>
  </div>

  <div class='js-togglable  js-revealable'>

    <div class='col-3-4  grid-row'>
      <h3 class='small-bottom'>Accounts</h3>
    </div>
    <div class='col-1-4  no-r-pad'>
      <%= toggle_link direction: :up, size: '2x'   %>
    </div>

    <%= render 'account_items/header' %>
    <%= render partial: 'account_items/account_item', collection: AccountDecorator.new(@property.account).items %>
  </div>
</div> <!-- grid  shell js-toggle-selection -->