<% @title='View Property' %>
<%= render 'properties/search', path: properties_path, search_action: 'show', search_label: 'View Search' %>
<div class='grid shell'>
  <%= render 'properties/show/property', property: @property %>
  <%= render 'properties/show/charges', charges: @property.account.charges %>
</div>

<div class='js-toggle-selection'>
  <div class='js-togglable'>
    <br>
    <%= link_to 'Full Accounts', '#', class: 'js-toggle toggle-event' %>
    <div class='grid shell'>
      <%= render 'properties/show/account_header' %>
      <%= render partial: 'properties/show/account_item', collection: AccountDecorator.new(@property.account).abbrev_items %>
    </div>
  </div>
  <div class='js-togglable revealable'>
    <%= link_to 'Partial Accounts', '#', class: 'js-toggle toggle-event' %>
    <div class='grid shell'>
      <%= render 'properties/show/account_header' %>
      <%= render partial: 'properties/show/account_item', collection: AccountDecorator.new(@property.account).items %>
    </div>
  </div>
</div>
<br>
<%= link_to 'Print This Page', '#', class: 'print-window  simple-button'%>
