<% @title='View Account' %>

<div class='js-toggle-selection'>
  <div class='js-togglable'>
    <div class='grid shell'>
      <div class='col-1-2'>
        <h3>Property &hellip;</h3>
      </div>
      <div class='col-1-2 bottom-spacer no-r-pad'>
        <%= link_to fa_icon('chevron-circle-down'), '#', class: 'js-toggle  simple-button float-right', title: 'Full Property' %>
        <%= link_to fa_icon('edit'), edit_property_path(@property.id), class: 'simple-button float-right', title: 'Edit' %>
      </div>
      <%= render 'properties/property_abridged', property: @property %>
    </div>
  </div>
  <div class='js-togglable  js-revealable'>
    <div class='grid shell'>
      <div class='col-1-2'>
        <h3>Property</h3>
      </div>
      <div class='col-1-2 bottom-spacer no-r-pad'>
        <%= link_to fa_icon('chevron-circle-up'), '#', class: 'js-toggle  simple-button float-right', title: 'Partial Property' %>
        <%= link_to fa_icon('edit'), edit_property_path(@property.id), class: 'simple-button float-right', title: 'Edit' %>
      </div>
      <%= render 'properties/property', property: @property %>
    </div>
  </div>
</div>

<div class='grid shell'>
  <%= render 'charges/charges', charges: @property.account.charges %>
</div>

<div class='js-toggle-selection'>
  <div class='js-togglable'>

    <div class='grid shell'>
      <div class='col-3-4'>
        <h3>Accounts &hellip;</h3>
      </div>
      <div class='col-1-4 bottom-spacer no-r-pad'>
        <%= link_to fa_icon('chevron-circle-down'), '#', class: 'js-toggle  simple-button float-right', title: 'Full Accounts' %>
      </div>
      <%= render 'accounts/account_header' %>
      <%= render partial: 'accounts/account_item', collection: AccountDecorator.new(@property.account).abbrev_items %>
    </div>
  </div>
  <div class='js-togglable js-revealable'>

    <div class='grid shell'>
      <div class='col-3-4'>
        <h3>Accounts</h3>
      </div>
      <div class='col-1-4 bottom-spacer no-r-pad'>
        <%= link_to fa_icon('chevron-circle-up'), '#', class: 'js-toggle  simple-button float-right', title: 'Partial Accounts' %>
      </div>
      <%= render 'accounts/account_header' %>
      <%= render partial: 'accounts/account_item', collection: AccountDecorator.new(@property.account).items %>
    </div>
  </div>
</div>
