<% @title='View Account' %>
<%= render 'bubbles/search_account' %>

<div class='col-17-24  grid-row'>&nbsp;</div>
<div class='col-2-24'>
    <%= chevron_link direction: 'left', text: property_prev, path: @property.prev, title: 'prev' %>
</div>
<div class='col-2-24  r-align'>
    <%= chevron_link direction: 'right', text: property_next, path: @property.next, title: 'next' %>
</div>

<div class='grid-row  Shell  u-padding-1-100 js-toggle-selection'>
  <div class='js-togglable'>

    <div  id='help-me',  data-summit='3',  class='col-2-24  grid-row  Bubble-search'>
      <%= render 'show_help' %>
      &nbsp;
    </div>
    <div class='col-6-24  grid-row  grid-label'>
      <h3>Property &hellip;</h3>
    </div>
    <div class='col-16-24'>
      <h3>
        <%= @property.address.first_no %>
        <%= @property.address.first_text %>
      <h3>
    </div>
    <div class='col-1-24'>
      <%= edit_link @property %>
      <div  class='Bubble-point-right'>
        <%= render 'bubbles/help_2', pic: 'fa fa-edit  fa-lg',  line1:'Account Edit Button',  line2: "Use to edit this account's details" %>
      </div>
    </div>
    <div class='col-1-24  no-r-pad'>
      <%= toggle_link direction: :down, size: '2x' %>
    </div>
    <%= render 'properties/property_abridged', property: @property %>
  </div>

  <div class='js-togglable  js-revealable'>

    <div class='col-6-24  grid-row  grid-label'>
      <h3>Property</h3>
    </div>
    <div class='col-16-24'>
      <h3>
        <%= @property.address.first_no %>
        <%= @property.address.first_text %>
      <h3>
    </div>
    <div class='col-1-24'>
      <%= edit_link @property %>
    </div>
    <div class='col-1-24  no-r-pad'>
      <%= toggle_link direction: :up, size: '2x'  %>
    </div>
    <%= render 'properties/property', property: @property %>
  </div>
</div>

<div id='charge' class='grid  Shell  u-padding-1-100'>
  <%= render 'charges/charges', charges: @property.account.charges %>
</div>

<div class='grid  Shell  u-padding-1-100 js-toggle-selection'>
  <div class='js-togglable'>

    <div class='col-23-24  grid-row  grid-label'>
      <h3>Accounts &hellip;</h3>
    </div>
    <div class='col-1-24  no-r-pad'>
      <%= toggle_link direction: :down, size: '2x'  %>
    </div>

    <%= render 'account_items/header' %>
    <%= render partial: 'account_items/account_item', collection: AccountDecorator.new(@property.account).abbrev_items %>
  </div>

  <div class='js-togglable  js-revealable'>

    <div class='col-23-24  grid-row  grid-label'>
      <h3>Accounts</h3>
    </div>
    <div class='col-1-24  no-r-pad'>
      <%= toggle_link direction: :up, size: '2x'   %>
    </div>

    <%= render 'account_items/header' %>
    <%= render partial: 'account_items/account_item', collection: AccountDecorator.new(@property.account).all_items %>
  </div>
</div> <!-- grid  Shell  u-padding-1-100  js-toggle-selection -->
