<% @title='View Account' %>

<div class='js-toggle-selection'>
  <div class='js-togglable'>
    <div class='grid shell'>
      <div class='col-1-2'>
        <h3>Property &hellip;</h3>
      </div>
      <div class='col-1-2 vertical-spacer no-r-pad'>
        <%= link_to 'Full Property', '#', class: 'js-toggle toggle-event simple-button float-right' %>
      </div>
      <%= render 'properties/show/property_abbreviated', property: @property %>
    </div>
  </div>
  <div class='js-togglable  js-revealable'>
    <div class='grid shell'>
      <div class='col-1-2'>
        <h3>Property</h3>
      </div>
      <div class='col-1-2 vertical-spacer no-r-pad'>
        <%= link_to 'Partial Property', '#', class: 'js-toggle toggle-event simple-button float-right' %>
      </div>
      <%= render 'properties/show/property', property: @property %>
    </div>
  </div>
</div>

<div class='grid shell'>
  <%= render 'properties/show/charges', charges: @property.account.charges %>
</div>

<div class='js-toggle-selection'>
  <div class='js-togglable'>

    <div class='grid shell'>
      <div class='col-3-4'>
        <h3>Accounts &hellip;</h3>
      </div>
      <div class='col-1-4 vertical-spacer no-r-pad'>
        <%= link_to 'Full Accounts', '#', class: 'js-toggle toggle-event simple-button float-right' %>
      </div>
      <%= render 'properties/show/account_header' %>
      <%= render partial: 'properties/show/account_item', collection: AccountDecorator.new(@property.account).abbrev_items %>
    </div>
  </div>
  <div class='js-togglable js-revealable'>

    <div class='grid shell'>
      <div class='col-3-4'>
        <h3>Accounts</h3>
      </div>
      <div class='col-1-4 vertical-spacer no-r-pad'>
        <%= link_to 'Partial Accounts', '#', class: 'js-toggle toggle-event simple-button float-right' %>
      </div>
      <%= render 'properties/show/account_header' %>
      <%= render partial: 'properties/show/account_item', collection: AccountDecorator.new(@property.account).items %>
    </div>
  </div>
</div>
