<article>
  <header>
    <h3 class = "mainTitle">Property</h3>
  </header>
  <p>
    Property Id <%= @property.human_id %>
  </p>
  <h3>Address</h3>
  <%= render 'shared/show_address', object: @property %>
  <h3>Tenant</h3>
  <% @property.entities.each do |entity| %>
    <%= render 'shared/show_entity', object: entity %>
  <% end %>

  <%= render 'show_billing_profile', object: @property.billing_profile %>
  <%= render 'show_charges', object: @property.charges %>

</article>
