<article>
  <%= render 'properties/search', path: properties_path, search_action: 'show', search_label: 'View Search' %>
  <div class='showbox'>
    <h2>Property Id:
      <%= @property.human_ref %>
      <span class='floatright'>
        <%= link_to 'Edit', edit_property_path(@property.id) %>
      </span>
    </h2>
    <p>
     <span class='boldfloat'>Client Id: </span>
     <%= @property.client_ref %>
    </p>
    <p>
      <h3> Occupier</h3>
      <% @property.entities.each do |entity| %>
        <%= render 'shared/show_entity', object: entity %>
      <% end %>
    </p>
    <p>
      <h2>Address</h2>
      <%= render 'shared/show_1_line_address', object: @property %>
    </p>
    <p>
      <%= render 'show_billing_profile', object: @property.billing_profile %>
      <%= render 'show_charges', object: @property.account.charges %>
    </p>
  </div>
  <p>
    <button> <%= link_to 'Print This Page', '#', class: 'print-window'%></button>
  </p>
 </article>
