<%= form_for cycle do |f| %>
  <%= render 'shared/errors', object: cycle %>

  <fieldset id='cycle' class='shell'>

    <div class="grid">
      <div class='grid-row col-12-24 vertical-spacer'>
        <h2>Charge Cycle</h2>
      </div>
      <div class='col-12-24 vertical-spacer'>
        <%= view_link(cycle) %>
      </div>
    </div>

    <div class='grid' >
      <div class='grid-row col-4-24 vertical-spacer'>
        &nbsp;
      </div>
      <div class='col-3-24  vertical-spacer faded'>
        <%= f.label :name %>
        <%= f.hidden_field :cycle_type, cycle_type: 'term' %>
      </div>
      <div class='col-8-24 vertical-spacer '>
        <%= f.text_field :name %>
      </div>
      <div class='col-9-24 vertical-spacer '>
        &nbsp;
      </div>

      <div class='grid-row col-4-24 vertical-spacer'>
        &nbsp;
      </div>
      <div class='col-3-24  vertical-spacer faded'>
        <%= f.label :charged_in %>
        <%= f.hidden_field :cycle_type, cycle_type: 'term' %>
      </div>
      <div class='col-4-24 vertical-spacer '>
        <%= f.label :charged_in_id, 'Advance', :value => '2' %>
      </div>
      <div class='col-4-24 vertical-spacer '>
        <%= f.label :charged_in_id, 'Arrears', :value => '1' %>
      </div>
      <div class='col-9-24 vertical-spacer '>
        &nbsp;
      </div>

      <div class='grid-row col-4-24 vertical-spacer'>
        &nbsp;
      </div>
      <div class='col-3-24  vertical-spacer faded'>
        &nbsp;
      </div>
      <div class='col-2-24 vertical-spacer '>
        <%= f.radio_button :charged_in_id, '2' %>
      </div>
      <div class='col-2-24  vertical-spacer faded'>
        &nbsp;
      </div>
      <div class='col-2-24 vertical-spacer '>
        <%= f.radio_button :charged_in_id, '1' %>
      </div>
      <div class='col-11-24 vertical-spacer '>
        &nbsp;
      </div>


      <div class='grid-row col-4-24 vertical-spacer'>
        &nbsp;
      </div>
      <div class='col-3-24  vertical-spacer faded'>
        <%= f.label :order %>
      </div>
      <div class='col-2-24 vertical-spacer '>
        <%= f.text_field :order, class: 'r-align'%>
      </div>
      <div class='col-15-24 vertical-spacer '>
        &nbsp;
      </div>

      <div class='grid-row col-24-24'>
        &nbsp;
      </div>

      <div class='js-group-toggle'>
        <div class='grid-row col-4-24 vertical-spacer '>
          &nbsp;
        </div>
        <div class='col-3-24 vertical-spacer  faded'>
          Due On
        </div>
        <div class='col-7-24 vertical-spacer faded c-align'>
          Due Dates
        </div>
        <div class='col-5-24 vertical-spacer faded c-align'>
          Shown Dates
        </div>
        <div class='col-5-24 vertical-spacer'>
          &nbsp;
        </div>

        <div class='grid-row col-7-24 vertical-spacer '>
          &nbsp;
        </div>
        <div class='col-2-24 vertical-spacer r-align faded'>
          Month
        </div>
        <div class='col-2-24 vertical-spacer r-align faded'>
          Day
        </div>
        <div class='col-2-24 vertical-spacer r-align faded'>
          Year
        </div>
        <div class='col-1-24 vertical-spacer faded r-align '>
          &nbsp;
        </div>
        <div class='col-2-24 vertical-spacer faded r-align '>
          Month
        </div>
        <div class='col-2-24 vertical-spacer faded r-align'>
          Day
        </div>
        <div class='col-6-24 vertical-spacer'>
          &nbsp;
        </div>
        <%= f.fields_for :due_ons do |builder| %>
          <div class='grid js-enclosed-toggle <%= "#{hide_extra_new_records record: builder.object, index: builder.index } " %>'>
            <div class='grid-row col-7-24'>
              &nbsp;
            </div>
            <div class='col-2-24'>
              <%= builder.text_field :month, class: 'r-align width-1-1 js-clear' %>
            </div>
            <div class='col-2-24'>
              <%= builder.text_field :day, class: 'r-align width-1-1 js-clear' %>
            </div>
            <div class='col-2-24 vertical-spacer'>
              <%= builder.text_field :year, class: 'r-align width-1-1 js-clear' %>
            </div>
            <div class='col-1-24 vertical-spacer  faded'>
              &nbsp;
            </div>
            <div class='col-2-24'>
              <%= builder.text_field :show_month, class: 'r-align width-1-1 js-clear' %>
            </div>
            <div class='col-2-24'>
              <%= builder.text_field :show_day, class: 'r-align width-1-1 js-clear' %>
            </div>
            <div class='col-2-24 vertical-spacer'>
              <%= builder.hidden_field :_destroy %>
              <%= link_to_if(!first_record?(index: builder.index), fa_icon('trash-o'), '#', class:"delete-button #{hide_or_destroy record: builder.object}", title: 'Delete Due Date') %>
            </div>
            <div class='col-4-24'>
              &nbsp;
            </div>
          </div>  <!-- js-enclosed-toggle -->
        <% end %>
        <div class='grid-row col-7-24 vertical-spacer'>
          &nbsp;
        </div>
        <div class='col-17-24 vertical-spacer'>
          <%= link_to fa_icon('plus lg'), '#', class: 'js-reveal-link', title: 'Add Due Date' %>
        </div>
      </div>  <!-- js-group-toggle -->
      <hr class = 'faded'>
      <%= render 'cycle_charged_ins/form', cycle: @cycle %>
      <div class='grid-row col-24-24'>
        &nbsp;
      </div>

      <div class='grid-row col-6-24  vertical-spacer no-print'>
        &nbsp;
      </div>
      <div class='col-18-24 no-r-pad  vertical-spacer no-print'>
        <%= f.button submit: '', class: 'primary submit-button', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Updating Charge Cycle..."} %> or <%= link_to 'Cancel', cycles_path, class: 'warn' %>
     </div>
    </div>
  </fieldset>
<% end %>
