<%= form_for cycle do |f| %>
  <%= render 'shared/errors', object: cycle %>

  <fieldset id='cycle' class='grid  shell-1-6'>

    <div class='col-22-24  grid-row  vertical-spacer  spacer-column'>

      <%= f.hidden_field :cycle_type, cycle_type: 'term' %>

      <div class='col-5-24  grid-row  bottom-spacer  faded'><%= f.label :name %></div>
      <div class='col-13-24  bottom-spacer'><%= f.text_field :name %></div>

      <div class='col-5-24  grid-row  vertical-spacer faded'>
        <%= f.label :charged_in %>
        <%= f.hidden_field :cycle_type, cycle_type: 'term' %>
      </div>
      <div class='col-3-24  vertical-spacer  faded'>
        <%= f.label :charged_in_id, 'Advance', value: ChargedInDefaults::MODERN_ADVANCE.to_s %>
      </div>
      <div class='col-2-24  vertical-spacer  faded'>
        <%= f.radio_button :charged_in_id, ChargedInDefaults::MODERN_ADVANCE.to_s %>
      </div>
      <div class='col-1-24  vertical-spacer'>
        &nbsp;
      </div>
      <div class='col-3-24  vertical-spacer  faded'>
        <%= f.label :charged_in_id, 'Arrears', value: ChargedInDefaults::MODERN_ARREARS.to_s %>
      </div>
      <div class='col-2-24  vertical-spacer  faded'>
        <%= f.radio_button :charged_in_id, ChargedInDefaults::MODERN_ARREARS.to_s %>
      </div>

      <div class='col-5-24  grid-row  vertical-spacer  faded'><%= f.label :order %></div>
      <div class='col-2-24  vertical-spacer'>
        <%= f.text_field :order, class: 'r-align' %>
      </div>

      <div class='js-group-toggle'>

        <div class='col-5-24  grid-row  vertical-spacer  faded'>Due On</div>
        <div class='col-6-24  vertical-spacer  faded  c-align'>Due Dates</div>
        <div class='col-6-24  vertical-spacer  faded  c-align'>Shown Dates</div>
        <div class='col-5-24  bottom-spacer'>&nbsp;</div>

        <div class='col-5-24  grid-row  vertical-spacer'>&nbsp;</div>
        <div class='col-2-24  vertical-spacer  faded  r-align'>Month</div>
        <div class='col-2-24  vertical-spacer  faded  r-align'>Day</div>
        <div class='col-2-24  vertical-spacer  faded  r-align'>Year</div>
        <div class='col-1-24  vertical-spacer  faded  r-align'>&nbsp;</div>
        <div class='col-2-24  vertical-spacer  faded  r-align'>Month</div>
        <div class='col-2-24  vertical-spacer  faded  r-align'>Day</div>
        <div class='col-1-24  vertical-spacer'>&nbsp</div>
        <div class='col-6-24  vertical-spacer  faded  no-print'>Action</div>

        <%= f.fields_for :due_ons do |builder| %>
          <div class='grid  js-enclosed-toggle <%= "#{hide_extra_new_records record: builder.object, index: builder.index }" %>'>

            <div class='col-5-24  grid-row   bottom-spacer'>&nbsp;</div>
            <div class='col-2-24  bottom-spacer'>
              <%= builder.text_field :month, class: 'r-align  width-1-1  js-clear' %>
            </div>
            <div class='col-2-24   bottom-spacer'>
              <%= builder.text_field :day, class: 'r-align  width-1-1  js-clear' %>
            </div>
            <div class='col-2-24  bottom-spacer'>
              <%= builder.text_field :year, class: 'r-align  width-1-1  js-clear' %>
            </div>
            <div class='col-1-24  bottom-spacer'>&nbsp;</div>
            <div class='col-2-24  bottom-spacer'>
              <%= builder.text_field :show_month, class: 'r-align  width-1-1  js-clear' %>
            </div>
            <div class='col-2-24  bottom-spacer'>
              <%= builder.text_field :show_day, class: 'r-align width-1-1 js-clear' %>
            </div>
            <div class='col-1-24  vertical-spacer'>&nbsp</div>
            <div class='col-2-24  bottom-spacer'>
              <%= builder.hidden_field :_destroy %>
              <% if first_record? index: builder.index %>
                <%= link_to fa_icon('trash-o'), '#', class:"plain-button", title: 'Delete Due Date (disabled)', disabled: true %>
              <% else %>
                <%= link_to fa_icon('trash-o'), '#', class:"plain-button #{hide_or_destroy record: builder.object}", title: 'Delete Due Date' %>
              <% end %>
            </div>
          </div>  <!-- js-enclosed-toggle -->
        <% end %>

        <div class='col-5-24  grid-row  bottom-line-spacer'>&nbsp;</div>
        <div class='col-4-24  bottom-line-spacer'>
          <%= add_link css: 'js-reveal-link', title: 'Add Due Date' %>
        </div>
      </div>  <!-- js-group-toggle -->

      <div class='col-5-24  grid-row  top-line-spacer  no-print'>&nbsp;</div>
      <div class='col-18-24  top-line-spacer  no-print'>
        <%= render 'forms/buttons', f: f, path: cycles_path  %>
      </div>
    </div>

    <div class='col-2-24  spacer-column'>
      <%= view_link cycle, size: '2x' %>
    </div>
  </fieldset>
<% end %>
