<%= render 'shared/errors', object: cycle %>
<div  id='help-me',  data-summit='3'></div>
<%= render 'form_help' %>
<%= render 'bubbles/search_account' %>

<fieldset id='cycle' class='grid  Shell  u-padding-1-12'>

  <%= form_for cycle do |f| %>
    <div class='col-23-24  grid-row  bottom-1-line-spacer  spacer-column'>
      <%= f.hidden_field :cycle_type, cycle_type: 'monthly' %>

      <div class='col-5-24  grid-row  bottom-spacer  grid-label'><%= f.label :name, class: 'required' %></div>
      <div class='col-13-24  bottom-spacer'><%= f.text_field :name %></div>

      <div class='col-5-24  grid-row  bottom-spacer  grid-label'>
        <%= f.label :charged_in, class: 'required' %>
        <%= f.hidden_field :cycle_type, cycle_type: 'term' %>
      </div>
      <div class='col-3-24  bottom-spacer  grid-label'>
        <%= f.label :charged_in, 'Advance', value: ChargedInDefaults::MODERN_ADVANCE.to_s %>
      </div>
      <div class='col-2-24  bottom-spacer  grid-label'>
        <%= f.radio_button :charged_in, ChargedInDefaults::MODERN_ADVANCE.to_s %>
      </div>
      <div class='col-1-24  bottom-spacer'>&nbsp;</div>
      <div class='col-3-24  bottom-spacer  grid-label'>
        <%= f.label :charged_in, 'Arrears', value: ChargedInDefaults::MODERN_ARREARS.to_s %>
      </div>
      <div class='col-2-24  bottom-spacer  grid-label'>
        <%= f.radio_button :charged_in, ChargedInDefaults::MODERN_ARREARS.to_s %>
      </div>
      <div class='col-5-24  grid-row  bottom-spacer  grid-label'>
        <%= f.label :order, class: 'required' %>
      </div>
      <div class='col-2-24  bottom-spacer '>
        <%= f.text_field :order, class: 'r-align' %>
      </div>

      <%= f.fields_for :due_ons, cycle.due_ons.first  do |builder| %>

        <div class='col-5-24  grid-row  bottom-spacer  grid-label  required'>
          Due On Day
        </div>
        <div class='col-2-24  bottom-spacer'>
          <%= text_field_tag :day, builder.object.day, class: 'r-align' %>
        </div>
        <div class='col-8-24  bottom-spacer'>&nbsp;</div>
      <% end %>

      <div class='col-5-24  grid-row  vertical-line-spacer'>&nbsp;</div>
      <div class='col-18-24  top-1-line-spacer'>
        <%= render 'forms/buttons', f: f, path: cycles_path  %>
      </div>
    </div>
  <% end %>

  <div class='col-1-24  spacer-column  bottom-1-line-spacer  no-r-pad'>
    <%= view_link cycle %>
    <div class='Bubble-point-right'>
      <%= render 'bubbles/help_2',  pic: 'fa fa-file-o  fa-lg',  line1:'View Button', line2: 'Views this cycle details, unless greyed out, when it is disabled' %>
    </div>
  </div>
</fieldset>
