<% @title='Cycles' %>

<div class='grid  Shell  u-padding-1-6'>

  <div class='col-3-24  grid-row  r-align'> &nbsp;</div>
  <div class='col-15-24'>
    &nbsp;
    <div  id='help-me', data-skip='1',class='Bubble-down'>
      <%= render 'bubbles/pt_down_view' %>
    </div>
    <%= render 'bubbles/pt_down', line1: '*', line2: '*' %>
  </div>
  <div class='col-2-24'>
    &nbsp;
    <div class='Bubble-down'>
      <%= render 'bubbles/pt_down_edit', line1:'Edit Button', line2: 'Edits this cycle details' %>
    </div>
  </div>
  <div class='col-1-24'>
    <div class='Bubble-down'>
      <%= render 'bubbles/pt_down_delete' , line2: 'Deletes this cycle' %>
    </div>
  </div>

  <div class='col-12-24  grid-row  bottom-spacer  grid-header'>Name</div>
  <div class='col-2-24  bottom-spacer  grid-header  r-align'>Order</div>
  <div class='col-1-24  bottom-spacer'>&nbsp;</div>
  <div class='col-4-24  bottom-spacer  grid-header'>Type</div>
  <div class='col-5-24  bottom-spacer  grid-header  no-print'>Actions</div>

  <% @cycles.each do |cycle| %>
    <div title='View' class='table-row' data-link='<%= cycle_path(cycle) %>'>

      <div class='col-12-24  grid-row  bottom-spacer  inherit-row'>
       <%= cycle.name %>
      </div>
      <div class='col-2-24  bottom-spacer  inherit-row  r-align'>
       <%= cycle.order %>
      </div>
      <div class='col-1-24  bottom-spacer  inherit-row'>&nbsp;</div>
      <div class='col-4-24  bottom-spacer  inherit-row'>
        <%= cycle.cycle_type %>
      </div>
      <nav class='col-1-24  bottom-spacer'>
        <%= edit_link cycle, size: 'lg' %>
      </nav>
      <div class='col-1-24  bottom-spacer'>&nbsp;</div>
      <nav class='col-1-24  bottom-spacer'>
        <%= delete_link path: cycle %>
      </nav>
      <div class='col-2-24  bottom-spacer'>&nbsp;</div>
    </div>
  <% end %>
</div>
