<% @title='Cycles' %>
<%= render 'bubbles/search_account' %>

<div class='grid  Shell  u-padding-1-6'>

  <div class='col-9-24  grid-row  r-align'> &nbsp;</div>
  <div  id='help-me',  data-summit='5',  class='col-10-24  Bubble-anchor'>
    <%= render 'bubbles/help_2',  pic: 'fa fa-file-o  fa-lg',  line1: 'View Cycle Details',  line2: "Click on a cycle row for that cycle's details" %>
    &nbsp;
  </div>
  <div class='col-2-24  Bubble-anchor'>
    <%= render 'bubbles/help_3',  pic: 'fa fa-edit  fa-lg',  line1: 'Edit Button',  line2: 'Edits this cycle details' %>
     &nbsp;
  </div>
  <div class='col-1-24  Bubble-anchor'>
    <%= render 'bubbles/help_4',  pic: 'fa fa-trash-o  fa-lg',  line1: 'Delete Button',  line2: 'Deletes this cycle' %>
  </div>

  <div class='col-12-24  grid-row  bottom-spacer  grid-header'>Name</div>
  <div class='col-2-24  bottom-spacer  grid-header  r-align'>Order</div>
  <div class='col-1-24  bottom-spacer'>&nbsp;</div>
  <div class='col-4-24  bottom-spacer  grid-header'>Type</div>
  <div class='col-5-24  bottom-spacer  grid-header  no-print'>Actions</div>

  <% @cycles.each do |cycle| %>
    <div title='View' class='table-row' data-link='<%= cycle_path(cycle) %>'>

      <div class='col-12-24  grid-row  bottom-spacer  inherit-row'>
       <%= cycle.name %>
      </div>
      <div class='col-2-24  bottom-spacer  inherit-row  r-align'>
       <%= cycle.order %>
      </div>
      <div class='col-1-24  bottom-spacer  inherit-row'>&nbsp;</div>
      <div class='col-4-24  bottom-spacer  inherit-row'>
        <%= cycle.cycle_type %>
      </div>
      <nav class='col-1-24  bottom-spacer'>
        <%= edit_link cycle, size: 'lg' %>
      </nav>
      <div class='col-1-24  bottom-spacer'>&nbsp;</div>
      <nav class='col-1-24  bottom-spacer'>
        <%= delete_link path: cycle %>
      </nav>
      <div class='col-2-24  bottom-spacer'>&nbsp;</div>
    </div>
  <% end %>
</div>
