<% @title='View Cycle' %>

<div class='grid shell-1-6'>
  <div class='col-18-24  grid-row  bottom-spacer'>    <!-- 1st column -->

    <div class='col-4-24  grid-row  bottom-spacer  faded'>Name</div>
    <div class='col-13-24  bottom-spacer'><%= @cycle.name %></div>

    <div class='col-4-24  grid-row  bottom-line-spacer  faded'>Order</div>
    <div class='col-3-24  bottom-line-spacer  r-align'><%= @cycle.order %></div>

    <% if @cycle.monthly? %>
      <%= render 'due_ons/monthly', cycle: @cycle %>
    <% else %>
      <%= render 'due_ons/term', cycle: @cycle %>
    <% end %>
  </div>

  <div class='col-6-24  no-r-pad'>  <!-- 2nd column -->
    <%= edit_link @cycle, size: '2x' %>
  </div>
</div> <!-- grid shell -->
