<% @title='View Cycle' %>
<%= render 'bubbles/search_account' %>

<div class='grid  Shell  u-padding-1-12'>

  <div class='col-23-24  grid-row  bottom-spacer'>    <!-- 1st column -->

    <div class='col-5-24  grid-row  bottom-half-line-spacer  grid-label'>Name
    <div class='Bubble-search'>
      <%= render 'bubbles/help_main',  pic: 'fa fa-eye  fa-lg', line1: 'The Cycles View', line2: 'The details of this cycle: name, dates and  order number are shown on this page.', line3: 'The print button, at the top right-hand corner, will print out the page. The edit button takes you through to the edit form.', line4: 'The search box at the top of the page is for account searches.', line5: 'Using the next button in this box will point you to the different buttons on this page and their usage.'%>
    </div>
    </div>
    <div class='col-14-24 bottom-half-line-spacer'><%= @cycle.name %></div>
    <div class='col-5-24  grid-row  bottom-half-line-spacer  grid-label'>Order</div>
    <div class='col-3-24  bottom-half-line-spacer'><%= @cycle.order %></div>

    <% if @cycle.monthly? %>
      <%= render 'due_ons/monthly', cycle: @cycle %>
    <% else %>
      <%= render 'due_ons/term', cycle: @cycle %>
    <% end %>
  </div>

  <div class='col-1-24'>  <!-- 2nd column -->
    <%= edit_link @cycle %>
    <div  id='help-me',  data-summit='3',  class='Bubble-point-right'>
      <%= render 'bubbles/help_2',  pic: 'fa fa-edit  fa-lg',  line1:'Cycle Edit Button',  line2: "Use to edit this cycle's details" %>
    </div>
  </div>
</div> <!-- grid  Shell  u-padding-1-100-->
