
<fieldset id='<%= parent %>_address'>

  <h3>Address</h3>

  <div class='field text require half' >
    <%= f.label :flat_no %>
    <%= f.text_field :flat_no %>
  </div>

  <div class='field text require'>
    <%= f.label :house_name %>
    <%= f.text_field :house_name, data: { autocomplete_source: Address.uniq.pluck(:house_name).reject(&:blank?).sort }  %>
  </div>

  <div class='field text require half' >
    <%= f.label :road_no %>
    <%= f.text_field :road_no %>
  </div>

  <div class='field text require'>
    <%= f.label :road %>
    <%= f.text_field :road, data: { autocomplete_source: Address.uniq.pluck(:road).reject(&:blank?).sort } %>
  </div>

  <div class='field text require'>
  <%= f.label :District %>
  <%= f.text_field :district %>

  </div>

  <div class='field text require'>
    <%= f.label :town %>
    <%= f.text_field :town, data: { autocomplete_source: Address.uniq.pluck(:town).reject(&:blank?).sort } %>
  </div>

  <div class='field text require'>
    <%= f.label :county %>
    <%= f.text_field :county, data: { autocomplete_source: Address.uniq.pluck(:county).reject(&:blank?).sort }  %>
  </div>

  <div class='field text require half' >
    <%= f.label :postcode %>
    <%= f.text_field :postcode %>
  </div>
</fieldset>