<fieldset id='<%= parent %>_address'>
  <h3>Address</h3>

  <div class='field text require'>
    <%= f.label :type %>
    <%= f.select :type, Address.types, include_blank: true %>
  </div>

  <div class='field text require'>
    <%= f.label :flat_no %>
    <%= f.text_field :flat_no %>
  </div>

  <div class='field text require'>
    <%= f.label :house_name %>
    <%= f.text_field :house_name %>
  </div>

  <div class='field text require'>
    <%= f.label :road_no %>
    <%= f.text_field :road_no %>
  </div>

  <div class='field text require'>
    <%= f.label :road %>
    <%= f.text_field :road %>
  </div>

  <div class='field text require'>
    <%= f.label :district %>
    <%= f.text_field :district %>
  </div>

  <div class='field text require'>
    <%= f.label :town %>
    <%= f.text_field :town %>
  </div>

  <div class='field text require'>
    <%= f.label :county %>
    <%= f.text_field :county %>
  </div>

  <div class='field text require'>
    <%= f.label :postcode %>
    <%= f.text_field :postcode %>
  </div>
</fieldset>