<%= f.fields_for :address do |b| %>

<fieldset id='<%= parent %>_address'>

  <h3>Address</h3>

  <div class='field text half' >
    <%= b.label :flat_no %>
    <%= b.text_field :flat_no %>
  </div>

  <div class='field text'>
    <%= b.label :house_name %>
    <%= b.text_field :house_name, data: { autocomplete_source: Address.uniq.pluck(:house_name).reject(&:blank?).sort }  %>
  </div>

  <div class='field text half' >
    <%= b.label :road_no %>
    <%= b.text_field :road_no %>
  </div>

  <div class='field text'>
    <%= b.label :road, class: 'required' %>
    <%= b.text_field :road, data: { autocomplete_source: Address.uniq.pluck(:road).reject(&:blank?).sort } %>
  </div>

  <div class='field text '>
  <%= b.label :district %>
  <%= b.text_field :district %>

  </div>

  <div class='field text'>
    <%= b.label :town %>
    <%= b.text_field :town, data: { autocomplete_source: Address.uniq.pluck(:town).reject(&:blank?).sort } %>
  </div>

  <div class='field text'>
    <%= b.label :county, class: 'required' %>
    <%= b.text_field :county, data: { autocomplete_source: Address.uniq.pluck(:county).reject(&:blank?).sort }  %>
  </div>

  <div class='field text half' >
    <%= b.label :postcode %>
    <%= b.text_field :postcode %>
  </div>
</fieldset>
<% end %>