  <div class='field text require'>
    <%= f.hidden_field :_destroy %>
    <%= link_to 'X', '#', class:'hide-partial' %>
  </div>
<h3>Person<span>&nbsp;<%= link_to 'or company', '#', class: 'toggle' %></span></h3>
<div class='field text require'>
  <%= f.label :title %>
  <%= f.text_field :title, class: 'clearable' %>
</div>

<div class='field text require'>
  <%= f.label :initials %>
  <%= f.text_field :initials, class: 'clearable' %>
</div>

<div class='field text require'>
  <%= f.label :name %>
  <%= f.text_field :name, class: 'clearable' %>
</div>

<%= f.hidden_field :type %>