<a href ="#"  class="add go" style= "float:right">Remove Panel</a>
<h3>Person </h3>
<div class='field text require'>
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<div class='field text require'>
  <%= f.label :initials %>
  <%= f.text_field :initials %>
</div>

<div class='field text require'>
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

