  <div class='js-reveal-parent'>
    <% entitieable.entities.each.with_index do |entity, index| %>
      <%= f.fields_for :entities, entity do |builder| %>
        <div id='<%= entity_field_id entitieable, index %>'
          class='js-fieldset <%= "#{hide_new_record_unless_first entity, index} " +
                      "#{destroyable entity, index }" %>' >
          <%= render 'shared/entity', f: builder, record: entity, index: index %>
        </div>
      <% end %>
    <% end %>
    <div class='col-1-4 vertical-spacer'>
      &nbsp;
    </div>
    <div class='col-3-4 vertical-spacer'>
      <%= link_to (fa_icon 'plus'), '#', class: 'js-reveal-link', title: 'Add Person' %>
    </div>
  </div>
