<div class='toggle-selection'>
  <div class='togglable reveal-selection'>
    <% entitieable.entities.select(&:person?).each.with_index do |entity, index| %>
      <%= f.fields_for :entities, entity do |builder| %>
        <fieldset id='<%= entity_field_id entitieable, index %>' class='<%= hide_new_record_unless_first entity, index %>' >
          <%= render partial: 'shared/entity', locals: { f: builder } %>
        </fieldset>
      <% end %>
    <% end %>
    <%= link_to 'Add Person', '#', class: 'reveal-partial' %>
  </div>


  <div class='togglable revealable'>
    <% entitieable.entities.reject(&:person?).each.with_index do |entity, index| %>
      <%= f.fields_for :entities, entity do |builder| %>
        <fieldset id='<%= entity_field_id entitieable, Entities::MAX_ENTITIES %>'>
          <%= render partial: 'shared/entity_company', locals: { f: builder } %>
        </fieldset>
      <% end %>
    <% end %>
  </div>
</div>
