<div class='toggle-selection'>

    <div class='field text require'>
      <%= f.hidden_field :_destroy %>
      <%= link_to 'X', '#', class:"hide-link #{hide_if_first_record(index)}" %>
    </div>
    <div class='togglable <%= hide_field_on_start_by_entity_type record %>'>
      <h3>Person<span>&nbsp;<%= link_to 'or company', '#', class: 'toggle', data: { :'model-type-to' => 'Company' } %></span></h3>
    </div>
    <div class='togglable revealable <%= hide_field_on_start_by_entity_type record %>'>
      <h3>Company<span>&nbsp;<%= link_to 'or person', '#', class: 'toggle', data: { :'model-type-to' => 'Person' } %></span></h3>
    </div>
    <%= f.hidden_field :entity_type, class: 'model_type' %>

  <div class='field text togglable <%= hide_field_on_start_by_entity_type record %>'>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'clearable' %>
  </div>

  <div class='field text togglable <%= hide_field_on_start_by_entity_type record %>'>
    <%= f.label :initials %>
    <%= f.text_field :initials, class: 'clearable' %>
  </div>

  <div class='field text require'>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'clearable' %>
  </div>

</div>