  <div class='field text require'>
    <%= f.hidden_field :_destroy %>
    <%= link_to 'X', '#', class:'remove_fields', data:{confirm:'Are you sure?'}%>
  </div>
<h3>Person<span>&nbsp;<%= link_to 'or Company', '#', class: 'toggle' %></span></h3>
<div class='field text require'>
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<div class='field text require'>
  <%= f.label :initials %>
  <%= f.text_field :initials %>
</div>

<div class='field text require'>
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<%= f.hidden_field :type %>