<fieldset id='<%= parent %>_entity_<%= f.options[:child_index] %>'>
  <div class='require'>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class='require'>
    <%= f.label :initials %>
    <%= f.text_field :initials %>
  </div>

  <div class='require'>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <%= f.hidden_field :entitieable_id %>
  <%= f.hidden_field :entitieable_type %>
</fieldset>