<div class='js-toggle-selection'>

  <div class='col-1-1 vertical-spacer'>
    <%= f.hidden_field :_destroy %>
    <%= link_to 'X', '#', class:"hover-link simple-button float-right #{hide_or_destroy record} #{hide_if_first_record(index)}" %>
    <div class='js-togglable <%= hide_field_on_start_by_entity_type record %>'>
      <%= yield :entities_heading %>
      <h3> Person&nbsp;<%= link_to 'or company', '#', class: 'js-toggle js-entity-event', data: { :'model-type-to' => 'Company' } %></h3>
    </div>
    <div class='js-togglable revealable <%= hide_field_on_start_by_entity_type record %>'>
      <%= yield :entities_heading %>
      <h3>Company&nbsp;<%= link_to 'or person', '#', class: 'js-toggle js-entity-event', data: { :'model-type-to' => 'Person' } %></h3>
    </div>
    <%= f.hidden_field :entity_type, class: 'model_type' %>
  </div>

  <div class='col-1-4 vertical-spacer js-togglable <%= hide_field_on_start_by_entity_type record %>'>
    <%= f.label :title %>
  </div>
  <div class='col-3-4 vertical-spacer js-togglable <%= hide_field_on_start_by_entity_type record %> no-r-pad'>
    <%= f.text_field :title, class: 'js-clearable' %>
  </div>

  <div class='col-1-4 vertical-spacer js-togglable <%= hide_field_on_start_by_entity_type record %>'>
    <%= f.label :initials %>
  </div>
  <div class='col-3-4 vertical-spacer js-togglable <%= hide_field_on_start_by_entity_type record %> no-r-pad'>
    <%= f.text_field :initials, class: 'js-clearable' %>
  </div>
  <div class='col-1-4 vertical-spacer'>
    <%= f.label :name, class: 'required' %>
  </div>
  <div class='col-3-4 vertical-spacer no-r-pad'>
    <%= f.text_field :name, class: 'js-clearable' %>
  </div>
</div>