<div class='require'>
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<div class='require'>
  <%= f.label :initials %>
  <%= f.text_field :initials %>
</div>

<div class='require'>
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>