<div id='<%= entity_field_id(entitieable, index) %>'
  class='grid js-toggle-selection <%= "#{hide_new_record_unless_first entity, index} " %>' >
  <div class='col-6-24 vertical-spacer no-r-pad spec-entity-count'>
    <%= f.text_field :title, class: 'js-clear' %>
  </div>

  <div class='col-5-24 vertical-spacer no-r-pad'>
    <%= f.text_field :initials, class: 'js-clear' %>
  </div>
  <div class='col-11-24 vertical-spacer no-r-pad'>
    <%= f.text_field :name, class: 'js-clear' %>
  </div>
  <div class='col-2-24 vertical-spacer'>
    <%= f.hidden_field :_destroy %>
    <%= link_to_if(!first_record?(index), fa_icon('trash-o'), '#', class:"delete-button #{hide_or_destroy entity}", title: 'Delete Person') %>
  </div>
</div>