<p>
Flat No: <%= object.address.flat_no %>
</p>
<p>
House: <%= object.address.house_name %>
</P>
<p>
Road No: <%= object.address.road_no %>
</P>
<p>
Road: <%= object.address.road %>
</P>
<p>
District: <%= object.address.district %>
</P>
<p>
Town: <%= object.address.town %>
</P>
<p>
Country: <%= object.address.county %>
</P>
<p>
Postcode: <%= object.address.postcode %>
</P>