<span style='display: inline-block;'> <%= addressee.address.flat_no %></span>
<%= addressee.address.house_name %>
<%= addressee.address.road_no %>
<%= addressee.address.road %>
<%= addressee.address.district %>
<%= addressee.address.town %>
<%= addressee.address.county %>
<%= addressee.address.postcode %>
