<p>
<span style='float: left; width:30%;'>Flat No:</span><span style='display: inline-block;'> <%= object.address.flat_no %></span>
</p>
<p>
<span style='float: left; width:30%;'>House:</span><span style='display: inline-block;'> <%= object.address.house_name %></span>
</p>
<p>
<span style='float: left; width:30%;'>Road No:</span><span style='display: inline-block;'> <%= object.address.road_no %></span>
</p>
<p>
<span style='float: left; width:30%;'>Road:</span><span style='display: inline-block;'> <%= object.address.road %></span>
</p>
<p>
<span style='float: left; width:30%;'>District:</span><span style='display: inline-block;'> <%= object.address.district %></span>
</p>
<p>
<span style='float: left; width:30%;'>Town:</span><span style='display: inline-block;'><%= object.address.town %></span>
</p>
<p>
<span style='float: left; width:30%;'>Country:</span><span style='display: inline-block;'> <%= object.address.county %></span>
</p>
<p>
<span style='float: left; width:30%;'>Postcode:</span><span style='display: inline-block;'> <%= object.address.postcode %></span>
</p>