<%= form_for @client do |f| %>

  <%= render 'shared/errors', object: @client %>
  <fieldset id='client'>

    <div class='field text required'>
      <h3>Client</h3>
      <%= f.label :Client_ID %>
      <%= f.text_field :human_id %>
    </div>

    <% @client.entities.each do |entity| %>
      <%= f.fields_for :entities, entity do |builder| %>
        <%= render partial: 'shared/entity', locals: { f: builder, parent: 'client' } %>
      <% end %>
    <% end %>

    <%= f.fields_for :address do |builder| %>
      <%= render partial: 'shared/address', locals: { f: builder, parent: 'client' } %>
    <% end %>

  <%= javascript_tag do %>
   setBlockDisplay('client_entities_attributes_1_name','client_entity_1');
   setFieldDisplay('client_address_attributes_district')
   <% end %>

 <a href="#" id = "togglePerson" onClick ="toggleFieldDisplay('client_entity_1','togglePerson','Add Person','Remove Person')">Add Person</a>
 <a href="#" id = "changeClientDistrict" onClick ="changeFieldDisplay('client_address_attributes_district')">Add District</a>

  </fieldset>

  <div>
    <p>
      <%= f.submit %>
    </p>
  </div>

<% end %>
