<%= form_for client do |f| %>
  <%= render 'shared/errors', object: client %>

  <fieldset id='client' class='shell'>
    <div class='grid'>
      <div class='col-1-2'>
        <h2>Client</h2>
      </div>
      <div class='col-1-2 no-r-pad'>
        <%= view_link(client) %>
      </div>
      <div class='grid-row col-1-4 bottom-spacer'>
        <%= f.label :human_ref, 'Client ID', class: 'required' %>
      </div>
      <div class='col-3-4 bottom-spacer no-r-pad'>
        <%= f.text_field :human_ref, autofocus:true %>
      </div>
      <div class='col-4-4 bottom-spacer no-r-pad'>
        <hr>
        <%= render 'entities/form', f: f, entitieable: client %>
        <hr>
        <%= render 'addresses/form', f: f, parent: 'client', address: AddressDecorator.new(client.address) %>
      </div>

      <hr>

      <div class='col-1-4 no-print'>
        &nbsp;
      </div>
      <div class='col-3-4 no-r-pad no-print'>
         <%= f.button submit: '', class: "primary submit-button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Updating Client..."} %> or <%= link_to 'Cancel', clients_path, class: 'warn' %>
      </div>
    </div>
  </fieldset>
<% end %>
