<div class='Bubble-search'>
  <%= render 'bubbles/search', line1: 'Client Search Box', line2: 'Search by number, name or part address' %>
</div>

<%= form_for client do |f| %>
  <%= render 'shared/errors', object: client %>

  <fieldset id='client' class='grid  Shell  u-padding-1-12'>
    <div class='col-22-24  vertical-spacer  spacer-column'>

      <div class='col-1-4  grid-row  bottom-spacer  grid-label'>
        <%= f.label :human_ref, 'Client ID', class: 'required' %>
      </div>
      <div class='col-3-4  bottom-spacer'>
        <%= f.text_field :human_ref, autofocus: true, class: 'width-1-1' %>
      </div>

      <div class='col-1-4  grid-row  top-1-line-spacer  grid-label'>
        <%= f.label :name, class: 'required' %>
      </div>
      <div class='col-3-4  top-1-line-spacer'>
        <%= render 'entities/form', f: f, entitieable: client %>
      </div>

      <hr>
      <%= render 'addresses/form', f: f, parent: 'client', address: AddressDecorator.new(client.address) %>

      <div class='col-1-4  grid-row  top-1-line-spacer'>&nbsp;</div>
      <div class='col-3-4  top-1-line-spacer'>
        <%= render 'forms/buttons', f: f, path: clients_path %>
      </div>
    </div>
    <div class='col-1-24  spacer-column'>
      &nbsp;
    </div>
    <div class='col-1-24  spacer-column'>
      <%= view_link client %>
      <div  id='help-me',  data-summit='3', class='Bubble-point-right'>
        <%= render 'bubbles/help_2',  pic: 'fa fa-file-o  fa-lg',  line1:'Client View Button',  line2: "Use to view this client's details" %>
      </div>
    </div>

  </fieldset>
<% end %>
