<%= form_for client do |f| %>
  <%= render 'shared/errors', object: client %>
  <fieldset id='client' class='shell'>
    <h3>Client
    <span class= 'floatright'><%= link_to 'View', client_path(client) %><span
    <span class= 'floatright'><%= link_to 'List', clients_path %><span>
    </h3>
    <div class='field text require half'>
      <%= f.label :human_id, 'Client ID' %>
      <%= f.text_field :human_id, autofocus:true %>
    </div>
    <%= render 'shared/entities', f: f, entitieable: client %>
    <%= render 'shared/address', f: f, parent: 'client' %>
  </fieldset>
  <div>
    <%= f.submit %><span class = 'simple' ><%= link_to 'Cancel', clients_path %></span>
  </div>
<% end %>
