<%= form_for client do |f| %>
  <%= render 'shared/errors', object: client %>

  <fieldset id='client' class='grid  shell-extra-thick'>
    <div class='col-22-24  vertical-spacer spacer-column'>
      <div class='col-1-4  grid-row  bottom-spacer  faded'>
        <%= f.label :human_ref, 'Client ID', class: 'required' %>
      </div>
      <div class='col-3-4  bottom-spacer  no-r-pad'>
        <%= f.text_field :human_ref, autofocus:true, class: 'width-1-1' %>
      </div>

      <div class='col-1-4  grid-row  top-line-spacer'>
        <%= f.label :name, class: 'required  faded' %>
      </div>
      <div class='col-3-4  top-line-spacer  no-r-pad'>
        <%= render 'entities/form', f: f, entitieable: client %>
      </div>

      <hr>
      <%= render 'addresses/form', f: f, parent: 'client', address: AddressDecorator.new(client.address) %>
      <hr>
      <div class='col-1-4  gird-row  line-spacer  no-print'>&nbsp;</div>
      <div class='col-3-4  line-spacer  no-print  no-r-pad'>
        <%= render 'buttons/submit', f: f %>  or <%= link_to 'Cancel', clients_path, class: 'warn' %>
      </div>
    </div>
    <div class='col-2-24  spacer-column'>
      <%= view_link client, size: '2x' %>
    </div>

  </fieldset>
<% end %>
