<% @title='Clients' %>
<% clients = @records %>
<div class='Bubble-search'>
  <%= render 'bubbles/search', line1: 'Client Search Box', line2: 'Search by number, name or part address' %>
</div>

<div class='grid  Shell  u-padding-1-25'>

  <div class='col-3-24  grid-row  r-align'> &nbsp;</div>
  <div class='col-18-24'>
    &nbsp;
    <div  id='help-me',  data-skip='0',  data-pay='1',  data-itext ='0'>
      <%= render 'bubbles/help_2_view', line1: 'View Client Details', line2: "Click on a client row for that client's details" %>
    </div>
  </div>
  <div class='col-2-24'>
    &nbsp;
    <div class='Bubble-anchor'>
      <%= render 'bubbles/help_4_edit', line1: 'Edit Button',  line2: "Edits a client's details" %>
    </div>
  </div>
  <div class='col-1-24'>
    <div class='Bubble-anchor'>
      &nbsp;
      <%= render 'bubbles/pt_down_delete' , line2: 'Deletes a client record and all its accounts' %>
    </div>
  </div>

  <div class='col-3-24  grid-row  bottom-spacer  grid-header  r-align'>
    Client ID
  </div>
  <div class='col-9-24  bottom-spacer  grid-header'>Name</div>
  <div class='col-2-24  bottom-spacer  grid-header  r-align'>No</div>
  <div class='col-7-24  bottom-spacer  grid-header'>Road</div>
  <div class='col-3-24  bottom-spacer  grid-header  no-print'>Actions</div>

  <% clients.each do |client| %>
    <div title='View' class='table-row' data-link='<%= client_path(client.id) %>'>
      <div class='col-3-24  grid-row  bottom-spacer  inherit-row  r-align'>
        <%= client.human_ref %>
      </div>
      <div class='col-9-24  bottom-spacer  inherit-row'>
        <%= client.full_name %>
      </div>
      <div class='col-2-24  bottom-spacer  inherit-row  r-align'>
        <%= format_empty_string_as_dash client.address.first_no %>
      </div>
      <div class='col-7-24  bottom-spacer  inherit-row'>
        <%= format_empty_string_as_dash client.address.first_text %>
        <%= testing_link path: client_path(client) %>
      </div>
    </div>
    <div class='col-1-24  bottom-spacer'><%= edit_link client, size: 'lg' %></div>
    <div class='col-1-24  bottom-spacer'>&nbsp;</div>
    <div class='col-1-24  bottom-spacer'><%= delete_link path: client, confirm: "Deleting a client also deletes its properties. If you are sure press 'OK' to delete?" %></div>
  <% end %>
</div>

<%= paginate clients %>
