<h2 class = "mainTitle">Clients</h2>
<%= render partial: 'clients/search' %>
<table>
  <thead>
    <tr>
      <th class='alnright'>
        ID
      </th>
      <th>
        Intials
      </th>
      <th>
        Name
      </th>
      <th class='alnright'>
        No
      </th>
      <th>
        Road
      </th>
      <th>
        Town
      </th>
      <th>
        Actions
      </th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
    <tr>
      <td class='alnright'>
        <%= link_to client.human_id, client %>
      </td>
      <td>
        <%= format_empty_string_as_dash client.entities.first.initials %>
      </td>
      <td>
        <%= client.entities.first.name %>
      </td>
      <td class='alnright'>
        <%= client.address.road_no %>
      </td>
      <td>
        <%= client.address.road %>
      </td>
      <td>
        <%= client.address.town %>
      </td>
      <td>
        <%= link_to 'Edit', edit_client_path(client) %> |
        <%= link_to 'Delete', client, method: :delete, data: { confirm: 'Are you sure?' } %>
      </t>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @clients %>


