<% @title='Clients' %>

<div class='grid shell'>

  <div class='col-1-12 bottom-spacer grid-header r-align'>
    ID
  </div>
  <div class='col-1-12 bottom-spacer grid-header'>
    Initials
  </div>
  <div class='col-3-12 bottom-spacer grid-header'>
    Name
  </div>
  <div class='col-1-12 bottom-spacer grid-header r-align'>
    No
  </div>
  <div class='col-4-12 bottom-spacer grid-header'>
   Road
  </div>
  <div class='col-2-12 bottom-spacer grid-header no-print'>
    Actions
  </div>

  <% @records.each do |client| %>
    <div title='View' class='table-row' data-link='<%= client_path(client.id) %>'>
      <div class='col-1-12 grid-row bottom-spacer r-align inherit-row'>
        <%= client.human_ref %>
      </div>
      <div class='col-1-12 bottom-spacer inherit-row'>
        <%= format_empty_string_as_dash client.entities.first.initials %>
      </div>
      <div class='col-3-12 inherit-row'>
        <%= client.entities.first.name %>
      </div>
      <div class='col-1-12 r-align inherit-row'>
        <% if client.address.road_no? %>
          <%= client.address.road_no %>
        <% else %>
          &nbsp;
        <% end %>
      </div>
      <div class='col-4-12 bottom-spacer inherit-row'>
        <%= client.address.road %>
        <%= link_to '.', client_path(client.id), class: 'view-testing-link' %>
      </div>
    </div>
    <div class='col-1-12 bottom-spacer no-print'>
      <%= link_to fa_icon('edit lg'), edit_client_path(client.id), title: 'Edit', class: 'plain-button' %>
    </div>
    <div class='col-1-12 bottom-spacer no-print'>
      <%= link_to fa_icon('trash-o lg'), client, method: :delete, data: { confirm: "Are you sure you want to delete?" }, title: 'Delete' %>
    </div>
  <% end %>
</div>
<%= paginate @records %>
