<h2 class="mainTitle">Clients</h2>
<%= render 'clients/search', path: clients_path, search_action: 'index', search_label: 'Search List' %>
<table>
  <thead>
    <tr>
      <th class='alnright'>
        ID
      </th>
      <th>
        Intials
      </th>
      <th>
        Name
      </th>
      <th class='alnright'>
        No
      </th>
      <th>
        Road
      </th>
      <th>
        <div class = "screen_only" >
          Actions
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <% if @clients.present? %>
      <% @clients.each do |client| %>
      <tr>
        <td class='alnright'>
          <%= link_to client.human_ref, edit_client_path(client) %>
        </td>
        <td>
          <%= format_empty_string_as_dash client.entities.first.initials %>
        </td>
        <td>
          <%= client.entities.first.name %>
        </td>
        <td class ='alnright'>
          <%= client.address.road_no %>
        </td>
        <td>
          <%= client.address.road %>
        </td>
        <td>
          <nav class = "screen_only" >
            <%= link_to 'Edit', edit_client_path(client) %> |
            <%= link_to 'View', client_path(client) %> |
            <%= link_to 'Delete', client, method: :delete, data: { confirm: 'Are you sure?' } %>
          </nav>
        </td>
       <% end %>
    <% else %>
      <tr>
        <td colspan ="9" class='atcenter'>
          No Clients Found. Try Again.
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @clients %>
