<% @title='View Client' %>

<div class='grid  shell-1-25'>
  <div class='col-21-24  grid-row vertical-spacer'>  <!-- 1st column -->

    <div class='col-1-4  grid-row  bottom-spacer faded'>Client ID</div>
    <div class='col-3-4  bottom-spacer'><%= @client.human_ref %></div>

    <div class='col-1-4  grid-row  bottom-spacer  faded'>Name</div>
    <div class='col-3-4  bottom-spacer'>
      <%= @client.full_name %>
    </div>

    <div class='col-1-4  grid-row  bottom-spacer  faded'>Address</div>
    <div class='col-3-4  bottom-line-spacer'>
      <%= simple_format(@client.address.text, {}, wrapper_tag: 'div') %>
    </div>

    <div class='col-1-1  grid-row  vertical-spacer  faded'>
      List of all properties associated with this client
    </div>

    <div class='col-3-24  grid-row  bottom-spacer  grid-header  r-align'>
      Property ID
    </div>
    <div class='col-2-24  grid-header  bottom-spacer  r-align'>No</div>
    <div class='col-7-24  grid-header  bottom-spacer'>Address</div>
    <div class='col-6-24  grid-header  bottom-spacer'>Town</div>
    <div class='col-4-24  grid-header  bottom-spacer'>Postcode</div>
    <div class='col-2-24  grid-header  bottom-spacer'>&nbsp;</div>

    <% @client.properties.each do |property| %>
      <div title='View' class='table-row' data-link='<%= property_path(property) %>'>
        <div class='col-3-24  grid-row  bottom-spacer  inherit-row  r-align'>
           <%= property.human_ref %>
        </div>
        <div class='col-2-24  bottom-spacer  inherit-row  r-align'>
          <%= format_empty_string_as_dash property.address.first_no %>
        </div>
        <div class='col-7-24  bottom-spacer  inherit-row'>
          <%= format_empty_string_as_dash property.address.first_text %>
        </div>
        <div class='col-6-24  bottom-spacer  inherit-row  nowrap'>
          <%= property.address.town %>
        </div>
        <div class='col-4-24  bottom-spacer  inherit-row  nowrap'>
          <%= property.address.postcode %>
        </div>
        <div class='col-2-24  bottom-spacer  inherit-row  nowrap'>&nbsp;</div>
      </div>
    <% end %>

    <% if @client.properties.empty? %>
      <%= render 'information/grid', information: 'The client has no properties.' %>
    <% end %>
  </div>

  <div class='col-3-24  vertical-spacer'>     <!-- 2nd column -->
    <%= edit_link @client, size: '2x' %>
  </div>
</div>
