<% @title='View Client' %>

<div class='grid  shell'>
  <div class='col-1-24  grid-row  vertical-spacer'>
    &nbsp;
  </div>
  <div class='col-14-24  vertical-spacer'>
    <div class='col-1-4  grid-row  bottom-spacer faded'>
      Client ID
    </div>
    <div class='col-3-4  bottom-spacer'>
      <%= @client.human_ref %>
    </div>
    <div class='col-1-4  grid-row  bottom-spacer  faded'>
      Name
    </div>
    <div class='col-3-4  bottom-spacer'>
      <%= @client.entities.full_name %>
    </div>
    <div class='col-1-4  grid-row  bottom-spacer  faded'>
      Address
    </div>
    <div class='col-3-4  bottom-spacer'>
      <%= simple_format(@client.address.text, {}, wrapper_tag: 'div') %>
    </div>
    <div class='col-1-1  grid-row  vertical-spacer  faded'>
      Properties Owned
    </div>
    <div class='col-1-8  grid-row  bottom-spacer  grid-header'>
      ID
    </div>
    <div class='col-7-8  grid-header  bottom-spacer'>
      Addresses
    </div>

    <% if @client.properties.any? %>
      <% @client.properties.each do |property| %>
        <div class='col-1-8  grid-row  bottom-spacer'>
           <%= property.human_ref %>
        </div>
        <div class='col-7-8  bottom-spacer  no-r-pad'>
          <%= property.address.text %>
        </div>
      <% end %>
    <% else %>
      <div class='col-1-1  grid-row  vertical-spacer'>
        The Client has no tenants.
      </div>
    <% end %>
  </div>
  <div class='col-9-24  vertical-spacer'>
    <%= edit_link @client, size: '2x' %>
  </div>
</div>
