<% @title='View Client' %>
<%= render 'clients/search' , path: clients_path, search_action: 'show', search_label: 'View Search'%>

<div class='grid shell'>

  <div class='col-1-2 vertical-spacer'>
    <h2>Client View</h2>
  </div>
  <div class='col-1-2 vertical-spacer'>
    <%= link_to 'Edit',edit_client_path(@client), class: 'link-button' %>
  </div>

    <div class='col-1-4 vertical-spacer grid-row'>
      Client ID:
    </div>
    <div class='col-3-4 vertical-spacer'>
      <strong><%= @client.human_ref %></strong>
    </div>

  <div class='col-1-4 vertical-spacer'>
   <%= heading @client.entities.first %>
  </div>
  <div class='col-3-4 vertical-spacer'>
    <strong><%= @client.entities.full_name %></strong>
  </div>

  <div class='col-1-4 vertical-spacer'>
    Address:
  </div>
  <div class='col-3-4 vertical-spacer'>
   <strong><%= render 'shared/show_1_line_address', object: @client %></strong>
  </div>

  <div class='col-1-4 vertical-spacer'>
    Properties Owned
  </div>
  <div class='col-3-4 vertical-spacer'>
   Addresses
  </div>

  <% @client.properties.each do |property| %>
    <div class='col-1-4 vertical-spacer'>
       <%= property.human_ref %>
    </div>
    <div class='col-3-4 vertical-spacer'>
     <%= render 'shared/show_1_line_address', object: property %>
    </div>
  <% end %>
</div>
<br>
<span class='simple-button'><%= link_to 'Print This Page', '#', class: 'print-window'%></span>
