<% @title='View Client' %>
<%= render 'clients/search' , path: clients_path, search_action: 'show', search_label: 'View Search'%>

<div class='shell'>
  <div class='grid'>
    <div class='col-1-2 vertical-spacer'>
      <h2>Client View</h2>
    </div>
    <div class='col-1-2 vertical-spacer'>
      <span class='link-button'>
        <%= link_to 'Edit', edit_client_path(@client) %>
      </span>
    </div>
  </div>
  <div class='grid'>
    <div class='col-1-4 vertical-spacer'>
      Client ID:
    </div>
    <div class='col-3-4 vertical-spacer'>
      <strong><%= @client.human_ref %></strong>
    </div>
  </div>
  <% @client.entities.each do |entity| %>
    <div class='grid'>
      <div class='col-1-4 vertical-spacer'>
       <%= heading entity %>
      </div>
      <div class='col-3-4 vertical-spacer'>
        <strong><%= render 'shared/show_entity', object: entity %></strong>
      </div>
    </div>
  <% end %>
  <div class='grid'>
    <div class='col-1-4 vertical-spacer'>
      Address:
    </div>
    <div class='col-3-4 vertical-spacer'>
     <strong><%= render 'shared/show_1_line_address', object: @client %></strong>
    </div>
  </div>
  <div class='grid'>
    <div class='col-1-4 vertical-spacer'>
      Properties
    </div>
    <div class='col-3-4 vertical-spacer'>
     Addresses
    </div>
  </div>
  <% @client.properties.each do |property| %>
    <div class='grid'>
      <div class='col-1-4 vertical-spacer'>
         <%= property.human_ref %>
      </div>
      <div class='col-3-4 vertical-spacer'>
       <%= render 'shared/show_1_line_address', object: property %>
      </div>
    </div>
  <% end %>
</div>
<br>
<span class='simple-button'><%= link_to 'Print This Page', '#', class: 'print-window'%></span>

