<article>
  <%= render 'clients/search' , path: clients_path, search_action: 'show', search_label: 'View Search'%>
  <div class = 'showbox'>
    <h2>Client ID:
     <%= @client.human_ref %>
     <span class= 'floatright'><%= link_to 'Edit', edit_client_path(@client) %><span>
     <span class= 'floatright'><%= link_to 'List', clients_path %><span>
    </h2>
    <p>
    <% @client.entities.each do |entity| %>
      <span class = 'boldfloat'><%= heading entity %></span><span style='display: inline-block;'><%= render 'shared/show_entity', object: entity %></span>
      <% end %>
    </p>
    <h3>Address</h3>
      <%= render 'shared/show_1_line_address', object: @client %>
    <h3>Properties Owned</h3>
    <% @client.properties.each do |property| %>
      <%= property.human_ref %>
      <%= render 'shared/show_1_line_address', object: property %>
    <% end %>
  </div>
  <p>
    <button> <%= link_to 'Print This Page', '#', class: 'print-window'%></button>
  </p>
</article>
