<% @title='View Client' %>
<% client = @client_payment.client %>

<div class='grid  shell-1-25  js-toggle-selection'>
  <div class='js-togglable'>

    <div class='col-22-24  grid-row  faded'>
      <h3>Contact &hellip;</h3>
    </div>
    <div class='col-1-24'>
      <%= edit_link client, size: '2x' %>
    </div>
    <div class='col-1-24  no-r-pad'>
      <%= toggle_link direction: :down, size: '2x' %>
    </div>

    <div class='col-1-3  grid-row  bottom-spacer  grid-header'>Client Id</div>
    <div class='col-1-3  bottom-spacer  grid-header'>Occupier</div>
    <div class='col-1-3  bottom-spacer  grid-header'>Address</div>


    <div class='col-1-3  grid-row  bottom-spacer'><%= client.human_ref %></div>
    <div class='col-1-3  bottom-spacer'><%= client.full_name %></div>
    <div class='col-1-3  bottom-spacer'><%= client.address.first_line %></div>
  </div>

  <div class='js-togglable  js-revealable'>

    <div class='col-22-24  grid-row  faded'>
      <h3>Contact</h3>
    </div>
    <div class='col-1-24'>
      <%= edit_link client, size: '2x' %>
    </div>
    <div class='col-1-24  no-r-pad'>
      <%= toggle_link direction: :up, size: '2x'  %>
    </div>

    <div class='col-1-4  grid-row  bottom-spacer faded'>Client ID</div>
    <div class='col-3-4  bottom-spacer'><%= client.human_ref %></div>

    <div class='col-1-4  grid-row  bottom-spacer  faded'>Name</div>
    <div class='col-3-4  bottom-spacer'><%= client.full_name %></div>

    <div class='col-1-4  grid-row  bottom-spacer  faded'>Address</div>
    <div class='col-3-4  bottom-1-line-spacer'>
      <%= simple_format(client.address.text, {}, wrapper_tag: 'div') %>
    </div>
  </div>
</div>

<div class='grid  shell-1-25  js-toggle-selection'>
  <div class='js-togglable'>

    <div class='col-23-24  grid-row'>
      <h3 class='small-bottom'>Client's Properties <%= "(#{client.properties.count})"  %> &hellip;</h3>
    </div>
    <div class='col-1-24  no-r-pad'>
      <%= toggle_link direction: :down, size: '2x'  %>
    </div>

    <div class='col-3-24  grid-row  bottom-spacer  grid-header  r-align'>
      Property ID
    </div>
    <div class='col-2-24  grid-header  bottom-spacer  r-align'>No</div>
    <div class='col-7-24  grid-header  bottom-spacer'>Address</div>
    <div class='col-6-24  grid-header  bottom-spacer'>Town</div>
    <div class='col-4-24  grid-header  bottom-spacer'>Postcode</div>
    <div class='col-2-24  grid-header  bottom-spacer'>&nbsp;</div>

    <% client.properties.limit(2).each do |property| %>
      <div title='View' class='table-row' data-link='<%= property_path(property) %>'>
        <div class='col-3-24  grid-row  bottom-spacer  inherit-row  r-align'>
           <%= property.human_ref %>
        </div>
        <div class='col-2-24  bottom-spacer  inherit-row  r-align'>
          <%= format_empty_string_as_dash property.address.first_no %>
        </div>
        <div class='col-7-24  bottom-spacer  inherit-row'>
          <%= format_empty_string_as_dash property.address.first_text %>
        </div>
        <div class='col-6-24  bottom-spacer  inherit-row  nowrap'>
          <%= property.address.town %>
        </div>
        <div class='col-4-24  bottom-spacer  inherit-row  nowrap'>
          <%= property.address.postcode %>
        </div>
        <div class='col-2-24  bottom-spacer  inherit-row  nowrap'>&nbsp;</div>
      </div>
    <% end %>
    <% if client.properties.drop(2).present? %>
      <div class='col-3-24  grid-row  bottom-spacer  inherit-row  r-align'>
        &hellip;
      </div>
      <div class='col-2-24  bottom-spacer  inherit-row  r-align'>
        &hellip;
      </div>
      <div class='col-7-24  bottom-spacer  inherit-row'>
        &hellip;
      </div>
      <div class='col-6-24  bottom-spacer  inherit-row  nowrap'>
        &hellip;
      </div>
      <div class='col-4-24  bottom-spacer  inherit-row  nowrap'>
        &hellip;
      </div>
    <% end %>

    <% if client.properties.empty? %>
      <%= render 'information/grid', information: 'The client has no properties.' %>
    <% end %>
  </div>

  <div class='js-togglable  js-revealable'>

    <div class='col-23-24  grid-row'>
      <h3 class='small-bottom'>Client's Properties</h3>
    </div>
    <div class='col-1-24  no-r-pad'>
      <%= toggle_link direction: :up, size: '2x'   %>
    </div>

    <div class='col-3-24  grid-row  bottom-spacer  grid-header  r-align'>
      Property ID
    </div>
    <div class='col-2-24  grid-header  bottom-spacer  r-align'>No</div>
    <div class='col-7-24  grid-header  bottom-spacer'>Address</div>
    <div class='col-6-24  grid-header  bottom-spacer'>Town</div>
    <div class='col-4-24  grid-header  bottom-spacer'>Postcode</div>
    <div class='col-2-24  grid-header  bottom-spacer'>&nbsp;</div>

    <% client.properties.each do |property| %>
      <div title='View' class='table-row' data-link='<%= property_path(property) %>'>

        <div class='col-3-24  grid-row  bottom-spacer  inherit-row  r-align'>
           <%= property.human_ref %>
        </div>
        <div class='col-2-24  bottom-spacer  inherit-row  r-align'>
          <%= format_empty_string_as_dash property.address.first_no %>
        </div>
        <div class='col-7-24  bottom-spacer  inherit-row'>
          <%= format_empty_string_as_dash property.address.first_text %>
        </div>
        <div class='col-6-24  bottom-spacer  inherit-row  nowrap'>
          <%= property.address.town %>
        </div>
        <div class='col-4-24  bottom-spacer  inherit-row  nowrap'>
          <%= property.address.postcode %>
        </div>
        <div class='col-2-24  bottom-spacer  inherit-row  nowrap'>&nbsp;</div>
      </div>
    <% end %>

    <% if client.properties.empty? %>
      <%= render 'information/grid', information: 'The client has no properties.' %>
    <% end %>
  </div>
</div>  <!-- grid  shell js-toggle-selection -->

<div class='grid  shell-1-25  js-toggle-selection'>
  <div class='js-togglable <%= payments_contracted_visible %>'>

    <div class='col-23-24  grid-row'>
      <h3 class='small-bottom'>Payments &hellip;</h3>
    </div>
    <div class='col-1-24  no-r-pad'>
      <%= toggle_link direction: :down, size: '2x'  %>
    </div>

    <%= render 'client_payments/totals', client_payment: @client_payment %>
  </div>

  <div class='js-togglable  <%= payments_expanded_visible %>'>

    <div class='col-23-24  grid-row'>
      <h3 class='small-bottom'>Payments</h3>
    </div>
    <div class='col-1-24  no-r-pad'>
      <%= toggle_link direction: :up, size: '2x'   %>
    </div>

    <%= render 'client_payments/totals', client_payment: @client_payment %>

    <div class='col-1-1  grid-row  top-2-line-spacer'>
      <h2>Itemised Ground Rent Payments</h2>
    </div>

    <%= form_tag client_path, class: 'no-print', id: 'client_payment', method: 'get' do %>

      <div class='col-3-24  grid-row  vertical-line-spacer  faded'>Payments in</div>
      <div class='col-16-24  vertical-line-spacer'>
        <%= select_tag 'years', options_for_select(@client_payment.years, selected: params[:years]), onchange: "$('#client_payment').submit();" %>
        <%= hidden_field_tag :selected, 'true' %>
      </div>
      <div class='col-3-24 vertical-line-spacer'>

         <%= link_to 'print', '#', class: 'js-print_section' %>
      </div>
    <% end %>

    <div class='col-1-1  grid-row'>
      <div class='tabs'>
        <ul class='tab-links  no-print'>
          <li class='active'>
            <%= link_to "#Mar" do %>
              <h4><b>Mar</b>/Sep</h4>
            <% end %>
          </li>
          <li><%= link_to "#Sep" do %><h4>Mar/<b>Sep</b></h4><% end %></li>
          <li><%= link_to "#Jun" do %><h4><b>Jun</b>/Dec</h4><% end %></li>
          <li><%= link_to "#Dec" do %><h4>Jun/<b>Dec</b></h4><% end %></li>
        </ul>


          <div id='print-account'  class='grid  tab-content'>


          <% [BatchMonths::MAR, BatchMonths::SEP, BatchMonths::JUN, BatchMonths::DEC].each do |month| %>

            <% batch_months = BatchMonths.make(month: month) %>
            <div id='<%= batch_months.now_to_s %>' class='tab <%= 'active' if batch_months.mar? %> vertical-line-spacer'>
              <%= render 'client_payments/client_payment', client_payment: @client_payment, month: month %>
            </div> <!-- close #Mon -->

          <% end %>
        </div> <!-- grid shell tab-content  -->
      </div> <!-- close tabs -->

    </div> <!-- close grid-row  for tabs -->
  </div>
</div> <!-- grid  shell js-toggle-selection -->
