 and invoices<% @title='View Client' %>

<div class='grid shell'>

  <div class='col-1-2 vertical-spacer'>
    <h2>Client View</h2>
  </div>
  <div class='col-1-2 vertical-spacer'>
    <%= link_to fa_icon('edit'), edit_client_path(@client), class: 'simple-button float-right', title: 'Edit' %>
  </div>

  <div class='col-1-4 vertical-spacer grid-row faded'>
    Client ID
  </div>
  <div class='col-3-4 vertical-spacer'>
   <%= @client.human_ref %>
  </div>

  <div class='col-1-4 vertical-spacer faded'>
    Name
  </div>
  <div class='col-3-4 vertical-spacer'>
    <%= @client.entities.full_name %>
  </div>
<br>

  <div class='col-1-4 vertical-spacer faded'>
    Address
  </div>
  <div class='col-3-4 vertical-spacer'>
    <%= simple_format(@client.address.text, {}, wrapper_tag: 'div') %>
  </div>
  <div class='col-1-1 vertical-spacer faded'>
    Properties Owned
  </div>
  <div class='col-1-8 vertical-spacer grid-header'>
    ID
  </div>
  <div class='col-7-8 vertical-spacer grid-header'>
   Addresses
  </div>

  <% @client.properties.each do |property| %>
    <div class='col-1-8 vertical-spacer grid-row'>
       <%= property.human_ref %>
    </div>
    <div class='col-7-8 vertical-spacer no-r-pad'>
     <%= render 'addresses/view_on_one_line', addressee: property %>
    </div>
  <% end %>
</div>
