<% @title='View Client' %>

<div class='grid  shell'>
  <div class='col-1-24  grid-row  vertical-spacer'>&nbsp;</div>  <!-- 1st column -->

  <div class='col-20-24  vertical-spacer'>  <!-- 2nd column -->

    <div class='col-1-4  grid-row  bottom-spacer faded'>Client ID</div>
    <div class='col-3-4  bottom-spacer'><%= @client.human_ref %></div>

    <div class='col-1-4  grid-row  bottom-spacer  faded'>Name</div>
    <div class='col-3-4  bottom-spacer'>
      <%= @client.entities.full_name %>
    </div>

    <div class='col-1-4  grid-row  bottom-spacer  faded'>Address</div>
    <div class='col-3-4  bottom-line-spacer'>
      <%= simple_format(@client.address.text, {}, wrapper_tag: 'div') %>
    </div>

    <%= form_tag client_path(@client), class: 'no-print', method: 'get' do %>
      <div class='col-5-24  bottom-line-spacer'>Payments made between:</div>
      <div class='col-19-24  bottom-line-spacer'>
        <%= date_field_tag :start_date, params[:start_date], autofocus: true, class: 'width-9-24' %> and
        <%= date_field_tag :end_date, params[:end_date], autofocus: true, class: 'width-9-24' %>
        <button type='submit' class='width-4-24' id='credit_search' title='Credit Search'>
          <%= fa_icon('search lg') %>
        </button>
      </div>
    <% end %>

    <div class='col-1-1  grid-row  vertical-spacer  faded'>
      Ground Rents Owned
    </div>

    <div class='col-3-24  grid-row  bottom-spacer  grid-header  r-align'>
      ID
    </div>
    <div class='col-3-24  grid-header  bottom-spacer  r-align'>No</div>
    <div class='col-8-24  grid-header  bottom-spacer'>Address</div>
    <div class='col-7-24  grid-header  bottom-spacer'>Town</div>
    <div class='col-3-24  grid-header  bottom-spacer  r-align'>Amount</div>

    <% if @client.properties.any? %>
      <% @client.properties.each do |property| %>
        <div title='View' class='table-row' data-link='<%= property_path(property) %>'>
          <div class='col-3-24  grid-row  bottom-spacer  inherit-row  r-align'>
             <%= property.human_ref %>
          </div>
          <div class='col-3-24  bottom-spacer  inherit-row  r-align'>
            <%= format_empty_string_as_dash property.address.first_no %>
          </div>
          <div class='col-8-24  bottom-spacer  inherit-row'>
            <%= format_empty_string_as_dash property.address.first_text %>
          </div>
          <div class='col-7-24  bottom-spacer  inherit-row  nowrap'>
            <%= property.address.town %>
          </div>
          <div class='col-3-24  bottom-spacer  r-align'>
            <%= property.account.credits.credited(range: params[:start_date]..params[:end_date] ).income %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class='col-1-1  grid-row  vertical-spacer'>
        The Client has no properties.
      </div>
    <% end %>
  </div>

  <div class='col-3-24  vertical-spacer'>     <!-- 3rd column -->
    <%= edit_link @client, size: '2x' %>
  </div>
</div>
