<% @title='View Client' %>
<%= render 'clients/search' , path: clients_path, search_action: 'show', search_label: 'View Search'%>

<div class='grid shell'>

  <div class='col-1-2 vertical-spacer'>
    <h2>Client View</h2>
  </div>
  <div class='col-1-2 vertical-spacer'>
    <%= link_to 'Edit',edit_client_path(@client), class: 'link-button' %>
  </div>

  <div class='col-1-4 vertical-spacer grid-row faded'>
    Client ID:
  </div>
  <div class='col-3-4 vertical-spacer'>
   <%= @client.human_ref %>
  </div>

  <div class='col-1-4 vertical-spacer faded'>
   <%= heading @client.entities.first %>
  </div>
  <div class='col-3-4 vertical-spacer'>
    <%= @client.entities.full_name %>
  </div>

  <div class='col-1-4 vertical-spacer faded'>
    Address:
  </div>
  <div class='col-3-4 vertical-spacer'>
   <%= render 'shared/show_1_line_address', addressee: @client %>
  </div>

  <div class='col-1-8 vertical-spacer faded'>
    Properties Owned
  </div>
  <div class='col-7-8 vertical-spacer faded'>
   Addresses
  </div>

  <% @client.properties.each do |property| %>
    <div class='col-1-8 vertical-spacer grid-row'>
       <%= property.human_ref %>
    </div>
    <div class='col-7-8 vertical-spacer no-r-pad'>
     <%= render 'shared/show_1_line_address', addressee: property %>
    </div>
  <% end %>
</div>
<br>
<%= link_to 'Print This Page', '#', class: 'print-window simple-button'%>
