<h3>Client</h3>
<%= @client.human_client_id %>

<h3>Address</h3>
<%= render 'shared/show_address', object: @client %>

<% @client.entities.each do |entity| %>
  <%= render 'shared/show_entity', object: entity %>
<% end %>

<h3>Properties Owned</h3>
<% @client.properties.each do |property| %>
  <%= property.human_id %>
  <%= render 'shared/show_address', object: property %>
<% end %>