<table>
  <thead>
    <tr>
      <th class='alnright'>
        Property ID
      </th>
       <th>
        Name
      </th>
      <th>
        Date
      </th>
      <th class='alnright'>
        Amount
      </th>
      <th class='alnright'>
        Balance
      </th>
      <th>
        Actions
      </th>
    </tr>
  </thead>
     <tfoot>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>Total</td>
      <td  class='alnright'><%= number_to_currency payments.sum('amount') %></td>
      <td>&nbsp;</td>
    </tr>
  </tfoot>
  <tbody>
    <% payments.each do |payment|
      payment_dec = PaymentIndexDecorator.new payment
      %>
    <tr>
      <td class='alnright'>
        <%= payment_dec.property_ref %>
      </td>
      <td>
        <%= payment_dec.full_name %>
      </td>
      <td>
        <%= payment_dec.on_date %>
      </td>
      <td class='alnright'>
        <%= payment_dec.amount %>
      </td>
      <td class='alnright'>
        <%= payment_dec.balance %>
      </td>
      <td>
        <nav>
          <%= link_to 'Edit', edit_payment_path(payment) %> |
          <%= link_to 'Delete', payment, method: :delete, data: { confirm: "Are you sure you want to delete?" } %>
      </nav>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>