<%= form_for block do |f| %>
  <%= render 'shared/errors', object: block %>
  <fieldset id='block' class='shell'>
    <div class='field text'>
      <%= f.label :matching_properties, class: 'required' %>
      <%= f.text_field :name %>
    </div>
    <div class='field submit'>
      <p>
        <%= f.submit 'Find properties', class: 'under-input' %>
        <%= f.hidden_field :state, value: 'finding_properties' %>
      </p>
    </div>
  </fieldset>
<% end %>