<div class="col-1-4 cell">
  <%= credit_form.label credit.charge_type %>
</div>
<div class="col-1-8 cell">
  <%= credit_form.label l credit.debit.on_date %>
</div>
<div class="col-1-8 cell number amount">
  <%= number_to_currency credit.debit.amount %>
</div>
<div class="col-1-8 cell number amount">
  <%= number_to_currency credit.debit.outstanding %>
</div>
<div class="col-3-8 cell pick-out">
  <%= credit_form.hidden_field :account_id %>
  <%= credit_form.hidden_field :advanced %>
  <%= credit_form.hidden_field :charge_id %>
  <%= credit_form.hidden_field :debit_id %>
  <%= credit_form.hidden_field :on_date %>
  <%= credit_form.text_field :amount , value: credit.amount, class: 'number amount nested-element' %>
</div>
