<div class='top'></div>
<h2>Property</h2>
<div class='blank_slate_parent'>
<% if payment.prepareable? %>
  <div class="grid">
    <div class="col-5-12">
      <%= render 'payments/form/address', property: PropertyDecorator.new(payment.account.property) %>
    </div>
    <div class="col-7-12">
    </div>
  </div>
  <%= render 'payments/form/payment_received', payment: payment, payment_form: payment_form  %>
  <%= render 'payments/form/credits', payment: payment, payment_form: payment_form  %>
<% else %>
 <div class='blank_slate_overlay' data-role='unknown-property'>
   <%= t('instruction.payments.property_payment') %>
   <%= link_to '109', new_payment_path(human_ref: 109) %>
  </div>
<% end %>
</div>