<div class='col-1-4 vertical-spacer grid-row faded'>
  Property Id
</div>

<div class='col-3-4 vertical-spacer'>
  <%= property.human_ref %>
</div>
<div class='col-1-4 vertical-spacer faded'>
  Client Id
</div>
<div class='col-3-4 vertical-spacer'>
  <%= property.client_ref %>
</div>
<div class='col-1-1'>
  &nbsp;
</div>
<div class='col-1-4 vertical-spacer grid-header'>
  Association
</div>
<div class='col-3-8 vertical-spacer grid-header'>
  Occupier
</div>
<div class='col-3-8 vertical-spacer grid-header'>
  Agent
</div>

<div class='col-1-4 vertical-spacer faded'>
 <%= heading property.entities.first %>
</div>
<div class='col-3-8 vertical-spacer'>
  <%= property.entities.full_name %>
</div>
<div class='col-3-8 vertical-spacer'>
  <% if property.agent.use_profile? %>
    <%= property.agent.entities.full_name %>
  <% else %>
    None
  <% end %>
</div>
<div class='col-1-4 vertical-spacer faded'>
  Address
</div>
<div class='col-3-8 vertical-spacer'>
  <%= render 'shared/address_lines', lines: property.address_lines %>
</div>
<div class='col-3-8 vertical-spacer'>
  <%= render 'shared/address_lines', lines: property.agent_address_lines %>
</div>