<%= form_for charge_cycle do |f| %>
  <%= render 'shared/errors', object: charge_cycle %>

  <% charge_cycle.period_type = 'monthly' %>

  <fieldset id='charge_cycle' class='shell'>

    <div class="grid">
      <div class='col-1-2 vertical-spacer'>
        <h2>Monthly Charge Cycle</h2>
      </div>
      <div class='col-1-2 vertical-spacer'>
        <%= view_link(charge_cycle) %>

      </div>

    </div>

    <div class='grid' >
      <div class='col-1-4 vertical-spacer'>
        &nbsp;
      </div>
      <div class='col-1-8 faded'>
       <%= f.label :name %>
      </div>
      <div class='col-1-8'>
        <%= f.text_field :name %>
      </div>

      <div class='col-1-4 vertical-spacer grid-row'>
        &nbsp;
      </div>

      <div class='col-1-8 faded'>
        <%= f.label :order %>
      </div>
      <div class='col-1-8'>
        <%= f.text_field :order, class: 'r-align'%>
      </div>

      <%= f.hidden_field :period_type, period_type: 'monthly' %>

      <hr class = 'faded'>

      <div class='col-2-8 grid-row'>
        &nbsp;
      </div>

      <div class='col-1-8 faded'>
        Due Ons Day
      </div>

      <%= f.fields_for :due_ons do |builder| %>

        <div class='col-1-8'>
          <%= builder.text_field :day, class: 'r-align' %>
        </div>
      <% end %>

    </div>

    <hr>
    <div class='col-1-4 no-print'>
      &nbsp;
    </div>
    <div class='col-3-4 no-r-pad no-print'>
      <%= f.button submit: '', class: "primary submit-button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Updating Charge Cycle..."} %> or <%= link_to 'Cancel', charge_cycles_path, class: 'warn' %>
    </div>
  </fieldset>
<% end %>
