<%= form_for charge_cycle do |f| %>
  <%= render 'shared/errors', object: charge_cycle %>

  <fieldset id='charge_cycle' class='shell'>

    <div class="grid">
      <div class='grid-row col-12-24 vertical-spacer'>
        <h2>Charge Cycle</h2>
      </div>
      <div class='col-12-24 vertical-spacer'>
        <%= view_link(charge_cycle) %>
      </div>
    </div>

    <div class='grid' >
      <div class='grid-row col-6-24 vertical-spacer'>
        &nbsp;
      </div>
      <div class='col-3-24  vertical-spacer faded'>
        <%= f.label :name %>
        <%= f.hidden_field :cycle_type, cycle_type: 'term' %>
      </div>
      <div class='col-4-24 vertical-spacer '>
        <%= f.text_field :name %>
      </div>
      <div class='col-11-24 vertical-spacer '>
        &nbsp;
      </div>

      <div class='grid-row col-6-24 vertical-spacer'>
        &nbsp;
      </div>
      <div class='col-3-24  vertical-spacer faded'>
        <%= f.label :order %>
      </div>
      <div class='col-2-24 vertical-spacer '>
        <%= f.text_field :order, class: 'r-align'%>
      </div>
      <div class='col-13-24 vertical-spacer '>
        &nbsp;
      </div>

      <div class='grid-row col-24-24'>
        &nbsp;
      </div>

      <div class='grid-row col-6-24 vertical-spacer '>
        &nbsp;
      </div>
      <div class='col-3-24 vertical-spacer  faded'>
        Due On
      </div>
      <div class='col-2-24 vertical-spacer r-align'>
        <div class='faded'> Day</div>
      </div>
      <div class='col-2-24 vertical-spacer r-align'>
        <div class='faded'> Month </div>
      </div>
      <div class='col-2-24 vertical-spacer r-align'>
        <div class='faded'> Year </div>
      </div>
      <div class='col-9-24 vertical-spacer'>
        &nbsp;
      </div>

      <%= f.fields_for :due_ons do |builder| %>
        <div class='grid-row col-9-24'>
          &nbsp;
        </div>
        <div class='col-2-24'>
          <%= builder.text_field :day, class: 'r-align width-1-1' %>
        </div>
        <div class='col-2-24'>
          <%= builder.text_field :month, class: 'r-align width-1-1' %>
        </div>
        <div class='col-2-24 vertical-spacer'>
          <%= builder.text_field :year, class: 'r-align width-1-1' %>
        </div>
        <div class='col-9-24'>
          &nbsp;
        </div>
      <% end %>

      <hr class = 'faded'>
      <%= render 'cycle_charged_ins/form', charge_cycle: @charge_cycle %>
      <div class='grid-row col-24-24'>
        &nbsp;
      </div>

      <div class='grid-row col-6-24  vertical-spacer no-print'>
        &nbsp;
      </div>
      <div class='col-18-24 no-r-pad  vertical-spacer no-print'>
        <%= f.button submit: '', class: 'primary submit-button', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Updating Charge Cycle..."} %> or <%= link_to 'Cancel', charge_cycles_path, class: 'warn' %>
     </div>
    </div>
  </fieldset>
<% end %>
