<% @title='Charge Cycles' %>

<div class='grid shell'>

  <div class='grid-row col-1-6 vertical-spacer grid-header'>
    &nbsp;
  </div>
  <div class='col-1-6 vertical-spacer grid-header'>
    Name
  </div>
  <div class='col-1-6 vertical-spacer grid-header'>
    Order
  </div>
  <div class='col-1-6 vertical-spacer grid-header no-print'>
    Type
  </div>
  <div class='col-1-6 vertical-spacer grid-header no-print r-align'>
    Actions
  </div>
  <div class='col-1-6 vertical-spacer grid-header no-print r-align'>
    &nbsp;
  </div>

  <% @charge_cycles.each do |charge_cycle| %>
    <div class='table-row' data-link='<%= charge_cycle_path(charge_cycle) %>'>
      <div class='grid-row col-1-6  vertical-spacer inherit-row'>
        &nbsp;
      </div>
      <div class='col-1-6  vertical-spacer inherit-row'>
       <%= charge_cycle.name %>
      </div>
      <div class='col-1-6  vertical-spacer inherit-row'>
       <%= charge_cycle.order %>
      </div>
      <div class='col-1-6  vertical-spacer inherit-row'>
        <%= charge_cycle.cycle_type %>
      </div>
      <nav class='col-1-6  vertical-spacer no-print r-align'>
        <%= link_to fa_icon('edit lg'), edit_charge_cycle_path(charge_cycle), title: 'Edit', class: 'r-pad icon-large' %>
        <%= link_to fa_icon('trash-o lg'), charge_cycle, method: :delete, data: { confirm: 'Are you sure?' }, title: 'Delete', class: 'l-pad' %>
      </nav>
      <div class='col-1-6  vertical-spacer no-print'>
        &nbsp;
      </div>
    </div>
  <% end %>
</div>
