<div class='shell'>

  <% if @charge_cycle.cycle_type == 'monthly' %>
    <% @title='View Monthly Charge Cycle' %>
    <%= render 'show_top', charge_cycle: @charge_cycle %>
    <%= render 'due_ons/monthly', charge_cycle: @charge_cycle %>
    <%= render 'cycle_charged_ins/form', charge_cycle: @charge_cycle, disabler: true %>
  <% else %>
    <% @title='View Charge Cycle' %>
    <%= render 'show_top', charge_cycle: @charge_cycle %>
    <%= render 'due_ons/view', charge_cycle: @charge_cycle %>
    <%= render 'cycle_charged_ins/form', charge_cycle: @charge_cycle, disabler: true %>
  <% end %>

</div>
