<div class='top'>
  <h2>Property</h2>

  <% if @payment.present? %>
    <% if @payment.present? %>
      <%= render 'address', property: PropertyDecorator.new(@payment.account.property) %>
    <% end %>
</div>
<div class='top'>
  <h2>Payment Recieved</h2>
  <%= payment_form.hidden_field :account_id %>
  <%= payment_form.date_field :on_date %>
  <%= payment_form.text_field :amount %>
</div>
<div class='top'>
  <h2>Unpaid Debits</h2>
    <%= render 'credits', payment_form: payment_form  %>
  <% else %>
    No Property Selected
  <% end %>

</div>
