<tr>
  <td>
    <%= credit_form.label credit.debit.charge.charge_type %>
  </td>
  <td>
    <%= credit_form.label l credit.debit.on_date %>
  </td>
  <td>
    <%= number_to_currency credit.debit.amount %>
  </td>
  <td>
    <%= credit_form.hidden_field :account_id %>
    <%= credit_form.hidden_field :debit_id %>
    <%= credit_form.hidden_field :on_date %>
    <%= credit_form.text_field :amount %>
  </td>
</tr>