<%= form_for payment_dec do |payment_form| %>
  <%= render 'shared/errors', object: payment_dec.payment %>

  <fieldset id='payment' class='grid  shell-thin  overlay-parent'>

    <div class='col-12-24  grid-row'>    <!-- 1st column -->
        <%= render 'payments/property_hero', payment_dec: payment_dec %>
    </div>
    <div class='col-2-24'>    <!-- 2nd column -->
      &nbsp;
    </div>
    <div class='col-8-24  shell'>    <!-- 3rd column -->
      <h4>Payment Summary</h4>

      <div class='col-8-12  grid-row  bottom-spacer'>
        Last Property ID&nbsp;(<%= payment_dec.last_human_ref %>)
      </div>
      <div class='col-4-12  bottom-spacer  r-align'>
        <%= link_to payment_dec.last_amount, edit_payment_path(Payments.last), class: 'hover-link'%>
      </div>

      <div class='col-8-12  grid-row  bottom-1-line-spacer'>Day's Total</div>
      <div class='col-4-12  bottom-1-line-spacer  r-align'>
        <%= link_to payment_dec.todays_takings, payments_path, class: 'hover-link' %>
      </div>
    </div>
    <div class='col-1-24'>    <!-- 4th column -->
      &nbsp;
    </div>
    <div class='col-1-24   top-spacer  r-align'>    <!-- 5th column -->
      <%= view_link payment_dec.payment %>
    </div>

    <% if payment_dec.account_exists? %>

      <%= render 'payments/received_header' %>

      <div class='col-1-24  grid-row  cell  pick-out'>&nbsp;</div>
      <div class='col-5-24  cell  pick-out'>
        <% if payment_dec.new_record? %>
          <%= payment_form.date_field :booked_at %>
        <% else %>
          <%= payment_form.text_field :booked_at, readonly: true %>
        <% end %>
      </div>
      <div class='col-10-24  cell  pick-out'>&nbsp;</div>
      <div class='col-5-24  cell  pick-out'>
        <%= payment_form.hidden_field :account_id %>
        <%= payment_form.submit name: 'submit', id: 'submit', autofocus:true , class: 'plain-button' %>
      </div>
      <div class='col-3-24  cell  pick-out  no-print'>
        or <%= cancel_link path: payments_path  %>
      </div>
      <div class='js-totalizer'>
        <%= render 'credits/form', credits_dec: payment_dec.credits_decorated, payment_form: payment_form %>

        <div class='col-12-24 grid-row'>&nbsp;</div>
        <div class='col-3-24  cell  r-align'><h3>Total</h3></div>
        <div class='col-1-24  cell  pick-out'>&nbsp;</div>
        <div class='col-7-24  cell  pick-out  r-align'>
          <%= payment_form.text_field :amount, value: to_decimal(payment_form.object.amount), readonly: true, class: 'js-total-payment  r-align  width-1-1' %>
        </div>
        <div class='col-1-24  cell  pick-out'>&nbsp;</div>
        <!-- acts as padding on the bottom of the form -->
        <div class='col-15-24 grid-row'>&nbsp;</div>
        <div class='col-9-24  pick-out'>&nbsp;</div>
      </div>
    <% else %>
      <%= render 'teachings/payment' %>
    <% end %>
  </fieldset>
<% end %>
