<div id='help-me',  data-summit='3'></div>
<%= render 'bubbles/search_account' %>
<%= render 'form_help' %>

  <div class='grid  Shell-thin'>

    <div class='col-12-24  grid-row  clearfix'>    <!-- 1st column -->

      <!-- Partialized Property Description -->

      <%= form_tag new_payment_path, method: 'get' do %>
        <div class='col-2-24  grid-row  top-1-line-spacer'>&nbsp;</div>
        <div class='col-9-24  top-1-line-spacer'>  <!-- 1st column -->
          <h3 class='grid-label'>Property ID</h3>
          <%= text_field_tag :account_payment_search, params[:account_payment_search], class: 'width-9-12' %>
          <button type='submit' class='width-2-12  Button  ButtonIcon-action' id='payment-search' title='Payment Search'>
            <%= fa_icon 'search lg' %>
          </button>
        </div>
        <div class='col-13-24  top-1-line-spacer'>  <!-- 2nd column -->
          <h3 class='grid-label'>Occupier</h3>
          <% if payment_dec.account_exists? %>
            <%= render 'addresses/abridged', property: payment_dec.property_decorator %>
            <% end %>
        </div>
      <% end %>
    </div>
    <div class='col-2-24'>    <!-- 2nd column -->
      &nbsp;
      <%= render 'bubbles/help_2',  pic: 'fa fa-file-o  fa-lg', line1:'Payments View Button', line2: "Use this button to view user's details. Gray button cannot be viewed." %>
    </div>
    <div class='col-8-24  Shell  u-padding-1-100'>    <!-- 3rd column -->
      <h4>Payment Summary</h4>

      <div class='table-link-row' data-link='<%= edit_payment_path(Payment.last_created_at) %>'>
        <div class='col-8-12  grid-row  bottom-half-line-spacer  inherit-row'>
          Last Payment&nbsp;(<%= payment_dec.last_human_ref %>)
          <div  class='col-14-24  Bubble-pt-right'>
            <%= render 'bubbles/help_2',  pic: 'fa fa-gbp fa-lg', line1: 'Last Payment', line2: "Last item entered on data base"%>
            &nbsp;
          </div>
        </div>
        <div class='col-4-12  bottom-half-line-spacer  inherit-row  r-align'>
          <%= payment_dec.last_amount %>
        </div>
      </div>

      <div class='col-8-12  grid-row  bottom-half-line-spacer'>Day's Total</div>
      <div class='col-4-12  bottom-half-line-spacer  r-align'>
        <%= link_to payment_dec.todays_takings, payments_path, class: 'link-hover  link-text-primary' %>
      </div>
    </div>
    <div class='col-1-24'>    <!-- 4th column -->
      &nbsp;
    </div>
    <div class='col-1-24   top-spacer  r-align'>    <!-- 5th column -->
      <%= view_link payment_dec.payment %>
    </div>
  </div>
  <fieldset id='payment' class='grid  Shell  overlay-parent'>

    <%= form_for payment_dec do |payment_form| %>
      <%= render 'shared/errors', object: payment_dec.payment %>

    <% if payment_dec.account_exists? %>

      <%= render 'payments/received_header' %>

      <div class='col-1-24  grid-row  cell  pair-focus'>&nbsp;</div>
      <div class='col-5-24  cell  pair-focus'>
        <% if payment_dec.new_record? %>
          <%= payment_form.date_field :booked_at %>
        <% else %>
          <%= payment_dec.booked_at_dec %>
        <% end %>
      </div>
      <div class='col-10-24  cell  pick-out'>&nbsp;</div>
      <div class='col-5-24  cell  pick-out'>
        <%= payment_form.hidden_field :account_id %>
        <%= payment_form.submit name: 'submit', id: 'submit', autofocus:true , class: 'Button  ButtonPrimary' %>
      </div>
      <div class='col-3-24  cell  pick-out  no-print'>
        or <%= cancel_link path: payments_path  %>
      </div>
      <div class='js-totalizer'>
        <%= render 'credits/form', credits_dec: payment_dec.credits_decorated, payment_form: payment_form %>

        <div class='col-12-24 grid-row'>&nbsp;</div>
        <div class='col-3-24  cell  r-align'><h3>Total</h3></div>
        <div class='col-1-24  cell  pick-out'>&nbsp;</div>
        <div class='col-7-24  cell  pick-out  r-align'>
          <%= payment_form.text_field :amount, value: to_decimal(payment_form.object.amount), readonly: true, class: 'js-total-payment  r-align  width-1-1' %>
        </div>
        <div class='col-1-24  cell  pick-out'>&nbsp;</div>
        <!-- acts as padding on the bottom of the form -->
        <div class='col-15-24 grid-row'>&nbsp;</div>
        <div class='col-9-24  pick-out'>&nbsp;</div>
      </div>
    <% else %>
      <%= render 'teachings/payment' %>
    <% end %>
  </fieldset>
<% end %>
