<table>
  <thead>
    <tr>
      <th class='alnright'>
        Property ID
      </th>
       <th>
        Name
      </th>
      <th>
        Date
      </th>
      <th class='alnright'>
        Amount
      </th>
      <th>
        Actions
      </th>
    </tr>
  </thead>
     <tfoot>
    <tr>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>Total</td>
      <td  class='alnright'><%= number_to_currency payments.sum('amount') %></td>
      <td>&nbsp</td>
    </tr>
  </tfoot>
  <tbody>
    <% payments.each do |payment| %>
    <tr>
      <td class='alnright'>
        <%= payment.account.property.human_id %>
      </td>
      <td>
        <%= payment.account.property.entities.full_name %>
      </td>
      <td>
        <%= l payment.on_date %>
      </td>
      <td class='alnright'>
        <%= number_to_currency payment.amount %>
      </td>
      <td>
        <%= link_to 'Edit', edit_payment_path(payment) %> |
        <%= link_to 'Delete', payment, method: :delete, data: { confirm: "Are you sure you want to delete?" } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>