<% @title='Payments' %>
<div class='grid shell'>
  <h2>New Payment</h2>

  <div class='grid-row col-2-24 bottom-spacer grid-header r-align'>
    Account
  </div>
  <div class='col-6-24 bottom-spacer grid-header'>
    Name
  </div>
  <div class='col-6-24 bottom-spacer grid-header'>
    Booked On
  </div>
  <div class='col-2-24 bottom-spacer grid-header r-align'>
    Amount
  </div>
  <div class='col-4-24 bottom-spacer grid-header r-align'>
   Balance
  </div>
  <div class='col-4-24 bottom-spacer grid-header no-print r-align'>
   Actions
  </div>

 <% decorate_payments = Payments.new(@records)
    decorate_payments.to_a.each do |payment|
      payment_dec = PaymentIndexDecorator.new payment
      %>
  <div class='table-row' data-link='<%= new_payment_path(id: payment.account.id) %>'>
    <div class='col-2-24 bottom-spacer inherit-row grid-row r-align'>
       <%= payment_dec.property_ref %>
    </div>
    <div class='col-6-24 bottom-spacer inherit-row'>
      <%= payment_dec.full_name %>
    </div>
    <div class='col-6-24 bottom-spacer inherit-row'>
     <%= payment_dec.booked_on %>
    </div>
    <div class='col-2-24 bottom-spacer inherit-row r-align'>
      <%= payment_dec.amount %>
    </div>
    <div class='col-4-24 bottom-spacer inherit-row r-align'>
     <%= payment_dec.balance %>
    </div>
  </div>
  <div class='col-4-24 bottom-spacer r-align'>
    <%= link_to fa_icon('gbp lg'), new_payment_path(id: payment.account.id), title: 'Add New Payment', class: 'plain-button r-pad' %>
    <%= link_to fa_icon('edit lg'), edit_payment_path(payment), title: 'Edit', class: 'r-pad' %>
  </div>
<% end %>

<div class='col-2-24 bottom-spacer grid-row r-align'>
     &nbsp;
  </div>
  <div class='col-6-24 bottom-spacer'>
    &nbsp;
  </div>
  <div class='col-6-24 bottom-spacer'>
  Total
  </div>
  <div class='col-2-24 bottom-spacer r-align'>
    <%= number_to_currency decorate_payments.sum %>
  </div>
  <div class='col-4-24 bottom-spacer r-align'>
   &nbsp;
  </div>
  <nav class='col-4-24 bottom-spacer r-align'>
    &nbsp;
  </nav>
</div>

