<% @title='Payments' %>
<div class='grid shell'>
  <div class='no-print'>

    <%= form_tag payments_path, method: 'get' do %>
      <div class='col-3-12 vertical-spacer'>
        Payments booked on:
      </div>
      <div class='col-5-12 vertical-spacer'>
        <%= date_field_tag :payment_search, params[:payment_search], autofocus: true, class: 'width-3-4' %>
        <button type="submit" class='width-1-6' id = 'payment-search' title = 'Payment Search' ><i class= 'fa fa-search fa-lg'></i></button>
      </div>
      <div class='col-4-12 vertical-spacer'>
        &nbsp;
      </div>
    <% end %>
  </div>
  <p>&nbsp;</p>

  <div class='grid-row col-2-24 vertical-spacer grid-header r-align'>
    Account
  </div>
  <div class='col-6-24 vertical-spacer grid-header'>
    Name
  </div>
  <div class='col-6-24 vertical-spacer grid-header'>
    Booked On
  </div>
  <div class='col-2-24 vertical-spacer grid-header r-align'>
    Amount
  </div>
  <div class='col-4-24 vertical-spacer grid-header r-align'>
   Balance
  </div>
  <div class='col-4-24 vertical-spacer grid-header no-print r-align'>
   Actions
  </div>

 <% decorate_payments = Payments.new(@records)
    decorate_payments.to_a.each do |payment|
      payment_dec = PaymentIndexDecorator.new payment
      %>
  <div class='col-2-24 vertical-spacer grid-row r-align'>
     <%= payment_dec.property_ref %>
  </div>
  <div class='col-6-24 vertical-spacer'>
    <%= payment_dec.full_name %>
  </div>
  <div class='col-6-24 vertical-spacer'>
   <%= payment_dec.booked_on %>
  </div>
  <div class='col-2-24 vertical-spacer r-align'>
    <%= payment_dec.amount %>
  </div>
  <div class='col-4-24 vertical-spacer r-align'>
   <%= payment_dec.balance %>
  </div>
  <nav class='col-4-24 vertical-spacer r-align'>
    <%= link_to fa_icon('plus 2x'), new_payment_path(id: payment.account.id), title: 'Edit', class: 'r-pad' %>
    <%= link_to fa_icon('edit lg'), edit_payment_path(payment), title: 'Edit', class: 'r-pad' %>
    <%= link_to fa_icon('trash-o lg'), payment, method: :delete, data: { confirm: "Are you sure you want to delete?" }, title: 'Delete', class: 'l-pad' %>
  </nav>
<% end %>

<div class='col-2-24 vertical-spacer grid-row r-align'>
     &nbsp;
  </div>
  <div class='col-6-24 vertical-spacer'>
    &nbsp;
  </div>
  <div class='col-6-24 vertical-spacer'>
  Total
  </div>
  <div class='col-2-24 vertical-spacer r-align'>
    <%= number_to_currency decorate_payments.sum %>
  </div>
  <div class='col-4-24 vertical-spacer r-align'>
   &nbsp;
  </div>
  <nav class='col-4-24 vertical-spacer r-align'>
    &nbsp;
  </nav>
</div>
