<% @title='Payments' %>

<div class='grid shell'>
  <div class='no-print'>
    <%= form_tag payments_path, method: 'get' do %>
      <div class='col-3-12  bottom-spacer'>Payments booked on:</div>
      <div class='col-5-12  bottom-spacer'>
        <%= date_field_tag :payment_search, params[:payment_search], autofocus: true, class: 'width-3-4' %>
        <button type='submit' class='width-1-6' id='payment-search' title='Payment Search'>
          <%= fa_icon('search lg') %>
        </button>
      </div>
      <div class='col-4-12  bottom-spacer'>&nbsp;</div>
    <% end %>
  </div>
  <p>&nbsp;</p>

  <div class='col-2-24  grid-row  bottom-spacer  grid-header  r-align'>
    Account
  </div>
  <div class='col-6-24  bottom-spacer  grid-header'>Name</div>
  <div class='col-6-24  bottom-spacer  grid-header'>Booked On</div>
  <div class='col-2-24  bottom-spacer  grid-header  r-align'>Amount</div>
  <div class='col-4-24  bottom-spacer  grid-header  r-align'>Balance</div>
  <div class='col-1-24  bottom-spacer  grid-header  no-print'>&nbsp;</div>
  <div class='col-3-24  bottom-spacer  grid-header  no-print'>
    Actions
  </div>

 <% decorate_payments = Payments.new(@records)
    decorate_payments.to_a.each do |payment|
      payment_dec = PaymentIndexDecorator.new payment
      %>
  <div title='View' class='table-row' data-link='<%= payment_path(payment.id) %>'>
    <div class='col-2-24  grid-row  bottom-spacer  inherit-row  r-align'>
       <%= payment_dec.property_ref %>
    </div>
    <div class='col-6-24  bottom-spacer inherit-row'>
      <%= payment_dec.full_name %>
    </div>
    <div class='col-6-24  bottom-spacer inherit-row'>
      <%= payment_dec.booked_on %>
    </div>
    <div class='col-2-24  bottom-spacer inherit-row r-align'>
      <%= payment_dec.amount %>
    </div>
    <div class='col-4-24  bottom-spacer inherit-row r-align'>
      <%= payment_dec.balance %>
    </div>
  </div>
  <div class='col-1-24  bottom-spacer'>&nbsp;</div>
  <div class='col-1-24  bottom-spacer  no-print'>
    <%= edit_link payment %>
  </div>
  <div class='col-1-24  bottom-spacer  no-print'>
    <%= delete_link payment %>
  </div>
  <div class='col-1-24  bottom-spacer'>&nbsp;</div>
<% end %>

  <div class='col-2-24  grid-row  bottom-spacer  r-align'>&nbsp;</div>
  <div class='col-6-24  bottom-spacer'>&nbsp;</div>
  <div class='col-6-24  bottom-spacer'>Total</div>
  <div class='col-2-24  bottom-spacer r-align'>
    <%= number_to_currency decorate_payments.sum %>
  </div>
  <div class='col-4-24  bottom-spacer r-align'>&nbsp;</div>
  <nav class='col-4-24  bottom-spacer r-align'>&nbsp;</nav>
</div>
