<% @title='Payments' %>
<div class='Bubble-search'>
  <%= render 'bubbles/wide_search', line1: 'New Payments Search Box', line2: 'Give the account number,to create the new payment' %>
</div>

<% payments = Payments.new(@records)
   payment_dec = PaymentIndexDecorator.new payments.to_a.first %>

<div class='Shell'>
    <div class='col-6-24  grid-row  r-align'> &nbsp;</div>

    <div class='col-15-24'>
      &nbsp;
      <div class='Bubble-pt-down'>
        <%= render 'bubbles/help_3',  pic: 'fa fa-file-o  fa-lg', line1:  'View Payments', line2:  'Click on line for payment details' %>
      </div>
    </div>

    <div class='col-2-24'>
      &nbsp;
      <div class='Bubble-anchor'>
        <%= render 'bubbles/help_4',  pic: 'fa fa-edit  fa-lg', line1: 'Edit Payment Button', line2:  'Edits this payment' %>
      </div>
    </div>
    <div class='col-1-24'>&nbsp;
      <div class='Bubble-anchor'>
        <%= render 'bubbles/help_5',  pic: 'fa fa-trash-o  fa-lg',  line1: 'Delete Button',  line2: 'Deletes this payment from the accounts' %>
      </div>
    </div>

  <div class='col-3-24  grid-row  vertical-spacer  grid-header  r-align'>
    Property ID
  </div>
  <div class='col-5-24  vertical-spacer  grid-header'>Name</div>
  <div class='col-4-24  vertical-spacer  grid-header  r-align'>Booked At</div>
  <div class='col-4-24  vertical-spacer  grid-header  r-align'>Amount</div>
  <div class='col-4-24  vertical-spacer  grid-header  r-align'>Balance</div>
  <div class='col-1-24  vertical-spacer  grid-header'>&nbsp;</div>
  <div class='col-3-24  vertical-spacer  grid-header  no-print'>Actions</div>

    <% payments.to_a.each do |payment|
       payment_dec = PaymentIndexDecorator.new payment %>

    <div title='View' class='table-row' data-link='<%= payment_path(payment.id) %>'>
      <div class='col-3-24  grid-row  bottom-spacer  inherit-row  r-align'>
         <%= payment_dec.property_ref %>
      </div>
      <div class='col-5-24  bottom-spacer inherit-row'>
        <%= payment_dec.full_name %>
      </div>
      <div class='col-4-24  bottom-spacer  inherit-row  r-align'>
        <%= payment_dec.booked_at %>
      </div>
      <div class='col-4-24  bottom-spacer  inherit-row  r-align'>
        <%= payment_dec.amount %>
      </div>
      <div class='col-4-24  bottom-spacer  inherit-row  r-align'>
        <%= payment_dec.balance %>
      </div>
    </div>
    <div class='col-1-24  bottom-spacer'>&nbsp;</div>
    <div class='col-2-24  bottom-spacer'>
      <%= edit_link payment, size: 'lg' %>
    </div>
    <div class='col-1-24  bottom-spacer'>
      <%= delete_link path: payment %>
    </div>
  <% end %>

  <div class='col-9-24  grid-row  grid-footer-text  bottom-spacer  r-align'>&nbsp;</div>
  <div class='col-3-24  grid-footer-text  bottom-spacer'>Total</div>
  <div class='col-4-24  grid-footer-number  bottom-spacer  r-align'>
    <%= number_to_currency payments.sum %>
  </div>
  <div class='col-7-24  grid-footer-text  bottom-spacer  r-align'>&nbsp;</div>
</div>