<% @title='View Payment' %>
<% payment = @payment %>
<fieldset id='payment' class='shell'>
  <div class='overlay-parent'>
    <div class='grid'>
      <div class='col-3-12'>
        <h2>Property</h2>
        <h1>ID: <%= payment.human_ref %></h1>
      </div>
      <div class='col-6-12'>
        <br>
        <br>
          <%= render 'addresses/abridged', property: payment.property_decorator %>
      </div>
      <div class='col-1-12'>
        &nbsp;
      </div>
      <div class='col-1-12'>
        <%= edit_link(@payment) %>
      </div>
      <div class='col-1-12'>
        <%= link_to fa_icon('gbp lg'), new_payment_path(id: payment.account.id), title: 'Add New Payment', class: 'plain-button float-right r-pad' %>
      </div>
    </div>
    <%= render 'payments/show/payment_received', payment: payment  %>
    <div class="grid js-totalizer">
      <%= render 'credits/credits', payment: payment  %>
      <%= render 'payments/show/total', payment: payment %>
    </div>
  </div>
</fieldset>
