<hr/>
<div class='overlay-parent'>
  <div class="col-1-24">
    &nbsp;
  </div>
  <div class="col-14-24">
    <div class='col-1-1 vertical-spacer'>
      <h2>Invoiced Charges</h2>
    </div>
    <div class='grid-row col-3-8 vertical-spacer'>
      Search Terms
    </div>
    <div class='col-5-8 vertical-spacer'>
      &nbsp;
    </div>
    <div class='grid-row col-3-8 vertical-spacer faded'>
      Properties
    </div>
    <div class='col-5-8 vertical-spacer'>
      <%= "#{debit_generator.search_string}" %>
    </div>
    <div class='grid-row col-3-8 vertical-spacer faded'>
      Invoiceable Dates
    </div>
    <div class='col-5-8 vertical-spacer'>
      <%= "#{search_range}" %>
    </div>
    <div class="grid-row col-3-8 vertical-spacer faded">
      Invoice Date
    </div>
    <div class='col-3-8 vertical-spacer'>
      (TODO: date to be coded)
    </div>
    <div class='col-2-8 vertical-spacer'>
      &nbsp;
    </div>
  </div>
  <div class="col-9-24">
    </br></br></br>
    <%= debit_gen_form.submit name: 'create' , disabled: debit_generator.debitless?, class: 'width-2-3' %> or
    <%= link_to_unless debit_generator.debitless? ,'Cancel', debit_generators_path, class: 'warn'  %>
  </div>

  <% if debit_generator.debitless? %>
    <div class='shell  overlay top-3-12'>
      <%= t('instruction.debit_generators.property_charge') %>
    </div>
  <% else %>
   <%= render 'debits', debit_gen_form: debit_gen_form, debits: debit_generator.debits %>
  <% end %>
</div>
