<hr/>
<div class='overlay-parent'>
  <h2>Invoiced Charges</h2>
  <div class='faded'>
    Invoice Date
  </div>
  <div class="grid vertical-spacer">
    <div class="col-1-8 faded">
      Search<br>
      Range
    </div>
    <div class="col-3-8">
      <%= "#{debit_generator.search_string}" %>
      <br>
      <%= "#{search_range}" %>
    </div>
    <div class="col-1-2">
      <%= debit_gen_form.submit 'Invoice Charges', name: 'create' , disabled: debit_generator.debitless?, class: 'width-2-3' %> or
      <%= link_to_unless debit_generator.debitless? ,'Cancel', debit_generators_path, class: 'warn'  %>
    </div>
  </div>

  <div class='grid'>
    <div class='col-2-12 vertical-spacer grid-header r-align'>
      ID
    </div>
    <div class='col-1-12 vertical-spacer grid-header'>
      Type
    </div>
    <div class='col-3-12 vertical-spacer grid-header'>
      Charge
    </div>
    <div class='col-3-12 vertical-spacer grid-header r-align'>
      Date
    </div>
    <div class='col-3-12 vertical-spacer grid-header r-align'>
     Amount
    </div>
  </div>

  <% if debit_generator.debitless? %>
    <%= render 'no_chargeable_properties' %>
  <% else %>
   <%= render 'debits', debit_gen_form: debit_gen_form, debits: debit_generator.debits %>
  <% end %>

</div>
