<div class='overlay-parent top'>
  <h2>Property Charges to be invoiced</h2>

  <div class="grid vertical-spacer">
    <div class="col-1-8">
        Search:<br>
        Range:
    </div>
    <div class="col-3-8">
        <span class='important-text'><%= "#{debit_generator.search_string}" %></span><br>
        <span class='important-text'><%= "#{search_range}" %></span>
    </div>
    <div class="col-1-2">
      <%= debit_gen_form.submit 'Invoice Charges', name: 'create' , disabled: debit_generator.debitless?, class: 'medium' %>&nbsp;&nbsp;
      <%= link_to_unless debit_generator.debitless? ,' or Cancel', debit_generators_path, class: 'alternative-choice' %>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Charge</th>
        <th>Date</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
     <% unless debit_generator.debitless? %>
     <%= render 'debits', debit_gen_form: debit_gen_form, debits: debit_generator.debits %>
    <% else %>
      <%= render 'no_chargeable_properties' %>
    <% end %>
    </tbody>
  </table>
</div>
