<hr/>
<div class='overlay-parent'>
  <h2>Property Charges to be invoiced</h2>

  <div class="grid vertical-spacer">
    <div class="col-1-8">
      Search:<br>
      Range:
    </div>
    <div class="col-3-8 search-terms">
      <%= "#{debit_generator.search_string}" %>
      <br>
      <%= "#{search_range}" %>
    </div>
    <div class="col-1-2">
      <%= debit_gen_form.submit 'Invoice Charges', name: 'create' , disabled: debit_generator.debitless?, class: 'medium' %> or
      <%= link_to_unless debit_generator.debitless? ,'Cancel', debit_generators_path, class: 'warn'  %>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Charge</th>
        <th>Date</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
     <% unless debit_generator.debitless? %>
     <%= render 'debits', debit_gen_form: debit_gen_form, debits: debit_generator.debits %>
    <% else %>
      <%= render 'no_chargeable_properties' %>
    <% end %>
    </tbody>
  </table>
</div>
