<% debits.each do |debit| %>
  <%= debit_gen_form.fields_for :debits, debit do |debit_form| %>
  <tr>
    <td>
      <%= debit_form.label debit.account.property.human_ref %>
      <%= debit_form.hidden_field :account_id %>
    </td>
    <td>
      <%= debit_form.label debit.charge.charge_type %>
      <%= debit_form.hidden_field :charge_id %>
    </td>
    <td>
      <%= debit_form.date_field :on_date %>
    </td>
    <td>
      <%= debit_form.text_field :amount %>
    </td>
  </tr>
  <% end %>
<% end %>