<div class='grid-row col-1-24 vertical-spacer grid-header'>
  &nbsp;
</div>
<div class='col-2-24 vertical-spacer grid-header r-align'>
  ID
</div>
<div class='col-2-24 vertical-spacer grid-header'>
  Type
</div>
<div class='col-6-24 vertical-spacer grid-header'>
  Charge
</div>
<div class='col-5-24 vertical-spacer grid-header r-align'>
 Amount
</div>
<div class='col-8-24 vertical-spacer grid-header  no-r-pad'>
  &nbsp;
</div>
<% debits.each do |debit| %>
  <%= debit_gen_form.fields_for :debits, debit do |debit_form| %>
    <div class='grid-row col-1-24 vertical-spacer'>
      &nbsp;
    </div>
    <div class='col-2-24 vertical-spacer r-align'>
      <%= debit.account.property.human_ref %>
      <%= debit_form.hidden_field :account_id %>
    </div>
    <div class='col-2-24 vertical-spacer'>
      -
    </div>
    <div class='col-6-24 vertical-spacer'>
      <%= debit.charge_type %>
      <%= debit_form.hidden_field :charge_id %>
    </div>
    <div class='col-5-24 vertical-spacer r-align'>
      <%= debit_form.hidden_field :on_date %>
      <%= debit_form.text_field :amount, value: number_with_precision(debit_form.object.amount, precision: 2), readonly: true, class: 'r-align' %>
    </div>
    <div class='col-8-24 vertical-spacer no-r-pad'>
      &nbsp;
    </div>
  <% end %>
<% end %>