<html>
  <head>
    <meta charset='utf-8'>
    <title>Invoice</title>
  </head>
  <body>
   <div class = 'print_only'>
     <div class = 'inv_bold'>
    <%= render 'invoice_page1/print_invoice_heading' %>
  </div>
  Property Ref: <%= property_object.human_ref %>
  <%= render 'invoice_page1/print_section48', object: property_object.client %>
   <%= render 'invoice_page1/print_from', object: property_object %>
 <%= render 'invoice_page1/print_short_accounts', items: AccountDecorator.new(property_object.account).abbrev_items %>




<%= render 'invoice_page2/print_invoice_page2', object: property_object %>
</div>
  </body>
</html>