
<h3>Which properties to invoice?</h3>
<div class="grid vertical-spacer">
  <div class="col-1-3">
  <%= debit_gen_form.text_field :search_string, data: {autocomplete_source: search_properties_path}, autofocus:true %>
  </div>
  <div class="col-2-3">
  <%= debit_gen_form.submit 'Search', class: 'search' %>
  </div>
  <div class='col-1'>
    <div class='toggle-selection'>
    <div class='togglable'>
      <h4>Search for new charges within the next 8 weeks
        <a href='#' class='toggle toggle-event'> or choose dates</a>
    </div>
    <div class='togglable hidden'>
      <h4>Search for new charges within choosen dates
        <a href='#' class='toggle toggle-event'> or default to the next 8 weeks</a>
      <div class="col-1-2">
        <%= debit_gen_form.label :start_date %>
        <%= debit_gen_form.date_field :start_date  %>
      </div>
      <div class="col-1-2">
        <%= debit_gen_form.label :end_date %>
        <%= debit_gen_form.date_field :end_date %>
      </div>
    </div>
  </div>

  </div>

</div>

