<% @title='Debits' %>
<div class="no-print">
	<h2>Invoice Batches</h2>
	<p>
	 <% invoice_on = Date.today %>

		<%= invoice_on %>

	</p>
	<p>

	 	Note : Before printing ensure options:
		<br>
		Header & footer not set
		<br>
		Two-sided set
	</p>
	<p>
		<button><%= link_to 'Print Invoices', '#', class: 'print-window'%></button>
	</p>

	<% search_string = DebitGenerator.last.search_string %>

	Search String is <%= search_string %>
</div>

<% DebitGenerator.last.debits.each do |debit| %>
	<div class="no-print">
		<br>
	  <%= debit.account.property.human_ref %>
	  <%= debit.charge_type %>
	</div>
	 <%= render partial: 'print_invoice', locals: {property_object: debit.account.property, date_object: invoice_on} %>
<% end %>

<div class="no-print">
	<%= render 'index_table', debit_generators: @debit_generators %>
</div>
