<%= form_for invoicing do |form| %>
  <%= render 'shared/errors', object: invoicing %>

  <fieldset id='invoicing' class='grid  Shell  u-padding-1-25'>
    <div class='col-2-3  spacer-column'>  <!-- column 1 -->

      <div class='col-12-24  grid-row  bottom-half-line-spacer  grid-label'>
        <h3>Search Terms</h3>
      </div>

      <div class='col-6-24  grid-row  bottom-half-line-spacer  grid-label'>
        <%= form.label :property_range, class: 'required' %>
      </div>
      <div class='col-16-24  bottom-half-line-spacer'>
        <%= form.text_field :property_range %>
      </div>

      <%= render 'invoicings/search_dates', form: form %>

      <div class='col-6-24  grid-row  bottom-half-line-spacer  grid-label'>
        Invoice Date
      </div>
      <div class='col-16-24  bottom-half-line-spacer'>
        <%= date_field_tag :invoice_date, params[:invoice_date] %>
      </div>
    </div>

    <div class='col-1-3  spacer-column'>  <!-- column 2 -->
      <div class='top-2-line-spacer'>
        <%= render 'forms/buttons', f: form, path: new_invoicing_path %>
      </div>
    </div>

    <!-- across page -->

    <div class='col-4-24  grid-row  bottom-spacer  grid-label'>Comments</div>
    <div class='col-16-24  bottom-spacer  grid-label'>
      <%= text_field_tag 'comment[]' %>
    </div>

    <div class='col-4-24  grid-row  bottom-spacer  grid-label'>&nbsp;</div>
    <div class='col-16-24  bottom-spacer  grid-label'>
      <%= text_field_tag 'comment[]' %>
    </div>

  <% if invoicing.actionable? %>

    <%= render 'invoices/invoices', run: invoicing.runs.last, action: false %>

  <% else %>
    <%= render 'account_debits/show', search_terms: params[:search_terms], start_date: params[:start_date], end_date: params[:end_date] if params[:search_terms] %>
  <% end %>
  </fieldset> <!-- grid  Shell  u-padding-1-100-->
<% end %> <!-- form -->

