<%= form_for invoicing do |f| %>
  <%= render 'shared/errors', object: invoicing %>

  <div id='invoicing' class='grid  shell  overlay-parent'>
    <div class='col-12-24  spacer-column'>
      <div class='col-2-24   grid-row  bottom-spacer'>&nbsp;</div>
      <div class='col-10-24  bottom-spacer'><h3>Search Terms</h3></div>
      <div class='col-12-24  bottom-spacer'>&nbsp;</div>

      <div class='col-2-24   grid-row'>&nbsp;</div>
      <div class='col-10-24  bottom-spacer  faded'>
        Invoice Properties
      </div>
      <div class='col-12-24  bottom-spacer'>
        <%= f.text_field :property_range, readonly: true %>
      </div>

      <div class='col-2-24   grid-row  bottom-spacer'>&nbsp;</div>
      <div class='col-10-24  bottom-spacer  faded'>
        Invoice Between
      </div>
      <div class='col-12-24  bottom-spacer'>
        <%= salient_date_range start_date: invoicing.period_first, end_date: invoicing.period_last %>
          <%= f.hidden_field :period_first %>
          <%= f.hidden_field :period_last %>
      </div>

      <div class='col-2-24   grid-row'>&nbsp;</div>
      <div class='col-10-24  bottom-spacer  faded'>
        Invoice Date
      </div>
      <div class='col-12-24  bottom-spacer'>
        <%= date_field_tag :invoice_date, params[:invoice_date] || Time.zone.today  %>
      </div>
    </div>

    <div class='col-12-24  spacer-column'>
      <div class='col-4-24  grid-row  bottom-spacer'>&nbsp;</div>
      <div class='col-16-24  bottom-spacer'>
        </br></br>
        <%= render 'buttons/submit', f: f, disabled: !invoicing.actionable? %> or <%= link_to_if invoicing.actionable?, 'Cancel', new_invoicing_path, class: 'warn' %>
      </div>
      <div class='col-4-24  bottom-spacer'>&nbsp;</div>
    </div>

    <div class='col-1-24  grid-row  bottom-spacer'>&nbsp;</div>
    <div class='col-5-24  bottom-spacer  faded'>Comments</div>
    <div class='col-17-24 bottom-spacer  faded'>
      <%= text_field_tag 'comment[]' %>
      <%= text_field_tag 'comment[]' %>
    </div>
    <div class='col-1-24  bottom-spacer'>&nbsp;</div>

  <% if invoicing.actionable? %>
    <div class='grid-row col-1-24'>&nbsp;</div>
    <div class='col-22-24'>
      <%= render 'invoices/invoice_header' %>
      <%= render invoicing.runs %>
    </div>
    <div class='col-1-24'>&nbsp;</div>
  <% else %>
    <%= render partial: 'teachings/invoicing' %>
    <%= render partial: 'account_debits/show' if params[:search_terms] %>
  <% end %>
  </div> <!-- grid  shell -->
<% end %> <!-- form -->

