<%= form_for invoicing do |f| %>
  <%= render 'shared/errors', object: invoicing %>

  <fieldset id='invoicing' <%= invoicing.actionable? ? '' : disabled="disabled" %> class='grid  shell-1-25  overlay-parent'>
    <div class='col-1-2  spacer-column'>

      <div class='col-12-24  grid-row  bottom-spacer'>
        <h3 class='faded'>Search Terms</h3>
      </div>

      <div class='col-12-24  grid-row  bottom-spacer  faded'>
        Invoice Properties
      </div>
      <div class='col-12-24  bottom-spacer'>
        <%= f.text_field :property_range, readonly: true %>
      </div>

      <div class='col-12-24  grid-row  bottom-spacer  faded'>
        Invoice Between
      </div>
      <div class='col-12-24  bottom-spacer'>
        <%= salient_date_range start_date: invoicing.period_first, end_date: invoicing.period_last %>
          <%= f.hidden_field :period_first %>
          <%= f.hidden_field :period_last %>
      </div>

      <div class='col-12-24  grid-row  bottom-spacer  faded'>
        Invoice Date
      </div>
      <div class='col-12-24  bottom-spacer'>
        <%= date_field_tag :invoice_date, params[:invoice_date] || Time.zone.today  %>
      </div>
    </div>

    <div class='col-1-2  spacer-column'>

      <div class='col-4-24  grid-row  bottom-spacer'>&nbsp;</div>
      <div class='col-16-24  top-double-line-spacer'>
        <%= render 'buttons/submit', f: f, disabled: !invoicing.actionable? %> or <%= link_to_if invoicing.actionable?, 'Cancel', new_invoicing_path, class: 'warn' %>
      </div>
    </div>

    <div class='col-6-24  grid-row  bottom-spacer  faded'>Comments</div>
    <div class='col-17-24  bottom-spacer  faded'>
      <%= text_field_tag 'comment[]' %>
    </div>

    <div class='col-6-24  grid-row  bottom-spacer  faded'>&nbsp;</div>
    <div class='col-17-24  bottom-spacer  faded'>
      <%= text_field_tag 'comment[]' %>
    </div>

  <% if invoicing.actionable? %>
    <%= render 'invoices/invoices', run: invoicing.runs.last, action: false %>
  <% else %>
    <%= render partial: 'teachings/invoicing' %>
    <%= render 'account_debits/show', search_terms: params[:search_terms], start_date: params[:start_date] if params[:search_terms] %>
  <% end %>
  </fieldset> <!-- grid  shell -->
<% end %> <!-- form -->

