<div class='col-6-24  grid-row  js-togglable  bottom-half-line-spacer  faded'>
  Search Dates
</div>
<div class='js-toggle-selection   bottom-half-line-spacer'>
  <div class='col-16-24  js-togglable'>
    within <%= Invoicing::WEEKS_AHEAD %> weeks
    <%= choosing_dates_link %>
  </div>
  <div class='col-16-24  js-togglable  js-revealable   bottom-half-line-spacer'>
    <%= default_date_link %>
    <div class='col-1-2'>
      <%= label_tag :start_date %>
      <%= f.date_field :period_first  %>
    </div>
    <div class='col-1-2'>
      <%= label_tag :end_date %>
      <%= f.date_field :period_last %>
    </div>
  </div>
</div>