<div class='col-6-24  grid-row  js-togglable  bottom-half-line-spacer  grid-label'>
  Search Dates
</div>
<div class='js-toggle-selection   bottom-half-line-spacer'>
  <div class='col-16-24  js-togglable  <%=  get_default_dates? ? '' : 'js-revealable'  %>  js-disable'>
    within <%= Invoicing::WEEKS_AHEAD %> weeks
    <%= choosing_dates_link %>
  </div>
  <div class='col-16-24  js-togglable  <%=  get_default_dates? ? 'js-revealable' : '' %>  js-disable  bottom-half-line-spacer'>
    <div class='col-1-1  grid-row'>
    <%= default_date_link %>
    <%= text_field_tag :default_dates, get_default_dates?, disabled: get_default_dates?, class: 'hidden' %>
    </div>
    <div class='col-1-2'>
      <%= label_tag :period_first, 'Start date' %>
      <%= date_field_tag :period_first, params[:period_first], disabled: get_default_dates? %>
      <%= form.hidden_field :period_first %>
    </div>
    <div class='col-1-2'>
      <%= label_tag :period_last, 'End date' %>
      <%= date_field_tag :period_last, params[:period_last] , disabled: get_default_dates? %>
      <%= form.hidden_field :period_last %>
    </div>
  </div>
</div>
