<div class='js-toggle-selection  invoicings-padded'>
  <div class='js-togglable  c-align  <%= expose_if_invoicing_dates_default %>'>
    <h4>Search for new charges within the next <%= Invoicing::WEEKS_AHEAD %> weeks
      <%= choosing_dates_link %>&nbsp;
      <%= link_to fa_icon('calendar lg'), '#',title: 'Choose Dates with calendar', class: 'js-toggle  inverted-link' %>
    </h4>
  </div>
  <div class='js-togglable  <%= hide_if_invoicing_dates_default %>'>
    <h4 class='c-align'>Search for new charges within chosen dates
      <%= default_date_link %>
    </h4>
    <div class='col-1-2'>
      <%= label_tag :start_date %>
      <%= date_field_tag :start_date, invoicing_start_date  %>
    </div>
    <div class='col-1-2'>
      <%= label_tag :end_date %>
      <%= date_field_tag :end_date, invoicing_end_date %>
    </div>
  </div>
</div>