<% @title='Invoicing' %>

<div class='grid shell'>
  <div class='col-5-24 grid-row bottom-spacer no-print grid-header'>
   Property Range
  </div>
  <div class='col-5-24 grid-header no-print'>
    Created On
  </div>
  <div class='col-6-24 grid-header no-print'>
    Bill Between
  </div>
  <div class='col-8-24 grid-header no-print'>
    Actions
  </div>

  <% @invoicings.each do |invoicing| %>
    <% invoicing_dec = InvoicingIndexDecorator.new invoicing %>
    <div title='View' class='table-row' data-link='<%= invoicing_path(invoicing) %>'>
      <div class='col-5-24 grid-row no-print inherit-row'>
        <%= invoicing_dec.property_range %>
      </div>
      <div class='col-5-24 no-print inherit-row'>
        <%= invoicing_dec.created_at %>
      </div>
      <div class='col-6-24 no-print inherit-row'>
        <%= invoicing_dec.period_between %>
      </div>
      <div class='col-2-24 no-print'>
        <%= print_link invoicing %>
      </div>
      <div class='col-2-24 no-print'>
        <%= link_to fa_icon('print lg'), invoicing, method: :put, title: 'Red Invoice', class: 'warn-button' %>
      </div>
      <div class='col-4-24 no-print'>
        &nbsp;
      </div>
    </div>
  <% end %>
</div>
