<% @title='New Invoicing' %>

<%= form_for @invoicing do |f| %>
  <%= render 'shared/errors', object: @invoicing %>

<div id='invoicing' class='shell' style='position: relative;'>
  <div class='grid overlay-parent'>
    <div class="grid-row col-1-24">&nbsp;</div>
    <div class="col-12-24">

      <div class='grid-row col-3-8 bottom-spacer'>
        Search Terms
      </div>
      <div class='col-5-8 bottom-spacer'>&nbsp;</div>


      <div class='grid-row col-3-8 bottom-spacer faded'>
        Invoice Properties
      </div>
      <div class='col-5-8 bottom-spacer'>
        <%= f.text_field :property_range, readonly: true %>
      </div>


      <div class='grid-row col-3-8 bottom-spacer faded'>
        Invoice Between
      </div>
      <div class='col-5-8 bottom-spacer'>
        <%= noticable_date_range start_date: @invoicing.period_first, end_date: @invoicing.period_last %>
          <%= f.hidden_field :period_first %>
          <%= f.hidden_field :period_last %>
      </div>
      <div class='col-2-8 bottom-spacer'>&nbsp;</div>
    </div>
    <div class="col-11-24">
      </br></br></br>
      <%= f.button submit: '', class: "primary submit-button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Updating Invoicing..."}, disabled: !@invoicing.actionable? %> or <%= link_to_if @invoicing.actionable?, 'Cancel', new_invoicing_path, class: 'warn' %>
    </div>
  </div>
  <% if @invoicing.actionable? %>
    <div class="grid-row col-1-24">&nbsp;</div>
    <div class="col-22-24">
      <div class='col-3-24 bottom-spacer grid-header r-align'>
        Property ID
      </div>
      <div class='col-5-24 bottom-spacer grid-header'>
        Billing Agent
      </div>
      <div class='col-5-24 bottom-spacer grid-header'>
        Billing Address
      </div>
      <div class='col-11-24 bottom-spacer grid-header'>
        Charge
      </div>
      <%= render @invoicing.runs %>
    </div>
    <div class="col-1-24">&nbsp;</div>
  <% else %>
    <%= render partial: 'invoicings/unknown_invoice' %>
    <% if params[:search_terms] %>
      <%= render partial: 'account_debits/show' %>
    <% end %>
  <% end %>
<% end %>
</div>

