<% @title='View Invoicing' %>

<div class='grid shell'>
  <%= render 'invoicings/invoicing_header' %>
  <%= render 'invoicing_to_view', invoicing: @invoicing %>

  <hr class='faded'>

  <div class="tabs">
    <ul class="tab-links">
     <% @invoicing.runs.each_with_index do |run, index|  %>
       <li class="<%= run == @invoicing.runs.last ? ' active' : '' %>"><a href="#tab<%= index + 1 %>">Invoice <%= I18n.l run.invoice_date, format: :short %></a></li>
     <% end %>
   </ul>

    <div class="tab-content">
    <% @invoicing.runs.each_with_index do |run, index|  %>
      <div id="tab<%= index + 1 %>" class="tab <%= run == @invoicing.runs.last ? ' active' : '' %> ">
        <div class='grid shell'>
          <div class='grid-row'>
            <h3>Created</h3>
          </div>
          <%= render 'invoices/invoice_action_header' %>
          <% run.invoices.mail(true).each do |invoice| %>
            <%= render 'invoices/invoice_action', invoice: invoice %>
          <% end %>
          <div class='col-1-1  grid-row  top-line-spacer'>
            <h3>Skipped</h3>
          </div>
         <%= render 'invoices/invoice_header' %>
         <% run.invoices.mail(false).each do |invoice| %>
            <%= render 'invoices/invoice', invoice: invoice %>
          <% end %>
        </div> <!-- close grid shell-->

      </div>  <!-- close tab -->
    <% end %>
    </div> <!-- close tab-content -->
  </div> <!-- close tabs -->

</div> <!-- close grid -->
