<% @title='Invoicing' %>

<div class='grid shell'>
  <div class='col-3-24'>
    &nbsp;
  </div>
  <div class='col-5-24 vertical-spacer grid-header'>
    Property Range
  </div>
  <div class='col-5-24 grid-header'>
    Start Date
  </div>
  <div class='col-7-24 grid-header'>
    End Date
  </div>
  <div class='col-3-24 grid-header no-print'>
    Action
  </div>

  <div class='table-row' data-link='<%= print_path(@invoicing) %>'>
    <div class='grid-row col-3-24'>
      &nbsp;
    </div>
    <div class='col-5-24 vertical-spacer inherit-row'>
      <%= @invoicing.property_range %>
    </div>
    <div class='col-5-24 inherit-row'>
      <%= I18n.l @invoicing.period_first, format: :short %>
    </div>
    <div class='col-7-24 inherit-row'>
      <%= I18n.l @invoicing.period_last, format: :short %>
    </div>
    <div class='col-1-24 no-print r-align'>
      <%= link_to fa_icon('print lg'), print_path(@invoicing), title: 'Print', class: 'simple_button' %>
    </div>
  </div>

  <hr class='faded'>
  <div class='grid-row col-3-24 vertical-spacer grid-header r-align'>
    Property ID
  </div>
  <div class='col-5-24 vertical-spacer grid-header'>
    Billing Agent
  </div>
  <div class='col-5-24 vertical-spacer grid-header'>
    Billing Address
  </div>
  <div class='col-7-24 vertical-spacer grid-header'>
    Charge
  </div>
  <div class='col-3-24 vertical-spacer no-print grid-header'>
    Action
  </div>

  <% @invoicing.invoices.each do |invoice| %>
    <% invoice_decorator = InvoiceDecorator.new(invoice) %>
    <div class='table-row' data-link='<%= invoice_path(invoice) %>'>
      <div class='grid-row col-3-24 inherit-row vertical-spacer r-align'>
        <%= invoice_decorator.property_ref %>
      </div>
      <div class='col-5-24 inherit-row vertical-spacer'>
        <%= invoice_decorator.billing_agent %>
      </div>
      <div class='col-5-24 inherit-row vertical-spacer'>
        <%= invoice_decorator.billing_first_address_line %>
      </div>
      <div class='col-7-24 inherit-row vertical-spacer'>
        <%= invoice_decorator.products_display %>
      </div>
      <div class='col-1-24 inherit-row vertical-spacer no-print r-align'>
        <%= link_to fa_icon('print lg'), invoice_path(invoice), title: 'Print', class: 'simple_button' %>
      </div>
    </div>
  <% end %>
</div>
