<% @title='View Invoicing' %>

<div class='tabs'>
  <ul class='tab-indexes'>
    <% @invoicing.runs.each_with_index do |run, index|  %>
      <% run_dec = RunDecorator.new run %>
      <li class='tab-index-li  <%= run_dec.style_activity %>'>
        <%= link_to "Run #{run_dec.invoice_date}", "#tab-content#{index}", class: 'tab-index-a  tab-index-a-default' %>
      </li>
    <% end %>
    <li class='tab-index-li'>
      <%= add_link path: [:edit, @invoicing], title: '(Create Red Invoice)', css: 'tab-index-a  tab-index-a-warn' %>
    </li>
  </ul>

  <div class='grid  shell  tab-contents'>
    <% @invoicing.runs.each_with_index do |run, index|  %>
      <% run_dec = RunDecorator.new run %>
      <div id='tab-content<%= index %>' class='tab-content <%= run_dec.style_activity %> '>
        <div class='panel'>
          <h2>Invoicing</h2>
          <%= render 'invoicings/invoicing_header' %>
          <%= render 'invoicing_to_view', invoicing: @invoicing, run: run %>
        </div>
        <div class='col-8-24  grid-row  top-half-line-spacer  faded'>
          <h2>Run <%= run_dec.invoice_date %></h2>
        </div>

        <div class='col-4-24  inherit-row  top-1-line-spacer'>
          <%= print_link text: 'Print Run', path: print_run_path(run), id: 'print-link', css: 'button-icon-action', title: 'Print Run', disabled: !run.deliverable?  %>
        </div>
        <div class='col-4-24  top-1-line-spacer  t-run-delete-<%= index %> '>
          <% if index.nonzero? %>
            <%= delete_link text: 'Delete Run', path: run, title: 'Delete Run', css: 't-delete-run', disabled: false %>
          <% else %>
            <%= delete_link text: 'Delete Run', path: run, title: 'Delete Run', css: 't-delete-run', disabled: true %>
          <% end %>
        </div>
        <%= render 'invoices/invoices', run: run, action: true %>
      </div>  <!-- close tab -->
    <% end %>
  </div> <!-- close grid  shell  tab-content -->
</div> <!-- close tabs -->
