<h1>Listing guides</h1>

<table>
  <thead>
    <tr>
      <th>Instruction</th>
      <th>Fillin</th>
      <th>Sample</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @guides.each do |guide| %>
      <tr>
        <td><%= guide.instruction %></td>
        <td><%= guide.fillin %></td>
        <td><%= guide.sample %></td>
        <td><%= link_to 'Show', guide %></td>
        <td><%= link_to 'Edit', edit_guide_path(guide) %></td>
       </tr>
    <% end %>
  </tbody>
</table>

<br>
