<div class='col-2-24  grid-row  vertical-line-spacer'>&nbsp;</div>
<div class='col-3-24  vertical-line-spacer'>          Due Date</div>
<div class='col-5-24  vertical-line-spacer'>          Charge</div>
<div class='col-5-24  vertical-line-spacer'>          Period</div>
<div class='col-3-24  r-align  vertical-line-spacer'> Due</div>
<div class='col-4-24  r-align  vertical-line-spacer'> Balance</div>
<div class='col-2-24  vertical-line-spacer'>          &nbsp;</div>

<% invoice.products.each do |product| %>
  <% product_dec = ProductDecorator.new product %>
  <div class='col-2-24  grid-row'>     &nbsp;</div>
  <div class='col-3-24'>               <%= product_dec.date_due %></div>
  <div class='col-5-24'>               <%= product.charge_type %></div>
  <div class='col-5-24'>               <%= product_dec.period %></div>
  <div class='col-3-24  r-align'>      <%= product_dec.amount %></div>
  <div class='col-4-24  r-align'>      <%= product_dec.balance %></div>
  <div class='col-2-24'>               &nbsp;</div>
<% end %>

<div class='col-18-24  grid-row'>&nbsp;</div>
<div class='col-4-24  r-align'>  <%= dotted_line = "----------" %></div>
<div class='col-2-24'>           &nbsp;</div>

<div class='col-5-24  grid-row bottom-spacer'>&nbsp;</div>
<div class='col-11-24'>          Total now Owing</div>
<div class='col-2-24'>           &nbsp;</div>
<div class='col-4-24  r-align'>
  <%= number_with_precision(invoice.total_arrears, precision: 2) %>
</div>
<div class='col-2-24'>&nbsp;</div>

<% invoice.comments.order(:id).each do |comment| %>
  <div class='col-5-24  grid-row  bottom-spacer'>&nbsp;</div>
  <div class='col-17-24  bottom-spacer'>    <%= comment.clarify %></div>
  <div class='col-2-24  bottom-spacer'>     &nbsp;</div>
<% end %>
