<div class='col-24-24  grid-row'>&nbsp;</div>

<% invoice.products.each do |product| %>
<% product_dec = ProductDecorator.new product %>
  <div class='col-5-24  grid-row'>
    &nbsp;
  </div>
  <div class='col-4-24'>
     <%= product_dec.charge_type %>
  </div>
  <div class='col-7-24'>
    <%= product_dec.period %>
  </div>
  <div class='col-3-24  r-align'>
    <%= product_dec.balance %>
  </div>
<% end %>

<div class='col-14-24  grid-row'>&nbsp;</div>
<div class='col-5-24  r-align'><%= "-" * 10 %></div>

<div class='col-5-24  grid-row'>&nbsp;</div>
<div class='col-9-24'>Total now Owing</div>
<div class='col-5-24  r-align'>
  <%= number_with_precision(invoice.total_arrears,precision: 2) %>
</div>
