<% total = 0 %>
<div class='col-12-12 grid-row'>
  &nbsp;
</div>

<% items.each do |item| %>
  <div class='col-3-12 grid-row'>
    &nbsp;
  </div>
  <div class='col-4-12'>
     <%= item.charge_type %>
     <%= l item.period_first %>
     to
     <%= l item.period_last %>
  </div>
  <div class='col-2-12 r-align'>
    <% total = total + item.amount %>
    <%= number_with_precision(item.amount,precision: 2) %>
  </div>
<% end %>

<div class='col-7-12 grid-row'>
  &nbsp;
</div>
<div class='col-2-12 r-align'>
  <% dotted_line = "----------" %>
  <%= dotted_line %>
</div>

<div class='col-3-12 grid-row'>
  &nbsp;
</div>
<div class='col-4-12'>
  Total now Owing
</div>
<div class='col-2-12 r-align'>
  <%= number_with_precision(total,precision: 2) %>
</div>
