<% total = 0 %>
<br>
<div class='col-1-12 grid-row'>
  &nbsp;
</div>
<div class='col-2-12'>
  Due Date
</div>
<div class='col-5-12'>
  Description
</div>
<div class='col-2-12 r-align'>
  Amount Due
</div>
<div class='col-2-12 r-align'>
  Balance Owing
</div>
<div class='col-12-12 grid-row'>
  &nbsp;
</div>

<% products.each do |product| %>
  <div class='col-1-12 grid-row'>
    &nbsp;
  </div>
  <div class='col-2-12'>
    <%= product.date_due %>
  </div>
  <div class='col-5-12'>
    <%= product.charge_type %>  <%= l product.period_first %>
    to  <%= l product.period_last %>
  </div>
  <div class='col-2-12 r-align'>
    <%= number_with_precision(product.amount,precision: 2) %>
  </div>
  <div class='col-2-12 r-align'>
    <% total = total + product.amount %>
    <%= number_with_precision(total,precision: 2) %>
  </div>
<% end %>

<div class='col-10-12 grid-row'>
  &nbsp;
</div>
<div class='col-2-12 r-align'>
  <% dotted_line = "----------" %>
  <%= dotted_line %>
</div>

<div class='col-3-12 grid-row'>
  &nbsp;
</div>
<div class='col-5-12'>
  Total now Owing
</div>
<div class='col-2-12'>
  &nbsp;
</div>
<div class='col-2-12 r-align'>
  <%= number_with_precision(total,precision: 2) %>
</div>
