<% invoice_dec = InvoiceDecorator.new(invoice) %>
<div class='printbody'>

  <% template = ::Template.find(1) %>
  <%= render 'templates/heading_p2_address' %>

  <% @template = ::Template.find(2) %>

  <div class='grid-row c-align bottom-spacer'>
     <%= @template.heading1 %>
  </div>
  <div class='grid-row c-align h1print bottom-spacer'>
    <%= @template.heading2 %> <%= invoice_dec.property_ref %>
  </div>

  <div class='grid-row insert-margin insert-font'>
    <%= @template.guides[0].instruction %>
  </div>
  <div class='grid-row widemargin instruct-font'>
    <%= @template.guides[0].fillin %>
    <%= invoice_dec.occupiers %>
  </div>

  <div class='grid-row insert-margin insert-font'>
    <%= @template.guides[1].instruction %>
  </div>
  <div class='grid-row widemargin instruct-font'>
    <%= @template.guides[1].fillin %>
     <%= simple_format(invoice_dec.property_address, {}, wrapper_tag: 'div') %>
  </div>

  <div class='grid-row insert-margin insert-font'>
    <%= @template.guides[2].instruction %>
  </div>
  <div class='grid-row widemargin instruct-font'>
    <%= @template.guides[2].fillin %>
  </div>

  <div class='grid-row insert-margin insert-font'>
    <%= @template.guides[3].instruction %>
  </div>
  <div class='grid-row widemargin instruct-font'>
    <%= @template.guides[3].fillin %>
  </div>

  <div class='grid-row insert-margin insert-font'>
    <%= @template.guides[4].instruction %>
  </div>
  <div class='grid-row widemargin instruct-font'>
    <%= @template.guides[4].fillin %>
    <%= template.invoice_name %>
  </div>

  <div class='grid-row insert-margin insert-font'>
    <%= @template.guides[5].instruction %>
  </div>
  <div class='grid-row widemargin instruct-font'>
    <%= @template.guides[5].fillin %>
     <%= template.address.text %>
  </div>

  <div class='grid-row insert-margin insert-font'>
    <%= @template.guides[6].instruction %>
  </div>
  <div class='grid-row widemargin instruct-font'>
    <%= @template.guides[6].fillin %>
    <%= invoice_dec.client_address %>
  </div>

   <%= render 'templates/notices', template: @template %>

 </div>
