<% invoice_dec = InvoiceDecorator.new(invoice) %>
<div class='printbody'>

  <% template = ::Template.find(1) %>
  <%= render 'templates/heading_p2_address' %>

  <% @template = ::Template.find(2) %>

  <div class='grid-row c-align bottom-spacer'>
     <%= @template.heading1 %>
  </div>
  <div class='grid-row c-align h1print bottom-spacer'>
    <%= @template.heading2 %> <%= invoice_dec.property_ref %>
  </div>

  <%= render partial:'invoices/instructions_bk_pg',locals: { guideno: 0, info: invoice_dec.occupiers } %>

  <%= render partial:'invoices/instructions_bk_pg',locals: { guideno: 1, info: simple_format(invoice_dec.property_address, {}, wrapper_tag: 'div') } %>

  <%= render partial:'invoices/instructions_bk_pg',locals: { guideno: 2, info: 'TO BE FILLED' } %>

  <%= render partial:'invoices/instructions_bk_pg',locals: { guideno: 3, info: 'TO BE FILLED' } %>

  <%= render partial:'invoices/instructions_bk_pg',locals: { guideno: 4, info: template.invoice_name } %>

  <%= render partial:'invoices/instructions_bk_pg',locals: { guideno: 5, info: template.address.text } %>

  <%= render partial:'invoices/instructions_bk_pg',locals: { guideno: 6, info: invoice_dec.client_address } %>

  <%= render 'templates/notices', template: @template %>

</div>
