</p>
<p>

<div class =  "note" >
	<p>
		<%= render file: 'invoice_texts/invoice_texts_p2/leaseholders_notice_head.txt' %>
		<br>
		<%= render file: 'invoice_texts/invoice_texts_p2/leaseholders_notice1.txt' %>
	</p>
	<p>
		<%= render file: 'invoice_texts/invoice_texts_p2/leaseholders_notice2.txt' %>
	</p>
	<p>
		<%= render file: 'invoice_texts/invoice_texts_p2/landload_notes_head.txt' %>
		<br>
		<%= render file: 'invoice_texts/invoice_texts_p2/landload_notes1.txt' %>
	</p>
	<p>
		<%= render file: 'invoice_texts/invoice_texts_p2/landload_notes2.txt' %>
	 </p>
</div>
