<div class='p2head'>
	<%= sheet.invoice_name %>
	<br>
  <%= sheet.address.road_no %>
  <%= sheet.address.road %>
  <%= sheet.address.town %>
  <%= sheet.address.county %>
  <%= sheet.address.postcode %>	<br>
	Telephone: <%= sheet.phone %>
	<br>
	VAT Reg No: <%= sheet.vat %>
</div>
<br>

<% page2 = Sheet.find(2) %>

<div class='actref'>
	 <%= page2.heading1 %>
</div>
<br>
