<div class='insert'>
  [insert name of landlord(s) or if payment should be made to an agent name of agent]
</div>

<div class='widemargin'>
  Payment should be made to <%= template.invoice_name %>
</div>
<div class='insert'>
  [insert address]
</div>

<div class='widemargin'>
  at <%= template.address.road_no %>
  <%= template.address.road %>
  <%= template.address.town %>
  <%= template.address.county %>
  <%= template.address.postcode %>
</div>
