<div class='insert'>
  [insert name of landlord(s) or if payment should be made to an agent name of agent]
</div>

<div class='widemargin'>
  Payment should be made to <%= render file: 'invoice_texts/name.txt' %>
</div>
<div class='insert'>
  [insert address]
</div>

<div class='widemargin'>
  at <%= render file: 'invoice_texts/add1.txt' %>
  <%= render file: 'invoice_texts/add2.txt' %>
  <%= render file: 'invoice_texts/add3.txt' %>
  <%= render file: 'invoice_texts/postcode.txt' %>
</div>
