<%= render 'invoice_page2/print_p2_heading',sheet: Sheet.find(1) %>
<% @sheet = Sheet.find(2) %>
<div class='res-longlease'>
  <%= @sheet.heading2 %> <%= object.human_ref %>
</div>
<p>
</p>

<div class='insert'>
  [insert name(s) of leaseholder(s)] (note 1)
</div>
<div class='widemargin'>
  To
  <% if object.entities.any? %>
    <% object.entities.each do |entity| %>
      <%= render 'entities/view', object: entity %>
    <% end %>
  <% end %>
</div>

<div class='insert'>
  [address of premises to which the long lease releates]
  <%= @sheet.notices[0].instruction %>
</div>
<div class='widemargin'>
  This notice is given in respect of
  <br>
   <%= render 'addresses/view', lines: object.address.address_lines %>
</div>

<div class='insert'>
  [insert date {note 2)}]
</div>
<div class='widemargin'>
  It requires you to pay rent of <%= due_object %> on <%= date_object %>
</div>
<br>

<div class='insert'>
  [state period]
</div>
<div class='widemargin'>
  The rent is payable in respect of the period
</div>
<br>

<%= render 'invoice_page2/print_payto_agent_address', sheet: Sheet.find(1) %>

<div class='insert'>
  [insert name of landlord(s) and if not given above, address]
</div>

<div class='widemargin'>
  This notice is given by <%= object.client.entities.full_name %>
  <br>
  <%= render 'addresses/view_on_one_line', addressee: object.client %>
</div>

<%= render 'invoice_page2/print_notices_notes',sheet: Sheet.find(2) %>
