<%= render 'invoice_page2/print_p2_heading',template: Template.find(1) %>
<% @template = Template.find(2) %>
<div class='res-longlease'>
  <%= @template.heading2 %> <%= object.human_ref %>
</div>
<p>
</p>

<div class='insert'>
  <%= template.guide.instruction[0] %>
</div>
<div class='widemargin'>
  <%= template.guide.fillin[0] %>
    <% if object.entities.any? %>
    <% object.entities.each do |entity| %>
      <%= render 'entities/view', object: entity %>
    <% end %>
  <% end %>
</div>

<div class='insert'>
  <%= template.guide.instruction[1] %>
</div>
<div class='widemargin'>
  <%= template.guide.fillin[1] %>
</div>

<div class='insert'>
  <%= template.guide.instruction[2] %>
</div>
<div class='widemargin'>
  <%= template.guide.fillin[2] %>
  <%= due_object %> on <%= date_object %>
</div>

<div class='insert'>
  <%= template.guide.instruction[3] %>
</div>
<div class='widemargin'>
  <%= template.guide.fillin[3] %>
</div>

<div class='insert'>
  <%= template.guide.instruction[4] %>
</div>
<div class='widemargin'>
  <%= template.guide.fillin[4] %>
</div>

<div class='insert'>
  <%= template.guide.instruction[5] %>
</div>
<div class='widemargin'>
  <%= template.guide.fillin[5] %>
  <%= Template.find(1).invoice_name %>
</div>

<div class='insert'>
  <%= template.guide.instruction[6] %>
</div>
<div class='widemargin'>
</div>

<div class='insert'>
  <%= template.guide.instruction[6] %>
</div>
<div class='widemargin'>
  <%= template.guide.fillin[7] %>
  <%= object.client.entities.full_name %>
  <br>
  <%= render 'addresses/view_on_one_line', addressee: object.client %>
</div>

<%= render 'invoice_page2/print_notices_notes',template: Template.find(2) %>
<div class='page-break grid-row'>&nbsp;</div>
