<div class ="p2head">
	<%= render file: 'invoice_texts/name.txt' %>
	<br>
	<%= render file: 'invoice_texts/add1.txt' %>
	<%= render file: 'invoice_texts/add2.txt' %>
	<%= render file: 'invoice_texts/add3.txt' %>
	<%= render file: 'invoice_texts/postcode.txt' %>
	<br>
	Telephone: <%= render file: 'invoice_texts/phone.txt' %>
	<br>
	VAT Reg No: <%= render file: 'invoice_texts/vat.txt' %>
</div>
<br>
<div class ="actref">
	<%= render file: 'invoice_texts/invoice_texts_p2/actref.txt' %>
</div>
<br>
