<div class='insert'>
  [insert name of landlord(s) or if payment should be made to an agent name of agent]
</div>

<div class='widemargin'>
  Payment should be made to <%= sheet.invoice_name %>
</div>
<div class='insert'>
  [insert address]
</div>

<div class='widemargin'>
  at <%= sheet.address.road_no %>
  <%= sheet.address.road %>
  <%= sheet.address.town %>
  <%= sheet.address.county %>
  <%= sheet.address.postcode %>
</div>
