<div class='p2head'>
	<%= template.invoice_name %>
	<br>
  <%= template.address.road_no %>
  <%= template.address.road %>
  <%= template.address.town %>
  <%= template.address.county %>
  <%= template.address.postcode %>	<br>
	Telephone: <%= template.phone %>
	<br>
	VAT Reg No: <%= template.vat %>
</div>
<br>

<% page2 = ::Template.find(2) %>

<div class='actref'>
	 <%= page2.heading1 %>
</div>
<br>
