<div class='insert'>
	<%= render file: 'invoice_texts/invoice_texts_p2/insert5.txt' %>
</div>

<div class='widemargin'>
	Payment should be made to <%= render file: 'invoice_texts/name.txt' %>
</div>
<div class='insert'>
	<%= render file: 'invoice_texts/invoice_texts_p2/insert6.txt' %>
</div>

<div class='widemargin'>
	at <%= render file: 'invoice_texts/add1.txt' %>
	<%= render file: 'invoice_texts/add2.txt' %>
	<%= render file: 'invoice_texts/add3.txt' %>
	<%= render file: 'invoice_texts/postcode.txt' %>
</div>
</p>
<p>
