<% charge_dec = ChargeDecorator.new charge %>
<div class='<%= charge_dec.style_emphasis %>'>
  <div class='col-9-24  grid-row  bottom-spacer'>
    <%= charge_dec.charge_type %>
  </div>
  <div class='col-3-24  bottom-spacer  r-align'>
    <%= number_to_currency charge_dec.amount %>
  </div>
  <div class='col-10-24  bottom-spacer'>
    <% if charge_dec.monthly? %>
      <%= render partial: 'due_ons/due_on_monthly', object: charge_dec.cycle.due_ons.first %>
    <% elsif %>
      <%= render partial: 'due_ons/due_on_term', collection: charge_dec.cycle.due_ons %>
    <% end %>
  </div>
  <div class='col-2-24  bottom-spacer  c-align'>
    <%= charge_dec.dormant %>
  </div>
</div>