<% flash.each do |key, value| %>
  <div class="js-slow-time flash <%= key %>">
    <% case key.to_sym %>
    <% when :save %>
      <%= fa_icon 'save lg', title: 'save' %>
    <% when :delete %>
      <%= fa_icon 'trash lg', title: 'delete' %>
    <% when :info %>
      <%= fa_icon 'info lg', title: 'Information' %>
    <% else  %>
      <%= fa_icon 'question lg', title: 'Unknown' %>
    <% end  %>
    &nbsp;<%= content_tag(:message, value) %>
  </div>
<% end %>
