<header>
  <div class="grid grid-pad">
    <div class="col-2-8">
      <h2><%= link_to 'Adams Lettings', root_path, class: 'hover-link inverted-link' %></h2>
    </div>
    <div class="col-4-8">
      <div class="no-print">
        <div class="col-1-1">
          &nbsp;
        </div>
        <div class="col-1-1">
          <div class='form-wrapper'>
            <%= form_tag send("search_#{params[:controller]}_path"), method: 'get' do %>
              <%= text_field_tag :search , params[:search], placeholder: 'Search here...', data: {autocomplete_source: search_properties_path}, autofocus:true, class: 'max-3-4' %>
              <button type="submit" class='max-1-4'>Search</button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2-8">
      <nav>
        <div class="col-2-24">
          &nbsp;
        </div>
        <div class="col-11-24">
          <% if current_user %>
           <i class="fa fa-user"></i>&nbsp;<%= current_user.nickname %>
          <% else %>
            <%= link_to 'Log In', login_path, class: 'inverted-link'  %>
          <% end %>
        </div>
        <div class="col-11-24">
          <% if current_user %>
           <i class="fa fa-sign-out"></i><%= link_to 'Log Out', logout_path, class: 'inverted-link' %>
          <% else %>
            <%= link_to 'Log In', login_path, class: 'inverted-link'  %>
          <% end %>
        </div>
        <div class="col-2-24">
          &nbsp;
        </div>
        <div class="col-11-24">
          <i class="fa fa-print"></i>&nbsp;<%= link_to 'Print', '#', class: 'js-print-window inverted-link'%>
        </div>
        <div class="col-11-24">
          &nbsp;
        </div>
      </nav>
    </div>
  </div>
</header>
