<header>
  <div class='grid  grid-pad'>

    <div class='col-6-24  grid-row'>
      <h2><%= link_to 'Adams Lettings', root_path, class: 'hover-link inverted-link' %></h2>
    </div>

    <div class='col-12-24  top-line-spacer  no-print'>
      <div class='form-wrapper  clearfix'>
          <%= form_tag search_path, method: 'get' do %>
          <%= text_field_tag :search_terms, params[:search_terms], placeholder: 'Search here...', title: 'Search', data: {autocomplete_source: search_path}, autofocus:true %>
          <button type='submit' id='search' title='Search'>
            <%= fa_icon('search lg') %>
          </button>
          <% if controller.new_invoicing? %>
            <%= render 'invoicings/search' %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class='col-6-24'>
      <nav>
        <% if current_user %>
          <%= fa_icon 'user lg', title: 'User', class: 'vertical-line-spacer' %>
          &nbsp;
          <%= current_user.nickname %>
          &nbsp;
          <%= link_to fa_icon('sign-out  lg'), logout_path, id: 'logout', title: 'Log Out', class: 'inverted-link  vertical-line-spacer  r-pad' %>
        <% else %>
          <%= link_to fa_icon('sign-in  lg'), logout_path, title: 'Log In', class: 'inverted-link  vertical-line-spacer  r-pad' %>
        <% end %>
        <%= link_to fa_icon('print  lg'), '#',title: 'Print', class: 'js-print  inverted-link  vertical-line-spacer  r-pad' %>
      </nav>
    </div>
  </div>
</header>
