<header>
  <div class="grid grid-pad">
    <div class="col-2-8">
      <h2><%= link_to 'Adams Lettings', root_path, class: 'hover-link inverted-link' %></h2>
    </div>

    <div class="col-4-8">
      <div class="no-print">
        <div class="col-1-1">
          &nbsp;
        </div>
        <div class="col-1-1">
          <div class='form-wrapper'>
            <%= form_tag search_path, method: 'get' do %>
              <%= text_field_tag :search_terms, params[:search_terms], placeholder: 'Search here...', title: 'Search', data: {autocomplete_source: search_path}, autofocus:true, class: 'max-3-4' %>
              <button type="submit" class='max-1-4' id = 'search' title = 'Search' ><i class= 'fa fa-search fa-lg'></i></button>
              <% if controller.controller_name == 'debit_generators' &&controller.action_name == 'new' %>
                <div class='js-toggle-selection'>
                  <div class='js-togglable'>
                    <h4>Search for new charges within the next 8 weeks
                      <a href='#' class='js-toggle '> or choose dates</a>
                    </h4>
                  </div>
                  <div class='js-togglable js-revealable'>
                    <h4>Search for new charges within choosen dates
                      <a href='#' class='js-toggle '> or default to the next 8 weeks</a>
                    </h4>
                    <div class="col-1-2">
                      <%= label_tag :start_date %>
                      <%= date_field_tag :start_date  %>
                    </div>
                    <div class="col-1-2">
                      <%= label_tag :end_date %>
                      <%= date_field_tag :end_date %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2-8">
      <nav>
        <% if current_user %>
          <i class="fa fa-user fa-lg", title = 'User' ></i>&nbsp;
          <%= current_user.nickname %>
          <%= link_to fa_icon('sign-out lg'), logout_path, title: 'Log Out', class: 'inverted-link ll-pad' %>
          <%= link_to 'Log Out', logout_path, id: 'logout', class: 'inverted-link r-pad hide' %>
        <% else %>
          <%= link_to fa_icon('sign-in lg'), logout_path, title: 'Log In', class: 'inverted-link ll-pad' %>
          <%= link_to 'Log In', login_path, class: 'inverted-link hide' %>
        <% end %>
        <%= link_to fa_icon('print lg'), '#',title: 'Print', class: 'js-print-window inverted-link l-pad' %>&nbsp;
        <%= link_to 'Print', '#', class: 'js-print-window inverted-link hide'%>
      </nav>
    </div>
  </div>
</header>
