<header>
  <div class="grid grid-pad">
    <div class="col-2-3">
      <h1><%= link_to 'Adams Lettings', root_path, class: 'hover-link inverted-link' %></h1>
    </div>
    <div class="col-1-3">
      <nav>
        <% if current_user %>
         <%= current_user.email %>
         <%= link_to 'Log Out', logout_path, class: 'inverted-link' %>
        <% else %>
          <%= link_to 'Log In', login_path, class: 'inverted-link'  %>
        <% end %>
        <% if allow? "users", "" %>
          <%= link_to 'Admin', users_path, class: 'inverted-link' %>
        <% end %>
        <%= link_to 'Print This Page', '#', class: 'print-windowinverted-link'%>
      </nav>
    </div>
  </div>
</header>
