<% if allow? "users", "" %>
  <nav class='nav-shell'>
    <ul class='shell'>
      <h4>&nbsp;Admin</h4>
      <li class="<%= main_menu_active? "cycles" %>"><%= link_to 'Cycles', cycles_path %></li>
      <li class="active-subnav <%= sub_menu_folded? 'cycles' %>"><%= link_to 'New Cycle', new_cycle_path(cycle_type: 'term') %></li>
      <li class="active-subnav <%= sub_menu_folded? 'cycles' %>"><%= link_to 'New Monthly Cycle', new_cycle_path(cycle_type: 'monthly') %></li>

      <li class="<%= main_menu_active? 'users' %>"><%= link_to 'Users', users_path %></li>
      <li class="active-subnav <%= sub_menu_folded? 'users' %>"><%= link_to 'New User', new_user_path %></li>
      <li class="<%= main_menu_active? 'templates' %>"><%= link_to 'Invoice Text', templates_path %></li>
    </ul>
  </nav>
<% end %>

<nav class='nav-shell'>
  <ul class='shell'>
    <h4>&nbsp;Menu</h4>
    <li class="<%= main_menu_active? 'properties' %>"><%= link_to 'Accounts', properties_path %></li>
    <li class="active-subnav <%= sub_menu_folded? 'properties' %>"><%= link_to 'New Account', new_property_path %></li>
    <li class="<%= main_menu_active? "clients" %>"><%= link_to 'Clients', clients_path %></li>
    <li class="active-subnav <%= sub_menu_folded? 'clients' %>"><%= link_to 'New Client', new_client_path %></li>

    <li class="<%= main_menu_active? 'invoicings' %>"><%= link_to 'New Invoicing', new_invoicing_path %></li>
    <li class="active-subnav <%= main_menu_active? 'invoicings' %>"><%= link_to 'Invoicings', invoicings_path %></li>

    <li class="<%= main_menu_active? "payments" %>"><%= link_to 'New Payment', new_payment_path %></li>
    <li class="active-subnav <%= sub_menu_folded? 'payments' %>"><%= link_to 'Payments', payments_path %></li>
  </ul>
</nav>
