<nav>
  <ul class='shell'>
    <li><%= link_to 'Accounts', properties_path %></li>
    <li><%= link_to 'New Account', new_property_path %></li>
    <li><%= link_to 'Clients', clients_path %></li>
    <li><%= link_to 'New Client', new_client_path %></li>
    <li><%= link_to 'Invoice Batches', debit_generators_path %></li>
    <li><%= link_to 'New Invoice Batch', new_debit_generator_path %></li>
    <li><%= link_to 'Payments Entered', payments_path %></li>
    <li><%= link_to 'New Payment', new_payment_path %></li>
  </ul>
</nav>