<p>
<%= link_to 'Properties', properties_path %>
</p>
<p>
<%= link_to 'Add New Property', new_property_path %>
</p>
<p>
<%= link_to 'Blocks', blocks_path %>
</p>
<p>
<%= link_to 'Add New Block', new_block_path %>
</p>
<p>
<%= link_to 'Clients', clients_path %>
</p>
<p>
<%= link_to 'Add New Client', new_client_path %>
</p>