<% if allow? "users", "" %>
  <nav class='nav-shell'>
    <ul class='shell'>
      <h4>&nbsp;Admin</h4>
      <li class="<%= main_menu_active? ['cycles'] %>"><%= link_to 'Cycles', cycles_path %></li>
      <li class="active-subnav <%= sub_menu_state ['cycles'] %>"><%= link_to 'New Term Cycle', new_cycle_path(cycle_type: 'term') %></li>
      <li class="active-subnav <%= sub_menu_state ['cycles'] %>"><%= link_to 'New Monthly Cycle', new_cycle_path(cycle_type: 'monthly') %></li>
      <li class="<%= main_menu_active? ['invoice_texts'] %>"><%= link_to 'Invoice Text', invoice_texts_path %></li>
      <li class="<%= main_menu_active? ['users'] %>"><%= link_to 'Users', users_path %></li>
      <li class="active-subnav <%= sub_menu_state ['users'] %>"><%= link_to 'New User', new_user_path %></li>
    </ul>
  </nav>
<% end %>

<nav class='nav-shell'>
  <ul class='shell'>
    <h4>&nbsp;Menu</h4>
    <li class="<%= main_menu_active? ['properties', 'arrears'] %>"><%= link_to 'Accounts', properties_path %></li>
    <li class="active-subnav <%= sub_menu_state ['properties', 'arrears'] %>"><%= link_to 'New Account', new_property_path %></li>
    <li class="active-subnav <%= sub_menu_state ['properties', 'arrears'] %>"><%= link_to 'Arrears List', arrears_path %></li>
    <li class="<%= main_menu_active? ['clients', 'client_payments'] %>"><%= link_to 'Clients', clients_path %></li>
    <li class="active-subnav <%= sub_menu_state ['clients', 'client_payments'] %>"><%= link_to 'New Client', new_client_path %></li>
    <li class="<%= main_menu_active? ['invoicings', 'blue_invoicings', 'invoices'] %>"><%= link_to 'Invoicing', invoicings_path %></li>
    <li class="active-subnav <%= sub_menu_state ['invoicings', 'blue_invoicings', 'invoices'] %>"><%= link_to 'New Invoicing', new_invoicing_path %></li>
    <li class="active-subnav <%= sub_menu_state ['invoicings', 'blue_invoicings', 'invoices'] %>"><%= link_to 'Blue invoicings', blue_invoicings_path %></li>
    <li class="<%= main_menu_active? ['payments'] %>"><%= link_to 'Payments', payments_path %></li>
    <li class="active-subnav <%= sub_menu_state ['payments'] %>"><%= link_to 'New Payment', new_payment_path %></li>
  </ul>
</nav>
