<!DOCTYPE html>
<html>
  <head>
    <title>Letting - <%= @title%></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/flashes' %>
    <div class='page-wrapper'>
      <div class="grid">
        <article class="col-21-24">
          <% if content_for?(:heading) %>
            <%= yield :heading %>
          <% else %>
            <h2><%= @title %></h2>
          <% end %>
          <%= yield %>
        </article>
        <aside class="col-3-24 no-r-pad">
          <%= render 'layouts/sidebar' %>
        </aside>
      </div>
    </div>
    <%= render 'layouts/footer' %>

  </body>
</html>
