<!DOCTYPE html>
<html>
  <head>
    <title>Letting</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/flashes' %>
    <div class="grid grid-pad">
      <article class="col-3-4">
        <% if content_for?(:heading) %>
          <%= yield :heading %>
        <% else %>
          <h2 class="main-heading"><%= @title %></h2>
        <% end %>
        <%= yield %>
      </article>
      <aside class="col-1-4">
        <% if @title.include? 'User'  %>
          <%= render 'layouts/sidebar_admin' %>
        <% else %>
          <%= render 'layouts/sidebar' %>
        <% end %>
      </aside>
    </div>
    <%= render 'layouts/footer' %>

  </body>
</html>
