<!DOCTYPE html>
<html>
<head>
  <title>Letting</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/flashes' %>
<%= render 'layouts/header' %>


<div class="grid">
  <div class="col-2-3">
     <article class="module">
        <%= yield %>
     </article>
  </div>
  <div class="col-1-3">
    <aside class="module">
      <%= render 'layouts/sidebar' %>
    </aside>
  </div>
</div>

<%= render 'layouts/footer' %>

</body>
</html>
