<!DOCTYPE html>
<html>
<head>
  <title>Letting</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
 <%= render 'layouts/header' %>
 <%= render 'layouts/flashes' %>

<div class="setleftmargin">
<div class="grid outergrid">
  <div class="col-3-4">
     <article class="module">
        <%= yield %>
     </article>
  </div>
  <div class="col-1-4">
    <aside class="module">
      <%= render 'layouts/sidebar' %>
    </aside>
  </div>
</div>
</div>
<%= render 'layouts/footer' %>

</body>
</html>
