<!DOCTYPE html>
<html>
  <%= render 'layouts/head', title: @title %>
  <body onLoad='print_n_ret()'>
    <%= render 'layouts/header' %>
    <div class='page-wrapper'>
      <article>
        <h2 class = 'no-print'><%= @title %></h2>
        <%= yield %>
      </article>
      <aside class = 'side-wrap  float-right  no-print'>
        <%= render 'layouts/sidebar' %>
      </aside>
    </div>
  </body>
</html>
