<!DOCTYPE html>
<html>
  <%= render 'layouts/head', title: @title %>
  <body>
    <%= render 'layouts/header' %>
    <div class='view-wrapper'>
      <h2 class = 'no-print'><%= @title %></h2>
      <%= yield %>
      <div class = 'side-wrap  float-right'>
        <%= render 'layouts/sidebar' %>
      </div>
    </div>
  </body>
</html>
