<div class = 'showbox'>
  <h3>Account Details</h3>
  <table>
    <thead>
      <tr>
        <th>
          Date
        </th>
        <th>
          Type
        </th>
        <th>
          Description
        </th>
        <th class='alnright'>
          Due
        </th>
        <th class='alnright'>
          Payment
        </th>
        <th class='alnright'>
          Balance
        </th>
      </tr>
    </thead>
    <tbody>
      <% total = 0 %>
      <% account.items.each do |item| %>
        <tr>
          <td>
           <%= item.date %>
          </td>
          <td>
            <%= item.charge_type %>
          </td>
          <td>
          </td>
          <td class='alnright'>
            <%= item.due %>
          </td>
          <td class='alnright'>
            <%= item.payment %>
          </td>
          <td class='alnright'>
            <%= number_with_precision(total = total + item.balance,precision: 2) %>
          </td>
        </tr>
      <% end %>

    </tbody>
  </table>
</div>
